In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [3]:
col_names = ['Indicator','check', 'Data Source','Data Link','Raw/Index','Filename','Sub-Pillar']

In [4]:
names = names[col_names]

In [5]:
names.head()

,Indicator,check,Data Source,Data Link,Raw/Index,Filename,Sub-Pillar
0,Countries,NaN,UN Statistics Division: List of Countries,https://unstats.un.org,Raw,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",NaN,NaN,https://gadm.org,Raw,NaN,NaN
2,High Resolution Population Density Maps + Demo...,NaN,NaN,NaN,NaN,NaN,NaN
3,population density vs openstreetmap object den...,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Density,Infrastructure,World Bank: World Development Indicators,https://datacatalog.worldbank.org,Raw,population_density,Connectivity Technology

In [6]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [7]:
data_stats

                Filename  Indicator
check
Business              18         27
Foundations           13         22
Government            10         15
Infrastructure        47         58
People                35         49
Regulation             5          8
Strategy               1          1

### Business

In [8]:
bnames = names[(names.check=='Business')&(~names.Filename.isna())]#&(names.Index==False)]

In [9]:
bnames.head(25)

,Indicator,check,Data Source,Data Link,Raw/Index,Filename,Sub-Pillar
86,UNCTAD Business-to-Consumer (B2C) E-commerce I...,Business,UNCTAD: Business-to-Consumer (B2C) E-commerce...,https://unctad.org,Index,b2c_ecommerse_idx,Technology Adoption
87,"Networking Services (Spend, IT Forecast Data)",Business,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,Index,network_readiness_index,Technology Adoption
92,"Cloud Services (Spend, IT Forecast Data)",Business,Statista,https://www.statista.com,Index,cloud_services,Technology Adoption
93,ICT task-intensive jobs as a percentage of tot...,Business,OECD: Going Digital Toolkit,http://goingdigital.oecd.org,Index,ICT_proportion,Technology Adoption
96,Share of business with internet,Business,OECD: ICT Access and Usage by Businesses,https://stats.oecd.org,Index,business_internet,Technology Adoption
97,Share of businesses with broadband,Business,OECD: Innovation Indicators,https://www.oecd.org/innovation/inno/inno-stat...,Index,business_broadband,Technology Adoption
98,Share of businesses with online presence,Business,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,Index,share_of_businesses_online_presence,Technology Adoption
99,Size of gig economy (% of GDP),Business,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,Index,prevalance_gig_economy,Technology Adoption
100,Size of digital economy (% of transactions),Business,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,Index,size_digital_economy,Technology Adoption
101,Venture Capital Availability,Business,World Economic Forum: Global Competitiveness I...,http://reports.weforum.org,Index,TCdata360,Financing Incentives
102,Doing Business Index,Business,World Bank: Doing Business,https://datacatalog.worldbank.org,Index,doing_bus_idx,Startup Environment
104,Strength of Legal Rights,Business,World Bank: World Development Indicators,https://datacatalog.worldbank.org,Index,legal_rights_strength,Startup Environment
105,Time to Start a Business,Business,World Bank: World Development Indicators,https://datacatalog.worldbank.org,Raw,time_start_bus,Startup Environment
106,Ease of Doing Business,Business,World Bank: Doing Business rankings,https://datacatalog.worldbank.org,NaN,ease_doing_bus,Startup Environment
109,Ease of finding skilled employees,Business,World Bank: GovData,https://datacatalog.worldbank.org,Index,ease_of_finding_skilled_employees,Startup Environment
110,Amount invested into startups yearly from priv...,Business,OECD: Venture capital investments,https://stats.oecd.org,Raw,start_up_investment,Startup Environment
111,Regulatory Quality,Business,Global Innovation Index/World Bank: Regulatory...,https://www.globalinnovationindex.org/analysis...,Index,global_innovation_dataset,Startup Environment
112,Ease of Getting Credit,Business,Global Innovation Index/World Bank: Ease of Ge...,https://www.globalinnovationindex.org/analysis...,Index,global_innovation_dataset,Startup Environment

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['Sub-Pillar'].unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['b2c_ecommerse_idx', 'network_readiness_index', 'cloud_services',
       'ICT_proportion', 'business_internet', 'business_broadband',
       'share_of_businesses_online_presence', 'prevalance_gig_economy',
       'size_digital_economy', 'TCdata360', 'doing_bus_idx',
       'legal_rights_strength', 'time_start_bus', 'ease_doing_bus',
       'ease_of_finding_skilled_employees', 'start_up_investment',
       'global_innovation_dataset'], dtype=object)

In [13]:
subpillars

array(['Technology Adoption', 'Financing Incentives',
       'Startup Environment'], dtype=object)

In [14]:
# ls digital-readiness-assessment-main/processed/

In [15]:
# formula for converting scale 0-100
def convert_rank(old_value, old_min=min, old_max=max, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [16]:
# formula for converting scale 1-7
def convert_rank_b(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [17]:
# formula for converting scale 0-12
def convert_rank_c(old_value, old_min=0, old_max=12, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [18]:
### Add population dataset
df = pd.read_csv('../../processed/Population.csv')

# Normalize country names as much as possible
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
df['Country Name'] = df['Country Name'].replace('Bahrain (Kingdom of)','Bahrain')
df['Country Name'] = df['Country Name'].replace('Bolivia','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Bolivia, Plurinational State of','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Brunei','Brunei Darussalam')
df['Country Name'] = df['Country Name'].replace('Bulgaria (Rep.)','Bulgaria')
df['Country Name'] = df['Country Name'].replace('Central African Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Central African Rep.','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace("China (People's Rep.)",'China')
df['Country Name'] = df['Country Name'].replace("Comoros",'Comoros (the)')
df['Country Name'] = df['Country Name'].replace("Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Brazzaville)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Rep. of the)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Democratic Republic of the)",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, Dem. Rep.",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, The Democratic Republic of the",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("DR Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Dem. Rep. of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Cote d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Côte d’Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote D'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote dIvoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cōte d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Ivory Coast","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Dem. People's Rep. of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Democratic People's Republic of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Korea, Dem. People's Rep.","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("North Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].replace("Eswatini (Kingdom of)",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Swaziland",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Faröe Islands",'Faroe Islands')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
df['Country Name'] = df['Country Name'].replace("Georgia (Country)",'Georgia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
df['Country Name'] = df['Country Name'].replace("Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep. of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep.)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Republic of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea, South",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("South Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Republic of Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
df['Country Name'] = df['Country Name'].replace("Morroco",'Morocco')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].replace("Niger",'Niger (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
df['Country Name'] = df['Country Name'].replace("West Bank and Gaza",'State of Palestine (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
df['Country Name'] = df['Country Name'].replace("Republic of the Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
df['Country Name'] = df['Country Name'].replace("Russia",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].replace("Russian Federation",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
df['Country Name'] = df['Country Name'].replace("UAE",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("U.A.E",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("United Arab Emirates",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace('United Kingdom','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('UK','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("Great Britain",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("United Kingdom of Great Britain and Northern Ireland",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('Vietnam','Viet Nam')
df['Country Name'] = df['Country Name'].replace('United States','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('USA','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('United States of America','United States of America (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
df['Country Name'] = df['Country Name'].replace('Sint Maarten','Saint Martin')
df['Country Name'] = df['Country Name'].replace('St. Martin (French part)','Saint Martin (French Part)')
df['Country Name'] = df['Country Name'].replace('Sint Maarten (Dutch part)','Saint Martin (Dutch Part)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
df['Country Name'] = df['Country Name'].replace('Congo, Democratic Republic','Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo, Rep.','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo (Rep.)','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
df['Country Name'] = df['Country Name'].replace('Eq. Guinea','Equatorial Guinea')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].replace('C.A. Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Ant.& Barb.','Antigua and Barbuda')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
df['Country Name'] = df['Country Name'].replace('Domin. Rep.','Dominican Republic (the)')
df['Country Name'] = df['Country Name'].replace('Dominica (Commonwealth of)','Dominica')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
df['Country Name'] = df['Country Name'].replace('R. of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].replace('Curacao','Curaçao')
df['Country Name'] = df['Country Name'].replace('Reunion','Réunion')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

pop = df
pop

<ipython-input-18-35a075b1c6b0>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
<ipython-input-18-35a075b1c6b0>:29: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
<ipython-input-18-35a075b1c6b0>:36: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
<ipython-input-18-35a075b1c6b0>:37: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
<ipython-input-18-35a075b1c6b0>:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-18-35a075b1c6b0>:39: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-18-35a075b1c6b0>:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
<ipython-input-18-35a075b1c6b0>:45: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
<ipython-input-18-35a075b1c6b0>:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
<ipython-input-18-35a075b1c6b0>:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
<ipython-input-18-35a075b1c6b0>:56: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
<ipython-input-18-35a075b1c6b0>:57: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
<ipython-input-18-35a075b1c6b0>:58: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
<ipython-input-18-35a075b1c6b0>:59: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
<ipython-input-18-35a075b1c6b0>:60: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
<ipython-input-18-35a075b1c6b0>:62: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
<ipython-input-18-35a075b1c6b0>:63: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-18-35a075b1c6b0>:65: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
<ipython-input-18-35a075b1c6b0>:66: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-18-35a075b1c6b0>:67: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
<ipython-input-18-35a075b1c6b0>:69: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
<ipython-input-18-35a075b1c6b0>:70: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
<ipython-input-18-35a075b1c6b0>:72: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
<ipython-input-18-35a075b1c6b0>:73: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
<ipython-input-18-35a075b1c6b0>:76: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
<ipython-input-18-35a075b1c6b0>:77: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
<ipython-input-18-35a075b1c6b0>:78: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
<ipython-input-18-35a075b1c6b0>:79: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
<ipython-input-18-35a075b1c6b0>:80: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
<ipython-input-18-35a075b1c6b0>:81: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
<ipython-input-18-35a075b1c6b0>:82: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
<ipython-input-18-35a075b1c6b0>:83: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
<ipython-input-18-35a075b1c6b0>:84: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
<ipython-input-18-35a075b1c6b0>:85: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
<ipython-input-18-35a075b1c6b0>:97: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
<ipython-input-18-35a075b1c6b0>:98: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
<ipython-input-18-35a075b1c6b0>:99: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
<ipython-input-18-35a075b1c6b0>:100: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
<ipython-input-18-35a075b1c6b0>:101: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
<ipython-input-18-35a075b1c6b0>:102: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
<ipython-input-18-35a075b1c6b0>:103: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
<ipython-input-18-35a075b1c6b0>:104: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
<ipython-input-18-35a075b1c6b0>:105: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
<ipython-input-18-35a075b1c6b0>:109: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
<ipython-input-18-35a075b1c6b0>:110: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
<ipython-input-18-35a075b1c6b0>:115: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
<ipython-input-18-35a075b1c6b0>:116: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
<ipython-input-18-35a075b1c6b0>:117: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
<ipython-input-18-35a075b1c6b0>:118: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
<ipython-input-18-35a075b1c6b0>:119: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
<ipython-input-18-35a075b1c6b0>:120: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
<ipython-input-18-35a075b1c6b0>:121: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
<ipython-input-18-35a075b1c6b0>:123: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
<ipython-input-18-35a075b1c6b0>:126: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
<ipython-input-18-35a075b1c6b0>:129: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
<ipython-input-18-35a075b1c6b0>:131: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
<ipython-input-18-35a075b1c6b0>:132: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
<ipython-input-18-35a075b1c6b0>:133: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
<ipython-input-18-35a075b1c6b0>:136: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,2020,Country Name,Country Code,Indicator Name,Indicator Code
0,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,58377.0,58734.0,...,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,Aruba,ABW,"Population, total",SP.POP.TOTL
1,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,161156430.0,165611760.0,...,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL
2,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,10637064.0,10893772.0,...,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,Afghanistan,AFG,"Population, total",SP.POP.TOTL
3,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,114781116.0,117468741.0,...,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL
4,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,5771973.0,5803677.0,...,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,Angola,AGO,"Population, total",SP.POP.TOTL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,1163000.0,1191000.0,...,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0,Kosovo (UNSCR 1244),XKX,"Population, total",SP.POP.TOTL
262,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,5816241.0,5907873.0,6001858.0,6097042.0,...,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,Yemen,YEM,"Population, total",SP.POP.TOTL
263,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,19888259.0,20406863.0,20942147.0,21496075.0,...,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0,South Africa,ZAF,"Population, total",SP.POP.TOTL
264,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,3681953.0,3797877.0,3918872.0,4045740.0,...,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,Zambia,ZMB,"Population, total",SP.POP.TOTL
265,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,4623340.0,4779825.0,4941901.0,5111326.0,...,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL

In [19]:
### Add country's area dataset
### Add population dataset
df = pd.read_csv('../../processed/GDP.csv')

# Normalize country names as much as possible
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
df['Country Name'] = df['Country Name'].replace('Bahrain (Kingdom of)','Bahrain')
df['Country Name'] = df['Country Name'].replace('Bolivia','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Bolivia, Plurinational State of','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Brunei','Brunei Darussalam')
df['Country Name'] = df['Country Name'].replace('Bulgaria (Rep.)','Bulgaria')
df['Country Name'] = df['Country Name'].replace('Central African Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Central African Rep.','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace("China (People's Rep.)",'China')
df['Country Name'] = df['Country Name'].replace("Comoros",'Comoros (the)')
df['Country Name'] = df['Country Name'].replace("Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Brazzaville)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Rep. of the)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Democratic Republic of the)",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, Dem. Rep.",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, The Democratic Republic of the",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("DR Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Dem. Rep. of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Cote d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Côte d’Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote D'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote dIvoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cōte d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Ivory Coast","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Dem. People's Rep. of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Democratic People's Republic of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Korea, Dem. People's Rep.","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("North Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].replace("Eswatini (Kingdom of)",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Swaziland",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Faröe Islands",'Faroe Islands')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
df['Country Name'] = df['Country Name'].replace("Georgia (Country)",'Georgia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
df['Country Name'] = df['Country Name'].replace("Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep. of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep.)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Republic of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea, South",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("South Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Republic of Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
df['Country Name'] = df['Country Name'].replace("Morroco",'Morocco')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].replace("Niger",'Niger (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
df['Country Name'] = df['Country Name'].replace("West Bank and Gaza",'State of Palestine (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
df['Country Name'] = df['Country Name'].replace("Republic of the Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
df['Country Name'] = df['Country Name'].replace("Russia",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].replace("Russian Federation",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
df['Country Name'] = df['Country Name'].replace("UAE",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("U.A.E",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("United Arab Emirates",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace('United Kingdom','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('UK','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("Great Britain",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("United Kingdom of Great Britain and Northern Ireland",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('Vietnam','Viet Nam')
df['Country Name'] = df['Country Name'].replace('United States','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('USA','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('United States of America','United States of America (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
df['Country Name'] = df['Country Name'].replace('Sint Maarten','Saint Martin')
df['Country Name'] = df['Country Name'].replace('St. Martin (French part)','Saint Martin (French Part)')
df['Country Name'] = df['Country Name'].replace('Sint Maarten (Dutch part)','Saint Martin (Dutch Part)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
df['Country Name'] = df['Country Name'].replace('Congo, Democratic Republic','Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo, Rep.','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo (Rep.)','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
df['Country Name'] = df['Country Name'].replace('Eq. Guinea','Equatorial Guinea')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].replace('C.A. Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Ant.& Barb.','Antigua and Barbuda')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
df['Country Name'] = df['Country Name'].replace('Domin. Rep.','Dominican Republic (the)')
df['Country Name'] = df['Country Name'].replace('Dominica (Commonwealth of)','Dominica')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
df['Country Name'] = df['Country Name'].replace('R. of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].replace('Curacao','Curaçao')
df['Country Name'] = df['Country Name'].replace('Reunion','Réunion')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

gdp = df
gdp

<ipython-input-19-25eba6b4856e>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
<ipython-input-19-25eba6b4856e>:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
<ipython-input-19-25eba6b4856e>:37: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
<ipython-input-19-25eba6b4856e>:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
<ipython-input-19-25eba6b4856e>:39: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-19-25eba6b4856e>:40: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-19-25eba6b4856e>:44: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
<ipython-input-19-25eba6b4856e>:46: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
<ipython-input-19-25eba6b4856e>:51: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
<ipython-input-19-25eba6b4856e>:56: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
<ipython-input-19-25eba6b4856e>:57: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
<ipython-input-19-25eba6b4856e>:58: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
<ipython-input-19-25eba6b4856e>:59: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
<ipython-input-19-25eba6b4856e>:60: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
<ipython-input-19-25eba6b4856e>:61: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
<ipython-input-19-25eba6b4856e>:63: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
<ipython-input-19-25eba6b4856e>:64: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-19-25eba6b4856e>:66: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
<ipython-input-19-25eba6b4856e>:67: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-19-25eba6b4856e>:68: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
<ipython-input-19-25eba6b4856e>:70: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
<ipython-input-19-25eba6b4856e>:71: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
<ipython-input-19-25eba6b4856e>:73: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
<ipython-input-19-25eba6b4856e>:74: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
<ipython-input-19-25eba6b4856e>:77: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
<ipython-input-19-25eba6b4856e>:78: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
<ipython-input-19-25eba6b4856e>:79: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
<ipython-input-19-25eba6b4856e>:80: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
<ipython-input-19-25eba6b4856e>:81: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
<ipython-input-19-25eba6b4856e>:82: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
<ipython-input-19-25eba6b4856e>:83: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
<ipython-input-19-25eba6b4856e>:84: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
<ipython-input-19-25eba6b4856e>:85: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
<ipython-input-19-25eba6b4856e>:86: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
<ipython-input-19-25eba6b4856e>:98: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
<ipython-input-19-25eba6b4856e>:99: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
<ipython-input-19-25eba6b4856e>:100: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
<ipython-input-19-25eba6b4856e>:101: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
<ipython-input-19-25eba6b4856e>:102: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
<ipython-input-19-25eba6b4856e>:103: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
<ipython-input-19-25eba6b4856e>:104: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
<ipython-input-19-25eba6b4856e>:105: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
<ipython-input-19-25eba6b4856e>:106: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
<ipython-input-19-25eba6b4856e>:110: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
<ipython-input-19-25eba6b4856e>:111: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
<ipython-input-19-25eba6b4856e>:116: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
<ipython-input-19-25eba6b4856e>:117: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
<ipython-input-19-25eba6b4856e>:118: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
<ipython-input-19-25eba6b4856e>:119: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
<ipython-input-19-25eba6b4856e>:120: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
<ipython-input-19-25eba6b4856e>:121: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
<ipython-input-19-25eba6b4856e>:122: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
<ipython-input-19-25eba6b4856e>:124: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
<ipython-input-19-25eba6b4856e>:127: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
<ipython-input-19-25eba6b4856e>:130: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
<ipython-input-19-25eba6b4856e>:132: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
<ipython-input-19-25eba6b4856e>:133: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
<ipython-input-19-25eba6b4856e>:134: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
<ipython-input-19-25eba6b4856e>:137: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,2020,Country Name,Country Code,Indicator Name,Indicator Code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD
1,1.934248e+10,1.975349e+10,2.152662e+10,2.577236e+10,2.356323e+10,2.685135e+10,2.919650e+10,3.021907e+10,3.292707e+10,3.780176e+10,...,8.954400e+11,8.569920e+11,9.647910e+11,9.866110e+11,9.803720e+11,9.008290e+11,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD
2,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,...,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,1.980707e+10,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD
3,1.040732e+10,1.113130e+10,1.194684e+10,1.268022e+10,1.384262e+10,1.486682e+10,1.583747e+10,1.443065e+10,1.488470e+10,1.688703e+10,...,7.574920e+11,6.874850e+11,6.809890e+11,7.381310e+11,7.920790e+11,7.865850e+11,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.941719e+10,6.230691e+10,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.953156e+09,7.611402e+09,Kosovo (UNSCR 1244),XKX,GDP (current US$),NY.GDP.MKTP.CD
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.244510e+10,3.093383e+10,2.673614e+10,2.348627e+10,NaN,NaN,Yemen,YEM,GDP (current US$),NY.GDP.MKTP.CD
263,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,1.678039e+10,...,3.176210e+11,2.963570e+11,3.495540e+11,3.682890e+11,3.514320e+11,3.019240e+11,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD
264,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,1.965714e+09,...,2.125122e+10,2.095841e+10,2.587360e+10,2.631164e+10,2.330869e+10,1.932005e+10,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD
265,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,...,1.996312e+10,2.054868e+10,1.901533e+10,1.952362e+10,1.693243e+10,1.676851e+10,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD

### 1. 'UNCTAD Business-to-Consumer (B2C) E-commerce Index'

In [20]:
indicators[0]

'UNCTAD Business-to-Consumer (B2C) E-commerce Index'

In [21]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

UNCTAD Business-to-Consumer (B2C) E-commerce Index
b2c_ecommerse_idx

In [22]:
df.head()

,2020 Rannk,Economy,Share of individuals using the Internet (2019 or latest),"Share of individuals with an account (15+, 2017)","Secure Internet servers (normalize d, 2019)",UPU postal reliability score (2019 or latest),2020 Index value,Index value change (2019-20data),Rank 2019
0,1,Switzerland,97,98,92,97,95.9,-0.1,2
1,2,Netherlands,96,100,94,93,95.8,-0.7,1
2,3,Denmark,97,100,100,81,94.5,0.2,6
3,4,Singapore,89,98,94,97,94.4,-0.4,3
4,5,United Kingdom,96,96,84,98,93.6,-0.8,4

In [23]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [24]:
# create standard columns
df.rename(columns={'Economy':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2020 Index value'] 
df['Sub-Pillar'] = subpillar
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [25]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Switzerland,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,95.9,5.795,True,Technology Adoption
1,Netherlands,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,95.8,5.790,True,Technology Adoption
2,Denmark,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,94.5,5.725,True,Technology Adoption
3,Singapore,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,94.4,5.720,True,Technology Adoption
4,United Kingdom,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,93.6,5.680,True,Technology Adoption
...,...,...,...,...,...,...,...
147,Dem. Rep. of the Congo,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,12.8,1.640,True,Technology Adoption
148,Comoros,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,12.0,1.600,True,Technology Adoption
149,Burundi,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,8.3,1.415,True,Technology Adoption
150,Chad,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,7.1,1.355,True,Technology Adoption
151,Niger,2020,UNCTAD Business-to-Consumer (B2C) E-commerce I...,5.6,1.280,True,Technology Adoption

In [26]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator),index = False)

## 2. Networking Services (Spend, IT Forecast Data)

In [27]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Networking Services (Spend, IT Forecast Data)
network_readiness_index

In [28]:
df.head(16)

    Rank          Country  Score  Income Group           Region
0      1          Sweden   82.75  High-income           Europe
1      2         Denmark   82.19  High-income           Europe
2      3       Singapore   81.39  High-income   Asia & Pacific
3      4     Netherlands   81.37  High-income           Europe
4      5     Switzerland   80.41  High-income           Europe
5      6         Finland   80.16  High-income           Europe
6      7          Norway   79.39  High-income           Europe
7      8   United States   78.91  High-income     The Americas
8      9         Germany   77.48  High-income           Europe
9     10  United Kingdom   76.27  High-income            Europe
10    11      Luxembourg   75.27  High-income           Europe
11    12       Australia   75.09  High-income   Asia & Pacific
12    13          Canada   74.92  High-income     The Americas
13    14     Korea, Rep.   74.60  High-income   Asia & Pacific
14    15           Japan   73.54  High-income   Asia & Pacific
15    16     New Zealand   73.27  High-income   Asia & Pacific

In [29]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [30]:
# convert rank into 1-6 - in order to get most recent data 
df['data_col'] = df['Score'] 


# going to assume index is between 1-100 but not 100% sure
min_rank = 1 #df['data_col'].min()
max_rank = 100 #df['data_col'].max()

# transform 1-100 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

In [31]:
# prepare output
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Indicator'] = indicator
df['higher_is_better'] = True
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

In [32]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Sweden,2020,"Networking Services (Spend, IT Forecast Data)",82.75,5.1375,True,Technology Adoption
1,Denmark,2020,"Networking Services (Spend, IT Forecast Data)",82.19,5.1095,True,Technology Adoption
2,Singapore,2020,"Networking Services (Spend, IT Forecast Data)",81.39,5.0695,True,Technology Adoption
3,Netherlands,2020,"Networking Services (Spend, IT Forecast Data)",81.37,5.0685,True,Technology Adoption
4,Switzerland,2020,"Networking Services (Spend, IT Forecast Data)",80.41,5.0205,True,Technology Adoption
...,...,...,...,...,...,...,...
129,Burundi,2020,"Networking Services (Spend, IT Forecast Data)",22.62,2.1310,True,Technology Adoption
130,Angola,2020,"Networking Services (Spend, IT Forecast Data)",20.96,2.0480,True,Technology Adoption
131,Yemen,2020,"Networking Services (Spend, IT Forecast Data)",18.00,1.9000,True,Technology Adoption
132,"Congo, Dem. Rep.",2020,"Networking Services (Spend, IT Forecast Data)",16.60,1.8300,True,Technology Adoption
133,Chad,2020,"Networking Services (Spend, IT Forecast Data)",14.80,1.7400,True,Technology Adoption

In [33]:
# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator),index = False)

### 3. Cloud Services (Spend, IT Forecast Data)

In [34]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cloud Services (Spend, IT Forecast Data)
cloud_services

In [35]:
# remove nulls
df = df.dropna()
df

,Cloud computing policy environment by category - country ranking 2018,Unnamed: 1
2,Germany,18.20
3,Japan,20.30
4,United States,18
5,United Kingdom,19.80
6,Australia,16.10
7,Singapore,20.70
8,Canada,17
9,France,17.30
10,Italy,15
11,Spain,16.60
12,Poland,14.70
13,Korea,19.90
14,Mexico,9.10
15,Malaysia,13.50
16,South Africa,10.30
17,Turkey,11.10
18,Argentina,10.80
19,Brazil,11.50
20,Thailand,11.10
21,India,6.90
22,Russia,15.70
23,China,12.70
24,Indonesia,8.20
25,Vietnam,8.60

In [36]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [37]:
# prepare standard columns
df['data_col'] = df['Unnamed: 1'].astype(float)
df['Country Name'] = df.iloc[:,0]
df['Indicator'] = indicator
df['higher_is_better'] = True
df['Year'] = 2018
df['Sub-Pillar'] = subpillar

In [38]:
min_rank = 1
max_rank = df['Country Name'].nunique()

In [39]:
# transform 1-24 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

In [40]:
# prepare output
df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [41]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Germany,2018,"Cloud Services (Spend, IT Forecast Data)",18.2,1.910,True,Technology Adoption
3,Japan,2018,"Cloud Services (Spend, IT Forecast Data)",20.3,2.015,True,Technology Adoption
4,United States,2018,"Cloud Services (Spend, IT Forecast Data)",18.0,1.900,True,Technology Adoption
5,United Kingdom,2018,"Cloud Services (Spend, IT Forecast Data)",19.8,1.990,True,Technology Adoption
6,Australia,2018,"Cloud Services (Spend, IT Forecast Data)",16.1,1.805,True,Technology Adoption
7,Singapore,2018,"Cloud Services (Spend, IT Forecast Data)",20.7,2.035,True,Technology Adoption
8,Canada,2018,"Cloud Services (Spend, IT Forecast Data)",17.0,1.850,True,Technology Adoption
9,France,2018,"Cloud Services (Spend, IT Forecast Data)",17.3,1.865,True,Technology Adoption
10,Italy,2018,"Cloud Services (Spend, IT Forecast Data)",15.0,1.750,True,Technology Adoption
11,Spain,2018,"Cloud Services (Spend, IT Forecast Data)",16.6,1.830,True,Technology Adoption
12,Poland,2018,"Cloud Services (Spend, IT Forecast Data)",14.7,1.735,True,Technology Adoption
13,Korea,2018,"Cloud Services (Spend, IT Forecast Data)",19.9,1.995,True,Technology Adoption
14,Mexico,2018,"Cloud Services (Spend, IT Forecast Data)",9.1,1.455,True,Technology Adoption
15,Malaysia,2018,"Cloud Services (Spend, IT Forecast Data)",13.5,1.675,True,Technology Adoption
16,South Africa,2018,"Cloud Services (Spend, IT Forecast Data)",10.3,1.515,True,Technology Adoption

## 4. ICT task-intensive jobs as a percentage of total employment

In [42]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT task-intensive jobs as a percentage of total employment
ICT_proportion

In [43]:
df.head()

,Indicator,Country,Industry,Information and communication technologies,Sex,Measure,Time,Value,Flags
0,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2011,3.176400,NaN
1,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2012,3.225967,NaN
2,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2013,3.346251,NaN
3,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2014,3.319100,NaN
4,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2015,3.729340,NaN

In [44]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [45]:
df[(df['Time']==2018)&(df['Information and communication technologies']=='ICT-intensive')].sort_values(by='Value', ascending=False)

Empty DataFrame
Columns: [Indicator, Country, Industry, Information and communication technologies, Sex, Measure, Time, Value, Flags]
Index: []

In [46]:
# bnames

In [47]:
df['Information and communication technologies'].unique()

array(['Specialist (ISCO-08: 133+215+251+252+351+352+742)',
       'Other ICT-intensive (ISCO-08: 121+122,134+,211+,216+,231+,241+,242+243)',
       'Non-ICT (rest of ISCO-08 occupations)', 'ICT-intensive', 'Total'],
      dtype=object)

In [48]:
df.Sex.unique()

array(['Total'], dtype=object)

In [49]:
# convert to correct types
df['Value'] = df['Value'].astype(float)

In [50]:
df['Value'].describe()

count    985.000000
mean      42.353406
std       42.614469
min        0.890157
25%        5.526795
50%       12.887070
75%       91.318100
max      100.000000
Name: Value, dtype: float64

In [51]:
# filter on relevant years
df = df[(df['Time']==2017)&(df['Information and communication technologies']=='ICT-intensive')]

# convert rank into 1-6 - in order to get most recent data 
df['data_col'] = df['Value'] 

# going to assume index is between 1-100 but not 100% sure
min_rank = 0 #df['data_col'].min()
max_rank = 100 #df['data_col'].max()

# transform 1-147 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

# df_rank[['Country ISO3', 'Country Name','Indicator','data_col','new_rank_score']].head()

df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Indicator'] = indicator
df['higher_is_better'] = True
df['Year'] = df['Time']
df['Sub-Pillar'] = subpillar

df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# output scores to csv
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
27,Austria,2017,ICT task-intensive jobs as a percentage of tot...,10.884160,1.544208,True,Technology Adoption
62,Belgium,2017,ICT task-intensive jobs as a percentage of tot...,14.448260,1.722413,True,Technology Adoption
97,Czech Republic,2017,ICT task-intensive jobs as a percentage of tot...,9.219953,1.460998,True,Technology Adoption
157,Estonia,2017,ICT task-intensive jobs as a percentage of tot...,15.761420,1.788071,True,Technology Adoption
217,Finland,2017,ICT task-intensive jobs as a percentage of tot...,15.220480,1.761024,True,Technology Adoption
252,France,2017,ICT task-intensive jobs as a percentage of tot...,12.008350,1.600418,True,Technology Adoption
287,Germany,2017,ICT task-intensive jobs as a percentage of tot...,10.441900,1.522095,True,Technology Adoption
322,Greece,2017,ICT task-intensive jobs as a percentage of tot...,6.675247,1.333762,True,Technology Adoption
357,Hungary,2017,ICT task-intensive jobs as a percentage of tot...,8.369766,1.418488,True,Technology Adoption
392,Iceland,2017,ICT task-intensive jobs as a percentage of tot...,14.276870,1.713843,True,Technology Adoption
452,Italy,2017,ICT task-intensive jobs as a percentage of tot...,7.254931,1.362747,True,Technology Adoption
507,Latvia,2017,ICT task-intensive jobs as a percentage of tot...,12.482960,1.624148,True,Technology Adoption
542,Lithuania,2017,ICT task-intensive jobs as a percentage of tot...,16.276940,1.813847,True,Technology Adoption
577,Luxembourg,2017,ICT task-intensive jobs as a percentage of tot...,21.685190,2.084259,True,Technology Adoption
612,Netherlands,2017,ICT task-intensive jobs as a percentage of tot...,15.733610,1.786681,True,Technology Adoption
647,Norway,2017,ICT task-intensive jobs as a percentage of tot...,14.720470,1.736023,True,Technology Adoption
682,Poland,2017,ICT task-intensive jobs as a percentage of tot...,11.125690,1.556284,True,Technology Adoption
742,Slovak Republic,2017,ICT task-intensive jobs as a percentage of tot...,6.841666,1.342083,True,Technology Adoption
777,Slovenia,2017,ICT task-intensive jobs as a percentage of tot...,13.193620,1.659681,True,Technology Adoption
812,Spain,2017,ICT task-intensive jobs as a percentage of tot...,8.421205,1.421060,True,Technology Adoption
847,Sweden,2017,ICT task-intensive jobs as a percentage of tot...,16.588810,1.829441,True,Technology Adoption
882,Switzerland,2017,ICT task-intensive jobs as a percentage of tot...,15.372650,1.768632,True,Technology Adoption
942,United Kingdom,2017,ICT task-intensive jobs as a percentage of tot...,17.392000,1.869600,True,Technology Adoption
977,United States,2017,ICT task-intensive jobs as a percentage of tot...,17.822500,1.891125,True,Technology Adoption

In [52]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator),index = False)

## 5. Share of business with internet

In [53]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Share of business with internet
business_internet

In [54]:
df= df.replace('..',np.nan)

In [55]:
df.head(15)

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Country
0,52.47,54.8,60.17,61.52,67.16,67.81,69.33,76.25,75.58,75.77,76.73,75.62,77.37,79.38,80.37,NaN,Australia
1,72.22,78.81,80.06,79.84,79.85,80.19,82.87,82.01,85.7,86.35,87.46,88.11,85.55,87.92,89.45,90.42,Austria
2,NaN,NaN,NaN,NaN,77.37,78.47,76.6,76.01,78.26,79.15,81.04,81,82.6,84.03,86.72,86.62,Belgium
3,64.8,67.5,69.7,NaN,NaN,NaN,NaN,79.8,77.5,NaN,NaN,NaN,78.5,NaN,81.8,NaN,Canada
4,NaN,NaN,NaN,47.87,51.74,54.03,59.41,63.27,66.55,67,66.47,67.43,67.17,67.81,NaN,NaN,Colombia
5,NaN,70.08,71.12,73.99,72.66,73.63,77.44,79.67,79.86,82.63,82.57,82.15,82.9,82.79,83.31,83.32,Czech Republic
6,NaN,NaN,NaN,NaN,87.61,87.83,88.68,89.3,91.78,91.4,91.95,93.34,95.09,95.58,93.92,92.77,Denmark
7,52.65,57.86,61.87,65.73,67.53,70.04,72.63,74.97,75.74,77.56,79.73,77.93,78.09,78.36,81.18,79.79,Estonia
8,NaN,NaN,NaN,NaN,84.62,87.32,92.56,91.3,93.64,95.1,95.2,95.33,96.28,95.64,NaN,95.92,Finland
9,NaN,NaN,NaN,NaN,54.05,57.71,60.05,64.48,65.3,63.59,66.82,68.5,66.53,69.41,71.54,70.35,France
10,71.25,73.87,76.88,75.39,78.94,81.43,81.26,82.03,84.41,85.77,87.12,88.93,87.32,87.39,88.21,88.35,Germany
11,55.3,50.39,57.26,55.44,61.91,57.92,63.95,63.51,60.59,61.85,60.95,65.89,64.77,64.8,59.3,60.1,Greece
12,NaN,NaN,45.25,47.47,50.76,56.56,59.79,61.77,61.23,61.26,64.46,67.77,68.68,65.72,62.47,63.23,Hungary
13,NaN,NaN,NaN,NaN,NaN,77.17,NaN,84.48,82.73,84.7,NaN,NaN,81.53,82.57,NaN,NaN,Iceland
14,NaN,NaN,NaN,NaN,62.16,68.05,70.12,73.52,74.71,73.2,75.25,76.07,74.19,78.85,78.68,75.27,Ireland

In [56]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [57]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2020'].astype(float)
df['Country Name'] = df['Country']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [58]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Australia,2020,Share of business with internet,NaN,NaN,True,Technology Adoption
1,Austria,2020,Share of business with internet,90.42,5.5210,True,Technology Adoption
2,Belgium,2020,Share of business with internet,86.62,5.3310,True,Technology Adoption
3,Canada,2020,Share of business with internet,NaN,NaN,True,Technology Adoption
4,Colombia,2020,Share of business with internet,NaN,NaN,True,Technology Adoption
5,Czech Republic,2020,Share of business with internet,83.32,5.1660,True,Technology Adoption
6,Denmark,2020,Share of business with internet,92.77,5.6385,True,Technology Adoption
7,Estonia,2020,Share of business with internet,79.79,4.9895,True,Technology Adoption
8,Finland,2020,Share of business with internet,95.92,5.7960,True,Technology Adoption
9,France,2020,Share of business with internet,70.35,4.5175,True,Technology Adoption
10,Germany,2020,Share of business with internet,88.35,5.4175,True,Technology Adoption
11,Greece,2020,Share of business with internet,60.10,4.0050,True,Technology Adoption
12,Hungary,2020,Share of business with internet,63.23,4.1615,True,Technology Adoption
13,Iceland,2020,Share of business with internet,NaN,NaN,True,Technology Adoption
14,Ireland,2020,Share of business with internet,75.27,4.7635,True,Technology Adoption

In [59]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 6. Share of businesses with broadband

In [60]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Share of businesses with broadband
business_broadband

In [61]:
df.head(15)

     2008   2009   2010          Country
0   76.94  76.01  82.06          Austria
1   79.33  77.31  86.52   Czech Republic
2   87.53  86.08  88.08          Estonia
3     NaN  91.68  93.31           France
4   83.46  87.90  89.34          Germany
5   70.37  74.19  79.61          Hungary
6     NaN    NaN  95.43          Iceland
7     NaN  76.11  86.84          Ireland
8     NaN  82.92  84.12            Italy
9     NaN  88.03  87.91       Luxembourg
10    NaN  86.38  90.93      Netherlands
11  84.36  88.28  86.92           Norway
12  59.12  58.47  69.34           Poland
13    NaN  81.70  84.75         Portugal
14  73.72  78.37  78.32  Slovak Republic

In [62]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [63]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2010']
df['Country Name'] = df['Country']
df['Year'] = 2010
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [64]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Austria,2010,Share of businesses with broadband,82.06,5.1030,True,Technology Adoption
1,Czech Republic,2010,Share of businesses with broadband,86.52,5.3260,True,Technology Adoption
2,Estonia,2010,Share of businesses with broadband,88.08,5.4040,True,Technology Adoption
3,France,2010,Share of businesses with broadband,93.31,5.6655,True,Technology Adoption
4,Germany,2010,Share of businesses with broadband,89.34,5.4670,True,Technology Adoption
5,Hungary,2010,Share of businesses with broadband,79.61,4.9805,True,Technology Adoption
6,Iceland,2010,Share of businesses with broadband,95.43,5.7715,True,Technology Adoption
7,Ireland,2010,Share of businesses with broadband,86.84,5.3420,True,Technology Adoption
8,Italy,2010,Share of businesses with broadband,84.12,5.2060,True,Technology Adoption
9,Luxembourg,2010,Share of businesses with broadband,87.91,5.3955,True,Technology Adoption
10,Netherlands,2010,Share of businesses with broadband,90.93,5.5465,True,Technology Adoption
11,Norway,2010,Share of businesses with broadband,86.92,5.3460,True,Technology Adoption
12,Poland,2010,Share of businesses with broadband,69.34,4.4670,True,Technology Adoption
13,Portugal,2010,Share of businesses with broadband,84.75,5.2375,True,Technology Adoption
14,Slovak Republic,2010,Share of businesses with broadband,78.32,4.9160,True,Technology Adoption

In [65]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 7. Share of businesses with online presence

In [66]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))
df.head(15)

Share of businesses with online presence
share_of_businesses_online_presence

    RANK COUNTRY/ECONOMY  VALUE   SCORE  Year
0    1.0         Finland  95.64  100.00  2018
1    2.0         Denmark  93.92   98.01  2018
2    3.0           Japan  92.40   96.24  2018
3    4.0     Netherlands  91.89   95.65  2018
4    5.0     Switzerland  91.74   95.48  2018
5    6.0          Sweden  89.65   93.05  2018
6    7.0         Austria  89.45   92.82  2018
7    8.0         Germany  88.21   91.38  2018
8    9.0         Belgium  86.72   89.65  2018
9   10.0  United Kingdom  83.88   86.35  2018
10  11.0      Luxembourg  83.67   86.11  2018
11  12.0  Czech Republic  83.31   85.69  2018
12  13.0           Malta  83.30   85.68  2018
13  14.0        Slovenia  82.76   85.05  2018
14  15.0         Iceland  82.57   84.83  2018

In [67]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [68]:
# create standard columns
df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [69]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Finland,2018,Share of businesses with online presence,95.64,5.7820,True,Technology Adoption
1,Denmark,2018,Share of businesses with online presence,93.92,5.6960,True,Technology Adoption
2,Japan,2018,Share of businesses with online presence,92.40,5.6200,True,Technology Adoption
3,Netherlands,2018,Share of businesses with online presence,91.89,5.5945,True,Technology Adoption
4,Switzerland,2018,Share of businesses with online presence,91.74,5.5870,True,Technology Adoption
5,Sweden,2018,Share of businesses with online presence,89.65,5.4825,True,Technology Adoption
6,Austria,2018,Share of businesses with online presence,89.45,5.4725,True,Technology Adoption
7,Germany,2018,Share of businesses with online presence,88.21,5.4105,True,Technology Adoption
8,Belgium,2018,Share of businesses with online presence,86.72,5.3360,True,Technology Adoption
9,United Kingdom,2018,Share of businesses with online presence,83.88,5.1940,True,Technology Adoption
10,Luxembourg,2018,Share of businesses with online presence,83.67,5.1835,True,Technology Adoption
11,Czech Republic,2018,Share of businesses with online presence,83.31,5.1655,True,Technology Adoption
12,Malta,2018,Share of businesses with online presence,83.30,5.1650,True,Technology Adoption
13,Slovenia,2018,Share of businesses with online presence,82.76,5.1380,True,Technology Adoption
14,Iceland,2018,Share of businesses with online presence,82.57,5.1285,True,Technology Adoption

In [70]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 8. Size of gig economy (% of GDP)

In [71]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Size of gig economy (% of GDP)
prevalance_gig_economy

In [72]:
df.head(15)

    RANK       COUNTRY/ECONOMY  VALUE   SCORE
0    1.0         United States   5.40  100.00
1    2.0           Netherlands   5.22   94.63
2    3.0        United Kingdom   5.19   93.80
3    4.0          Saudi Arabia   5.08   90.33
4    5.0              Malaysia   5.07   90.19
5    6.0                 Egypt   5.05   89.46
6    7.0                Israel   5.02   88.42
7    8.0                Canada   4.94   86.07
8    9.0             Singapore   4.92   85.52
9   10.0  United Arab Emirates   4.87   83.82
10  11.0             Australia   4.81   82.16
11  12.0               Germany   4.81   82.07
12  13.0                 Qatar   4.57   74.83
13  14.0           New Zealand   4.54   73.86
14  15.0            Azerbaijan   4.53   73.58

In [73]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [74]:
# create standard columns
df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['SCORE']
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [75]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,United States,2019,Size of gig economy (% of GDP),100.00,6.0000,True,Technology Adoption
1,Netherlands,2019,Size of gig economy (% of GDP),94.63,5.7315,True,Technology Adoption
2,United Kingdom,2019,Size of gig economy (% of GDP),93.80,5.6900,True,Technology Adoption
3,Saudi Arabia,2019,Size of gig economy (% of GDP),90.33,5.5165,True,Technology Adoption
4,Malaysia,2019,Size of gig economy (% of GDP),90.19,5.5095,True,Technology Adoption
5,Egypt,2019,Size of gig economy (% of GDP),89.46,5.4730,True,Technology Adoption
6,Israel,2019,Size of gig economy (% of GDP),88.42,5.4210,True,Technology Adoption
7,Canada,2019,Size of gig economy (% of GDP),86.07,5.3035,True,Technology Adoption
8,Singapore,2019,Size of gig economy (% of GDP),85.52,5.2760,True,Technology Adoption
9,United Arab Emirates,2019,Size of gig economy (% of GDP),83.82,5.1910,True,Technology Adoption
10,Australia,2019,Size of gig economy (% of GDP),82.16,5.1080,True,Technology Adoption
11,Germany,2019,Size of gig economy (% of GDP),82.07,5.1035,True,Technology Adoption
12,Qatar,2019,Size of gig economy (% of GDP),74.83,4.7415,True,Technology Adoption
13,New Zealand,2019,Size of gig economy (% of GDP),73.86,4.6930,True,Technology Adoption
14,Azerbaijan,2019,Size of gig economy (% of GDP),73.58,4.6790,True,Technology Adoption

In [76]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 9. Size of digital economy (% of transactions)

In [77]:
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Size of digital economy (% of transactions)
size_digital_economy

In [78]:
df

     Order        Country Name  Value   Score
0      1.0           Singapore  78.13  100.00
1      2.0         Switzerland  64.57   82.59
2      3.0         Korea, Rep.  63.66   81.42
3      4.0             Germany  61.45   78.58
4      5.0             Hungary  59.72   76.36
..     ...                 ...    ...     ...
129    NaN    Congo, Dem. Rep.    NaN     NaN
130    NaN  Dominican Republic    NaN     NaN
131    NaN              Guinea    NaN     NaN
132    NaN             Lesotho    NaN     NaN
133    NaN                Mali    NaN     NaN

[134 rows x 4 columns]

In [79]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Technology Adoption

In [80]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [81]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Singapore,2019,Size of digital economy (% of transactions),78.13,4.9065,True,Technology Adoption
1,Switzerland,2019,Size of digital economy (% of transactions),64.57,4.2285,True,Technology Adoption
2,"Korea, Rep.",2019,Size of digital economy (% of transactions),63.66,4.1830,True,Technology Adoption
3,Germany,2019,Size of digital economy (% of transactions),61.45,4.0725,True,Technology Adoption
4,Hungary,2019,Size of digital economy (% of transactions),59.72,3.9860,True,Technology Adoption
5,Japan,2019,Size of digital economy (% of transactions),56.21,3.8105,True,Technology Adoption
6,Ireland,2019,Size of digital economy (% of transactions),54.35,3.7175,True,Technology Adoption
7,Denmark,2019,Size of digital economy (% of transactions),54.22,3.7110,True,Technology Adoption
8,Qatar,2019,Size of digital economy (% of transactions),54.17,3.7085,True,Technology Adoption
9,Sweden,2019,Size of digital economy (% of transactions),53.01,3.6505,True,Technology Adoption
10,Czech Republic,2019,Size of digital economy (% of transactions),52.40,3.6200,True,Technology Adoption
11,Slovakia,2019,Size of digital economy (% of transactions),51.38,3.5690,True,Technology Adoption
12,France,2019,Size of digital economy (% of transactions),50.08,3.5040,True,Technology Adoption
13,Belgium,2019,Size of digital economy (% of transactions),49.51,3.4755,True,Technology Adoption
14,Netherlands,2019,Size of digital economy (% of transactions),48.86,3.4430,True,Technology Adoption

In [82]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 10. Venture Capital Availability

In [83]:
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Venture Capital Availability
TCdata360

In [84]:
df.head(15)

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,...,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,40.900000,54.127067,NaN,40.920500,38.903010,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,66.000000,49.000000,NaN,87.000000,92.000000,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.858249,3.165548,NaN,2.823529,2.601164,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,127.000000,142.000000,NaN,148.000000,144.000000,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.797549,2.242699,NaN,2.028571,2.177586,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,130.000000,142.000000,NaN,148.000000,144.000000,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.196592,2.090002,NaN,2.030303,2.249658,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,138.000000,141.000000,NaN,148.000000,141.000000,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.793415,2.468175,NaN,2.352941,2.260678,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,115.000000,127.000000,NaN,139.000000,138.000000,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.399599,1.550230,NaN,1.666667,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,107.000000,NaN,NaN,107.000000,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.071660,2.285828,NaN,2.941176,2.682389,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,136.000000,138.000000,NaN,125.000000,121.000000,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.001579,3.053193,NaN,3.382353,3.295356,NaN,NaN,NaN

In [85]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Financing Incentives

In [86]:
df = df[(df.Indicator == 'Venture capital availability, 1-7 (best)')]
df = df[(df['Subindicator Type'] == '1-7 Best')]
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,...,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018
226,NaN,NaN,NaN,NaN,1.802891,1.494084,NaN,2.117647,2.348170,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,2.696235,2.665708,2.524466,2.321898,2.145235,1.956589,1.844924,1.859132,1.948528,1.898624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,4.491447,4.544287,4.296279,3.881013,3.716301,3.973436,4.143612,4.123291,4.352251,4.352251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1080,2.893384,2.839896,2.425063,2.131687,1.897883,1.909561,1.822370,1.745999,1.779793,2.009052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1366,2.404752,2.123574,1.999757,1.921578,1.789272,2.136096,2.369044,2.425793,2.355755,2.537145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41962,3.334126,3.115717,3.177300,3.044030,2.667287,2.311127,2.290705,2.565255,2.690639,2.968303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42246,NaN,NaN,NaN,NaN,NaN,2.587327,2.262899,1.876288,1.692528,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42530,3.770429,3.719011,3.890964,3.374518,3.011638,2.932891,3.054382,3.294088,3.185590,2.962898,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42816,1.494845,1.984663,2.526940,2.298351,1.992631,2.073739,2.489051,2.538825,2.372437,2.225287,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43102,2.634554,2.597143,2.581603,1.991631,1.735018,1.835783,1.794334,1.787351,1.619521,1.545050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019'] 
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank_b(row,old_min=1,old_max=7))

In [88]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
226,Angola,2019,Venture Capital Availability,1.705738,1.588115,True,Financing Incentives
512,Albania,2019,Venture Capital Availability,3.014087,2.678406,True,Financing Incentives
796,United Arab Emirates,2019,Venture Capital Availability,4.832029,4.193357,True,Financing Incentives
1080,Argentina,2019,Venture Capital Availability,2.328207,2.106839,True,Financing Incentives
1366,Armenia,2019,Venture Capital Availability,3.311092,2.925910,True,Financing Incentives
...,...,...,...,...,...,...,...
41962,Vietnam,2019,Venture Capital Availability,3.267500,2.889583,True,Financing Incentives
42246,"Yemen, Rep.",2019,Venture Capital Availability,2.163688,1.969740,True,Financing Incentives
42530,South Africa,2019,Venture Capital Availability,3.051583,2.709653,True,Financing Incentives
42816,Zambia,2019,Venture Capital Availability,1.803466,1.669555,True,Financing Incentives
43102,Zimbabwe,2019,Venture Capital Availability,2.058023,1.881686,True,Financing Incentives

In [89]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [90]:
## 11. Doing Business Index

In [91]:
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Doing Business Index
doing_bus_idx

In [92]:
df

,Country code,Economy,Region,Income group,DB Year,Ease of doing business rank (DB19),Ease of doing business score (DB17-19 methodology),Ease of doing business score (DB16 methodology),Ease of doing business score (DB15 methodology),Ease of doing business score (DB10-14 methodology),...,Recovery rate (cents on the dollar),Strength of insolvency framework index (0-16) (DB15-19 methodology),Commencement of proceedings index (0-3) (DB15-19 methodology),Management of debtor's assets index (0-6) (DB15-19 methodology),Reorganization proceedings index (0-3) (DB15-19 methodology),Creditor participation index (0-4) (DB15-19 methodology),Score-Recovery rate (cents on the dollar),Score-Strength of insolvency framework index (0-16) (DB15-19 methodology),data_country,data_year
0,AFG,Afghanistan,South Asia,Low income,2005,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
1,AFG,Afghanistan,South Asia,Low income,2006,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
2,AFG,Afghanistan,South Asia,Low income,2007,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
3,AFG,Afghanistan,South Asia,Low income,2008,NaN,NaN,NaN,NaN,NaN,...,25.1,NaN,NaN,NaN,NaN,NaN,27.07,NaN,NaN,NaN
4,AFG,Afghanistan,South Asia,Low income,2009,NaN,NaN,NaN,NaN,NaN,...,24.3,NaN,NaN,NaN,NaN,NaN,26.16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,ZWE,Zimbabwe,Sub-Saharan Africa,Low income,2015,NaN,NaN,47.11,44.36,NaN,...,13.8,5.0,3.0,2.0,0.0,0.0,14.81,31.25,NaN,NaN
3021,ZWE,Zimbabwe,Sub-Saharan Africa,Low income,2016,NaN,47.74,47.94,NaN,NaN,...,16.1,5.0,3.0,2.0,0.0,0.0,17.38,31.25,NaN,NaN
3022,ZWE,Zimbabwe,Sub-Saharan Africa,Low income,2017,NaN,47.73,NaN,NaN,NaN,...,18.0,5.0,3.0,2.0,0.0,0.0,19.43,31.25,NaN,NaN
3023,ZWE,Zimbabwe,Sub-Saharan Africa,Low income,2018,NaN,48.52,NaN,NaN,NaN,...,19.7,5.0,3.0,2.0,0.0,0.0,21.17,31.25,NaN,NaN
3024,ZWE,Zimbabwe,Sub-Saharan Africa,Low income,2019,155.0,50.44,NaN,NaN,NaN,...,18.0,5.0,3.0,2.0,0.0,0.0,19.43,31.25,NaN,NaN

In [93]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

In [94]:
df = df[(df['DB Year'] == 2019)]
df.head(15)

,Country code,Economy,Region,Income group,DB Year,Ease of doing business rank (DB19),Ease of doing business score (DB17-19 methodology),Ease of doing business score (DB16 methodology),Ease of doing business score (DB15 methodology),Ease of doing business score (DB10-14 methodology),...,Recovery rate (cents on the dollar),Strength of insolvency framework index (0-16) (DB15-19 methodology),Commencement of proceedings index (0-3) (DB15-19 methodology),Management of debtor's assets index (0-6) (DB15-19 methodology),Reorganization proceedings index (0-3) (DB15-19 methodology),Creditor participation index (0-4) (DB15-19 methodology),Score-Recovery rate (cents on the dollar),Score-Strength of insolvency framework index (0-16) (DB15-19 methodology),data_country,data_year
14,AFG,Afghanistan,South Asia,Low income,2019,167.0,47.77,NaN,NaN,NaN,...,26.5,12.0,2.0,6.0,2.0,2.0,28.57,75.00,NaN,NaN
30,ALB,Albania,Europe & Central Asia,Upper middle income,2019,63.0,69.51,NaN,NaN,NaN,...,44.0,14.0,3.0,6.0,3.0,2.0,47.33,87.50,NaN,NaN
46,DZA,Algeria,Middle East & North Africa,Upper middle income,2019,157.0,49.65,NaN,NaN,NaN,...,50.8,7.0,3.0,2.0,1.0,1.0,54.72,43.75,NaN,NaN
62,AGO,Angola,Sub-Saharan Africa,Lower middle income,2019,173.0,43.86,NaN,NaN,NaN,...,0.0,0.0,2.0,4.0,0.0,0.0,0.00,0.00,NaN,NaN
76,ATG,Antigua and Barbuda,Latin America & Caribbean,High income,2019,112.0,59.48,NaN,NaN,NaN,...,36.8,5.0,2.0,2.0,0.0,1.0,39.56,31.25,NaN,NaN
92,ARG,Argentina,Latin America & Caribbean,High income,2019,119.0,58.80,NaN,NaN,NaN,...,21.5,9.5,2.5,4.0,2.0,1.0,23.11,59.38,NaN,NaN
108,ARM,Armenia,Europe & Central Asia,Upper middle income,2019,41.0,75.37,NaN,NaN,NaN,...,38.2,7.5,2.5,2.0,2.0,1.0,41.10,46.88,NaN,NaN
124,AUS,Australia,High income: OECD,High income,2019,18.0,80.13,NaN,NaN,NaN,...,82.7,11.0,2.5,5.0,0.5,3.0,88.99,68.75,NaN,NaN
140,AUT,Austria,High income: OECD,High income,2019,26.0,78.57,NaN,NaN,NaN,...,80.1,11.0,2.5,5.5,1.0,2.0,86.20,68.75,NaN,NaN
156,AZE,Azerbaijan,Europe & Central Asia,Upper middle income,2019,25.0,78.64,NaN,NaN,NaN,...,40.1,13.5,3.0,6.0,1.5,3.0,43.21,84.38,NaN,NaN
168,BHS,"Bahamas, The",Latin America & Caribbean,High income,2019,118.0,58.90,NaN,NaN,NaN,...,64.3,6.0,2.0,3.0,0.0,1.0,69.26,37.50,NaN,NaN
180,BHR,Bahrain,Middle East & North Africa,High income,2019,62.0,69.85,NaN,NaN,NaN,...,42.2,7.0,2.0,4.0,0.0,1.0,45.38,43.75,NaN,NaN
186,BANG,Bangladesh,South Asia,Lower middle income,2019,176.0,41.97,NaN,NaN,NaN,...,29.2,4.0,2.0,2.0,0.0,0.0,31.40,25.00,NaN,NaN
192,BGD_Chit,Bangladesh Chittagong,South Asia,Lower middle income,2019,NaN,42.89,NaN,NaN,NaN,...,29.2,4.0,2.0,2.0,0.0,0.0,31.40,25.00,NaN,NaN
208,BGD,Bangladesh Dhaka,South Asia,Lower middle income,2019,NaN,41.71,NaN,NaN,NaN,...,29.2,4.0,2.0,2.0,0.0,0.0,31.40,25.00,NaN,NaN

In [95]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,6]
df['Year'] = df.iloc[:,4]
df['Country Name'] = df.iloc[:,1]
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

<ipython-input-95-14f778ed67f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['higher_is_better'] = False
<ipython-input-95-14f778ed67f9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Indicator'] = indicator
<ipython-input-95-14f778ed67f9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['data_col'] = df.iloc[:,6]
<ipython-input-95-14f778ed67f9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df.iloc[:,4]
<ipython-input-95-14f778ed67f9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country Name'] = df.iloc[:,1]
<ipython-input-95-14f778ed67f9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sub-Pillar'] = subpillar
<ipython-input-95-14f778ed67f9>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

In [96]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
14,Afghanistan,2019,Doing Business Index,47.77,3.3885,False,Startup Environment
30,Albania,2019,Doing Business Index,69.51,4.4755,False,Startup Environment
46,Algeria,2019,Doing Business Index,49.65,3.4825,False,Startup Environment
62,Angola,2019,Doing Business Index,43.86,3.1930,False,Startup Environment
76,Antigua and Barbuda,2019,Doing Business Index,59.48,3.9740,False,Startup Environment
92,Argentina,2019,Doing Business Index,58.80,3.9400,False,Startup Environment
108,Armenia,2019,Doing Business Index,75.37,4.7685,False,Startup Environment
124,Australia,2019,Doing Business Index,80.13,5.0065,False,Startup Environment
140,Austria,2019,Doing Business Index,78.57,4.9285,False,Startup Environment
156,Azerbaijan,2019,Doing Business Index,78.64,4.9320,False,Startup Environment
168,"Bahamas, The",2019,Doing Business Index,58.90,3.9450,False,Startup Environment
180,Bahrain,2019,Doing Business Index,69.85,4.4925,False,Startup Environment
186,Bangladesh,2019,Doing Business Index,41.97,3.0985,False,Startup Environment
192,Bangladesh Chittagong,2019,Doing Business Index,42.89,3.1445,False,Startup Environment
208,Bangladesh Dhaka,2019,Doing Business Index,41.71,3.0855,False,Startup Environment

In [97]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 12. Strength of Legal Rights

In [98]:
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Strength of Legal Rights
legal_rights_strength

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    268 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  266 non-null    object
 5   2000 [YR2000]  266 non-null    object
 6   2011 [YR2011]  266 non-null    object
 7   2012 [YR2012]  266 non-null    object
 8   2013 [YR2013]  266 non-null    object
 9   2014 [YR2014]  266 non-null    object
 10  2015 [YR2015]  266 non-null    object
 11  2016 [YR2016]  266 non-null    object
 12  2017 [YR2017]  266 non-null    object
 13  2018 [YR2018]  266 non-null    object
 14  2019 [YR2019]  266 non-null    object
 15  2020 [YR2020]  266 non-null    object
dtypes: object(16)
memory usage: 34.0+ KB

In [100]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

#### Find Relevant Columns

In [101]:
df['Series Name'].unique()

array(['Strength of legal rights index (0=weak to 12=strong)', nan,
       'Data from database: World Development Indicators',
       'Last Updated: 06/30/2021'], dtype=object)

In [102]:
# remove unwanted rows
df = df[~df['Series Code'].isna()]
df = df.replace('..', np.nan)

In [103]:
df.loc[0][0]

'Strength of legal rights index (0=weak to 12=strong)'

In [104]:
df.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Afghanistan,AFG,NaN,NaN,NaN,NaN,9,9,9,9,9,10,10,NaN
1,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Albania,ALB,NaN,NaN,NaN,NaN,7,6,6,6,8,8,8,NaN
2,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Algeria,DZA,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,NaN
3,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]'],
      dtype='object')

In [106]:
# clean data
df = df.replace('..', np.nan)

df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']] = df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']].astype(float)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  0 non-null      float64
 5   2000 [YR2000]  0 non-null      float64
 6   2011 [YR2011]  0 non-null      float64
 7   2012 [YR2012]  0 non-null      float64
 8   2013 [YR2013]  236 non-null    float64
 9   2014 [YR2014]  236 non-null    float64
 10  2015 [YR2015]  237 non-null    float64
 11  2016 [YR2016]  237 non-null    float64
 12  2017 [YR2017]  237 non-null    float64
 13  2018 [YR2018]  238 non-null    float64
 14  2019 [YR2019]  238 non-null    float64
 15  2020 [YR2020]  0 non-null      float64
dtypes: float64(12), object(4)
memory usage: 43.4+ KB

In [108]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

df['higher_is_better'] = True
df['Indicator'] = df['Series Name']
df['data_col'] = df['2019 [YR2019]']
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

#### Convert Scales

In [109]:
# convert 0-12 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank_c(row, old_min=0,old_max=12))

In [110]:
df.head(16)

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col,Year,Sub-Pillar,new_rank_score
0,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Afghanistan,AFG,10.0,True,Strength of legal rights index (0=weak to 12=s...,10.0,2019,Startup Environment,5.166667
1,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Albania,ALB,8.0,True,Strength of legal rights index (0=weak to 12=s...,8.0,2019,Startup Environment,4.333333
2,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Algeria,DZA,2.0,True,Strength of legal rights index (0=weak to 12=s...,2.0,2019,Startup Environment,1.833333
3,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,American Samoa,ASM,NaN,True,Strength of legal rights index (0=weak to 12=s...,NaN,2019,Startup Environment,NaN
4,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Andorra,AND,NaN,True,Strength of legal rights index (0=weak to 12=s...,NaN,2019,Startup Environment,NaN
5,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Angola,AGO,1.0,True,Strength of legal rights index (0=weak to 12=s...,1.0,2019,Startup Environment,1.416667
6,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Antigua and Barbuda,ATG,5.0,True,Strength of legal rights index (0=weak to 12=s...,5.0,2019,Startup Environment,3.083333
7,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Argentina,ARG,2.0,True,Strength of legal rights index (0=weak to 12=s...,2.0,2019,Startup Environment,1.833333
8,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Armenia,ARM,6.0,True,Strength of legal rights index (0=weak to 12=s...,6.0,2019,Startup Environment,3.500000
9,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Aruba,ABW,NaN,True,Strength of legal rights index (0=weak to 12=s...,NaN,2019,Startup Environment,NaN
10,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Australia,AUS,11.0,True,Strength of legal rights index (0=weak to 12=s...,11.0,2019,Startup Environment,5.583333
11,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Austria,AUT,4.0,True,Strength of legal rights index (0=weak to 12=s...,4.0,2019,Startup Environment,2.666667
12,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Azerbaijan,AZE,12.0,True,Strength of legal rights index (0=weak to 12=s...,12.0,2019,Startup Environment,6.000000
13,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,"Bahamas, The",BHS,6.0,True,Strength of legal rights index (0=weak to 12=s...,6.0,2019,Startup Environment,3.500000
14,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Bahrain,BHR,3.0,True,Strength of legal rights index (0=weak to 12=s...,3.0,2019,Startup Environment,2.250000
15,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Bangladesh,BGD,5.0,True,Strength of legal rights index (0=weak to 12=s...,5.0,2019,Startup Environment,3.083333

In [111]:
df.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '2019 [YR2019]', 'higher_is_better', 'Indicator', 'data_col', 'Year',
       'Sub-Pillar', 'new_rank_score'],
      dtype='object')

#### Prepare Output

In [112]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.sort_values(by='new_rank_score', ascending=False).head(16)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
12,Azerbaijan,2019,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True,Startup Environment
132,Montenegro,2019,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True,Startup Environment
141,New Zealand,2019,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True,Startup Environment
158,Puerto Rico,2019,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True,Startup Environment
28,Brunei Darussalam,2019,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True,Startup Environment
119,Malawi,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
105,Kosovo,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
101,Kenya,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
162,Rwanda,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
42,Colombia,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
190,Tajikistan,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
10,Australia,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
99,Jordan,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
206,United States,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
209,Vanuatu,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment
215,Zambia,2019,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True,Startup Environment

In [113]:
# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

### 13. Time to start a business

#### Load Data

In [114]:
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Time to Start a Business
time_start_bus

In [115]:
# remove unwanted rows
df = df[~df['Series Code'].isna()]
df = df.replace('..', np.nan)

In [116]:
df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']] = df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']].astype(float)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  0 non-null      float64
 5   2000 [YR2000]  0 non-null      float64
 6   2011 [YR2011]  221 non-null    float64
 7   2012 [YR2012]  225 non-null    float64
 8   2013 [YR2013]  236 non-null    float64
 9   2014 [YR2014]  236 non-null    float64
 10  2015 [YR2015]  237 non-null    float64
 11  2016 [YR2016]  237 non-null    float64
 12  2017 [YR2017]  237 non-null    float64
 13  2018 [YR2018]  238 non-null    float64
 14  2019 [YR2019]  238 non-null    float64
 15  2020 [YR2020]  0 non-null      float64
dtypes: float64(12), object(4)
memory usage: 35.3+ KB

In [118]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

In [119]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

df['higher_is_better'] = True
df['Indicator'] = df['Series Name']
df['data_col'] = df['2019 [YR2019]']
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

In [120]:
df.head()

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col,Year,Sub-Pillar
0,Time required to start a business (days),IC.REG.DURS,Afghanistan,AFG,8.5,True,Time required to start a business (days),8.5,2019,Startup Environment
1,Time required to start a business (days),IC.REG.DURS,Albania,ALB,4.5,True,Time required to start a business (days),4.5,2019,Startup Environment
2,Time required to start a business (days),IC.REG.DURS,Algeria,DZA,18.0,True,Time required to start a business (days),18.0,2019,Startup Environment
3,Time required to start a business (days),IC.REG.DURS,American Samoa,ASM,NaN,True,Time required to start a business (days),NaN,2019,Startup Environment
4,Time required to start a business (days),IC.REG.DURS,Andorra,AND,NaN,True,Time required to start a business (days),NaN,2019,Startup Environment

In [121]:
def map_days_to_scores(number):
    if number<=2:
        return 4
    if number <6 and number>2:
        return 3
    elif number >=6 and number <11:
        return 2
    elif number >=11:
        return 1

In [122]:
# map days to scores 
df['data_col'] = df['data_col'].apply(map_days_to_scores)

In [123]:
# convert 1-4 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=1,old_max=4))

In [124]:
df.head()

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col,Year,Sub-Pillar,new_rank_score
0,Time required to start a business (days),IC.REG.DURS,Afghanistan,AFG,8.5,True,Time required to start a business (days),2.0,2019,Startup Environment,2.666667
1,Time required to start a business (days),IC.REG.DURS,Albania,ALB,4.5,True,Time required to start a business (days),3.0,2019,Startup Environment,4.333333
2,Time required to start a business (days),IC.REG.DURS,Algeria,DZA,18.0,True,Time required to start a business (days),1.0,2019,Startup Environment,1.000000
3,Time required to start a business (days),IC.REG.DURS,American Samoa,ASM,NaN,True,Time required to start a business (days),NaN,2019,Startup Environment,NaN
4,Time required to start a business (days),IC.REG.DURS,Andorra,AND,NaN,True,Time required to start a business (days),NaN,2019,Startup Environment,NaN

In [125]:
df[df['2019 [YR2019]']<3]

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col,Year,Sub-Pillar,new_rank_score
10,Time required to start a business (days),IC.REG.DURS,Australia,AUS,2.00,True,Time required to start a business (days),4.0,2019,Startup Environment,6.000000
35,Time required to start a business (days),IC.REG.DURS,Canada,CAN,1.50,True,Time required to start a business (days),4.0,2019,Startup Environment,6.000000
72,Time required to start a business (days),IC.REG.DURS,Georgia,GEO,1.00,True,Time required to start a business (days),4.0,2019,Startup Environment,6.000000
86,Time required to start a business (days),IC.REG.DURS,"Hong Kong SAR, China",HKG,1.50,True,Time required to start a business (days),4.0,2019,Startup Environment,6.000000
141,Time required to start a business (days),IC.REG.DURS,New Zealand,NZL,0.50,True,Time required to start a business (days),4.0,2019,Startup Environment,6.000000
171,Time required to start a business (days),IC.REG.DURS,Singapore,SGP,1.50,True,Time required to start a business (days),4.0,2019,Startup Environment,6.000000
194,Time required to start a business (days),IC.REG.DURS,Togo,TGO,2.50,True,Time required to start a business (days),3.0,2019,Startup Environment,4.333333
251,Time required to start a business (days),IC.REG.DURS,North America,NAC,2.85,True,Time required to start a business (days),3.0,2019,Startup Environment,4.333333

In [126]:
df['2019 [YR2019]'].describe()

count    238.000000
mean      19.771819
std       23.169794
min        0.500000
25%        8.075000
50%       14.000000
75%       22.991844
max      230.000000
Name: 2019 [YR2019], dtype: float64

In [127]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.sort_values(by='new_rank_score', ascending=False).head(16)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
171,Singapore,2019,Time required to start a business (days),4.0,6.000000,True,Startup Environment
141,New Zealand,2019,Time required to start a business (days),4.0,6.000000,True,Startup Environment
10,Australia,2019,Time required to start a business (days),4.0,6.000000,True,Startup Environment
86,"Hong Kong SAR, China",2019,Time required to start a business (days),4.0,6.000000,True,Startup Environment
35,Canada,2019,Time required to start a business (days),4.0,6.000000,True,Startup Environment
72,Georgia,2019,Time required to start a business (days),4.0,6.000000,True,Startup Environment
1,Albania,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
205,United Kingdom,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
31,Burundi,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
62,Estonia,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
139,Netherlands,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
109,Latvia,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
251,North America,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
40,Chile,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
204,United Arab Emirates,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment
129,Moldova,2019,Time required to start a business (days),3.0,4.333333,True,Startup Environment

#### Prepare Output

In [128]:
bf

'time_start_bus'

In [129]:
# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator),index = False)

### 14. Ease doing business

#### Load Data

In [130]:
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Ease of Doing Business
ease_doing_bus

In [131]:
# remove unwanted rows
df = df.replace('..', np.nan)
df = df[~df['Series Code'].isna()]

In [132]:
df['Series Name'].unique()

array(['Ease of doing business index (1=most business-friendly regulations)'],
      dtype=object)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  0 non-null      float64
 5   2000 [YR2000]  0 non-null      float64
 6   2011 [YR2011]  0 non-null      float64
 7   2012 [YR2012]  0 non-null      float64
 8   2013 [YR2013]  0 non-null      float64
 9   2014 [YR2014]  0 non-null      float64
 10  2015 [YR2015]  0 non-null      float64
 11  2016 [YR2016]  0 non-null      float64
 12  2017 [YR2017]  0 non-null      float64
 13  2018 [YR2018]  0 non-null      float64
 14  2019 [YR2019]  189 non-null    object
 15  2020 [YR2020]  0 non-null      float64
dtypes: float64(11), object(5)
memory usage: 35.3+ KB

In [134]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

In [135]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

# df['higher_is_better'] = False
df['Indicator'] = df['Series Name']
df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df['2019 [YR2019]']
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

# df['data_norm'] = df['data_norm'] = (df.data_col - df.data_col.mean())/df.data_col.std()

In [136]:
rank_min = df.data_col.min()
rank_max = df.data_col.max()

In [137]:
rank_min, rank_max

(1.0, 190.0)

In [138]:
# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=rank_min,old_max=rank_max))

In [139]:
# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [140]:
df.sort_values(by='new_rank_score', ascending=False).head(16)

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],Indicator,data_col,Year,Sub-Pillar,new_rank_score
141,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,New Zealand,NZL,1.0,Ease of doing business index (1=most business-...,1.0,2019,Startup Environment,6.000000
171,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Singapore,SGP,2.0,Ease of doing business index (1=most business-...,2.0,2019,Startup Environment,5.973545
86,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,"Hong Kong SAR, China",HKG,3.0,Ease of doing business index (1=most business-...,3.0,2019,Startup Environment,5.947090
53,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Denmark,DNK,4.0,Ease of doing business index (1=most business-...,4.0,2019,Startup Environment,5.920635
104,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,"Korea, Rep.",KOR,5.0,Ease of doing business index (1=most business-...,5.0,2019,Startup Environment,5.894180
206,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,United States,USA,6.0,Ease of doing business index (1=most business-...,6.0,2019,Startup Environment,5.867725
72,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Georgia,GEO,7.0,Ease of doing business index (1=most business-...,7.0,2019,Startup Environment,5.841270
205,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,United Kingdom,GBR,8.0,Ease of doing business index (1=most business-...,8.0,2019,Startup Environment,5.814815
147,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Norway,NOR,9.0,Ease of doing business index (1=most business-...,9.0,2019,Startup Environment,5.788360
187,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Sweden,SWE,10.0,Ease of doing business index (1=most business-...,10.0,2019,Startup Environment,5.761905
115,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Lithuania,LTU,11.0,Ease of doing business index (1=most business-...,11.0,2019,Startup Environment,5.735450
120,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Malaysia,MYS,12.0,Ease of doing business index (1=most business-...,12.0,2019,Startup Environment,5.708995
126,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Mauritius,MUS,13.0,Ease of doing business index (1=most business-...,13.0,2019,Startup Environment,5.682540
10,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Australia,AUS,14.0,Ease of doing business index (1=most business-...,14.0,2019,Startup Environment,5.656085
204,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,United Arab Emirates,ARE,16.0,Ease of doing business index (1=most business-...,16.0,2019,Startup Environment,5.603175
145,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,North Macedonia,MKD,17.0,Ease of doing business index (1=most business-...,17.0,2019,Startup Environment,5.576720

In [141]:
df['higher_is_better'] = True
df.head(15)

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],Indicator,data_col,Year,Sub-Pillar,new_rank_score,higher_is_better
0,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Afghanistan,AFG,173.0,Ease of doing business index (1=most business-...,173.0,2019,Startup Environment,1.449735,True
1,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Albania,ALB,82.0,Ease of doing business index (1=most business-...,82.0,2019,Startup Environment,3.857143,True
2,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Algeria,DZA,157.0,Ease of doing business index (1=most business-...,157.0,2019,Startup Environment,1.873016,True
3,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,American Samoa,ASM,NaN,Ease of doing business index (1=most business-...,NaN,2019,Startup Environment,NaN,True
4,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Andorra,AND,NaN,Ease of doing business index (1=most business-...,NaN,2019,Startup Environment,NaN,True
5,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Angola,AGO,177.0,Ease of doing business index (1=most business-...,177.0,2019,Startup Environment,1.343915,True
6,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Antigua and Barbuda,ATG,113.0,Ease of doing business index (1=most business-...,113.0,2019,Startup Environment,3.037037,True
7,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Argentina,ARG,126.0,Ease of doing business index (1=most business-...,126.0,2019,Startup Environment,2.693122,True
8,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Armenia,ARM,47.0,Ease of doing business index (1=most business-...,47.0,2019,Startup Environment,4.783069,True
9,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Aruba,ABW,NaN,Ease of doing business index (1=most business-...,NaN,2019,Startup Environment,NaN,True
10,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Australia,AUS,14.0,Ease of doing business index (1=most business-...,14.0,2019,Startup Environment,5.656085,True
11,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Austria,AUT,27.0,Ease of doing business index (1=most business-...,27.0,2019,Startup Environment,5.312169,True
12,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Azerbaijan,AZE,34.0,Ease of doing business index (1=most business-...,34.0,2019,Startup Environment,5.126984,True
13,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,"Bahamas, The",BHS,119.0,Ease of doing business index (1=most business-...,119.0,2019,Startup Environment,2.878307,True
14,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Bahrain,BHR,43.0,Ease of doing business index (1=most business-...,43.0,2019,Startup Environment,4.888889,True

#### Prepare Output

In [142]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# output scores

## 15. Ease of finding skilled employees

In [143]:
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Ease of finding skilled employees
ease_of_finding_skilled_employees

In [144]:
df.head()

      2017  2018  2019    Country  Unnamed: 4
0     3.88  4.03  3.89    Albania         NaN
1     3.98  3.84  4.12    Algeria         NaN
2  No data  2.08  2.76     Angola         NaN
3     4.35   4.1  4.19  Argentina         NaN
4     3.82  3.87  4.03    Armenia         NaN

In [145]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

In [146]:
values = ['2017','2018','2019']

In [147]:
df = df.replace('No data', np.nan)

In [148]:
df[values] = df[values].astype(float)

In [149]:
df.head()

   2017  2018  2019    Country  Unnamed: 4
0  3.88  4.03  3.89    Albania         NaN
1  3.98  3.84  4.12    Algeria         NaN
2   NaN  2.08  2.76     Angola         NaN
3  4.35  4.10  4.19  Argentina         NaN
4  3.82  3.87  4.03    Armenia         NaN

In [150]:
df[values].describe()

             2017        2018        2019
count  132.000000  136.000000  137.000000
mean     4.183258    4.136176    4.196058
std      0.664458    0.659186    0.589124
min      2.720000    2.080000    2.760000
25%      3.685000    3.637500    3.840000
50%      4.065000    4.095000    4.170000
75%      4.692500    4.655000    4.630000
max      5.670000    5.750000    5.320000

In [151]:
# create standard columns
df['data_col'] = df['2019']
df['new_rank_score'] = df['data_col']
df['higher_is_better'] = True
df['Indicator'] = indicator
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

df.rename(columns={'Country':'Country Name'}, inplace=True)


df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Albania,2019,Ease of finding skilled employees,3.89,3.89,True,Startup Environment
1,Algeria,2019,Ease of finding skilled employees,4.12,4.12,True,Startup Environment
2,Angola,2019,Ease of finding skilled employees,2.76,2.76,True,Startup Environment
3,Argentina,2019,Ease of finding skilled employees,4.19,4.19,True,Startup Environment
4,Armenia,2019,Ease of finding skilled employees,4.03,4.03,True,Startup Environment
...,...,...,...,...,...,...,...
134,"Venezuela, RB",2019,Ease of finding skilled employees,3.39,3.39,True,Startup Environment
135,Vietnam,2019,Ease of finding skilled employees,3.96,3.96,True,Startup Environment
136,"Yemen, Rep.",2019,Ease of finding skilled employees,3.71,3.71,True,Startup Environment
137,Zambia,2019,Ease of finding skilled employees,4.76,4.76,True,Startup Environment
138,Zimbabwe,2019,Ease of finding skilled employees,4.38,4.38,True,Startup Environment

In [152]:
# output scores to csv
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']].to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 16. Amount invested into startups yearly from private, public, blended sources (respectively)

In [153]:
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Amount invested into startups yearly from private, public, blended sources (respectively)
start_up_investment

In [154]:
df.head(15)

,LOCATION,Country,SUBJECT,Subject,STAGES,Development stages,MEASURE,Measure,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2006,2006,USD,US Dollar,6,Millions,NaN,NaN,456.334579,NaN,NaN
1,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2007,2007,USD,US Dollar,6,Millions,NaN,NaN,680.293170,NaN,NaN
2,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2008,2008,USD,US Dollar,6,Millions,NaN,NaN,755.759626,NaN,NaN
3,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2009,2009,USD,US Dollar,6,Millions,NaN,NaN,532.682779,NaN,NaN
4,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2010,2010,USD,US Dollar,6,Millions,NaN,NaN,367.836251,NaN,NaN
5,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2011,2011,USD,US Dollar,6,Millions,NaN,NaN,246.528233,NaN,NaN
6,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2012,2012,USD,US Dollar,6,Millions,NaN,NaN,331.331196,NaN,NaN
7,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2013,2013,USD,US Dollar,6,Millions,NaN,NaN,252.934084,NaN,NaN
8,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2014,2014,USD,US Dollar,6,Millions,NaN,NaN,265.918369,NaN,NaN
9,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2015,2015,USD,US Dollar,6,Millions,NaN,NaN,288.485377,NaN,NaN
10,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2016,2016,USD,US Dollar,6,Millions,NaN,NaN,165.772881,NaN,NaN
11,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2017,2017,USD,US Dollar,6,Millions,NaN,NaN,354.855077,NaN,NaN
12,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2018,2018,USD,US Dollar,6,Millions,NaN,NaN,428.866448,NaN,NaN
13,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,487.310802,NaN,NaN
14,AUS,Australia,VC_INV,Venture capital investments,SEED,Seed,USD_V,"USD, current prices",2006,2006,USD,US Dollar,6,Millions,NaN,NaN,36.898341,NaN,NaN

In [155]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

In [156]:
df = df[(df['Development stages']=='Total') & (df.Year == 2019) & (df.MEASURE == 'USD_V')]
df.head(15)

,LOCATION,Country,SUBJECT,Subject,STAGES,Development stages,MEASURE,Measure,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
13,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,487.310802,NaN,NaN
120,AUT,Austria,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,90.416881,NaN,NaN
232,BEL,Belgium,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,395.828165,NaN,NaN
343,CAN,Canada,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,3286.872933,NaN,NaN
448,CZE,Czech Republic,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,27.204683,NaN,NaN
538,DNK,Denmark,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,352.437466,NaN,NaN
650,FIN,Finland,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,321.566548,NaN,NaN
762,FRA,France,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,2164.944440,NaN,NaN
874,DEU,Germany,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,2379.672789,NaN,NaN
985,GRC,Greece,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,27.057841,NaN,NaN
1080,HUN,Hungary,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,154.868417,NaN,NaN
1188,IRL,Ireland,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,184.933805,NaN,NaN
1298,ITA,Italy,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,261.115322,NaN,NaN
1408,JPN,Japan,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,2502.530372,NaN,NaN
1473,KOR,Korea,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,2708.439256,NaN,NaN

In [157]:
# create standard columns
df['Country Name'] = df['Country']
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['higher_is_better'] = True
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

In [158]:
df = df[['Country Name', 'Year','Indicator','data_col','higher_is_better','Sub-Pillar']]

# Normalize country names as much as possible
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
df['Country Name'] = df['Country Name'].replace('Bahrain (Kingdom of)','Bahrain')
df['Country Name'] = df['Country Name'].replace('Bolivia','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Bolivia, Plurinational State of','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Brunei','Brunei Darussalam')
df['Country Name'] = df['Country Name'].replace('Bulgaria (Rep.)','Bulgaria')
df['Country Name'] = df['Country Name'].replace('Central African Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Central African Rep.','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace("China (People's Rep.)",'China')
df['Country Name'] = df['Country Name'].replace("Comoros",'Comoros (the)')
df['Country Name'] = df['Country Name'].replace("Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Brazzaville)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Rep. of the)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Democratic Republic of the)",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, Dem. Rep.",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, The Democratic Republic of the",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("DR Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Dem. Rep. of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Cote d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Côte d’Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote D'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote dIvoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cōte d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Ivory Coast","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Dem. People's Rep. of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Democratic People's Republic of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Korea, Dem. People's Rep.","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("North Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].replace("Eswatini (Kingdom of)",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Swaziland",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Faröe Islands",'Faroe Islands')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
df['Country Name'] = df['Country Name'].replace("Georgia (Country)",'Georgia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
df['Country Name'] = df['Country Name'].replace("Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep. of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep.)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Republic of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea, South",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("South Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Republic of Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
df['Country Name'] = df['Country Name'].replace("Morroco",'Morocco')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].replace("Niger",'Niger (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
df['Country Name'] = df['Country Name'].replace("West Bank and Gaza",'State of Palestine (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
df['Country Name'] = df['Country Name'].replace("Republic of the Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
df['Country Name'] = df['Country Name'].replace("Russia",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].replace("Russian Federation",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
df['Country Name'] = df['Country Name'].replace("UAE",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("U.A.E",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("United Arab Emirates",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace('United Kingdom','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('UK','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("Great Britain",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("United Kingdom of Great Britain and Northern Ireland",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('Vietnam','Viet Nam')
df['Country Name'] = df['Country Name'].replace('United States','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('USA','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('United States of America','United States of America (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
df['Country Name'] = df['Country Name'].replace('Sint Maarten','Saint Martin')
df['Country Name'] = df['Country Name'].replace('St. Martin (French part)','Saint Martin (French Part)')
df['Country Name'] = df['Country Name'].replace('Sint Maarten (Dutch part)','Saint Martin (Dutch Part)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
df['Country Name'] = df['Country Name'].replace('Congo, Democratic Republic','Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo, Rep.','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo (Rep.)','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
df['Country Name'] = df['Country Name'].replace('Eq. Guinea','Equatorial Guinea')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].replace('C.A. Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Ant.& Barb.','Antigua and Barbuda')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
df['Country Name'] = df['Country Name'].replace('Domin. Rep.','Dominican Republic (the)')
df['Country Name'] = df['Country Name'].replace('Dominica (Commonwealth of)','Dominica')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
df['Country Name'] = df['Country Name'].replace('R. of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].replace('Curacao','Curaçao')
df['Country Name'] = df['Country Name'].replace('Reunion','Réunion')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

df=df.merge(pop,how='outer',on='Country Name')
df

<ipython-input-158-709cf5e28ea8>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
<ipython-input-158-709cf5e28ea8>:28: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
<ipython-input-158-709cf5e28ea8>:35: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
<ipython-input-158-709cf5e28ea8>:36: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
<ipython-input-158-709cf5e28ea8>:37: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-158-709cf5e28ea8>:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-158-709cf5e28ea8>:42: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
<ipython-input-158-709cf5e28ea8>:44: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
<ipython-input-158-709cf5e28ea8>:49: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
<ipython-input-158-709cf5e28ea8>:54: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
<ipython-input-158-709cf5e28ea8>:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
<ipython-input-158-709cf5e28ea8>:56: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
<ipython-input-158-709cf5e28ea8>:57: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
<ipython-input-158-709cf5e28ea8>:58: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
<ipython-input-158-709cf5e28ea8>:59: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
<ipython-input-158-709cf5e28ea8>:61: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
<ipython-input-158-709cf5e28ea8>:62: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-158-709cf5e28ea8>:64: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
<ipython-input-158-709cf5e28ea8>:65: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-158-709cf5e28ea8>:66: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
<ipython-input-158-709cf5e28ea8>:68: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
<ipython-input-158-709cf5e28ea8>:69: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
<ipython-input-158-709cf5e28ea8>:71: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
<ipython-input-158-709cf5e28ea8>:72: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
<ipython-input-158-709cf5e28ea8>:75: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
<ipython-input-158-709cf5e28ea8>:76: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
<ipython-input-158-709cf5e28ea8>:77: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
<ipython-input-158-709cf5e28ea8>:78: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
<ipython-input-158-709cf5e28ea8>:79: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
<ipython-input-158-709cf5e28ea8>:80: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
<ipython-input-158-709cf5e28ea8>:81: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
<ipython-input-158-709cf5e28ea8>:82: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
<ipython-input-158-709cf5e28ea8>:83: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
<ipython-input-158-709cf5e28ea8>:84: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
<ipython-input-158-709cf5e28ea8>:96: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
<ipython-input-158-709cf5e28ea8>:97: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
<ipython-input-158-709cf5e28ea8>:98: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
<ipython-input-158-709cf5e28ea8>:99: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
<ipython-input-158-709cf5e28ea8>:100: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
<ipython-input-158-709cf5e28ea8>:101: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
<ipython-input-158-709cf5e28ea8>:102: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
<ipython-input-158-709cf5e28ea8>:103: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
<ipython-input-158-709cf5e28ea8>:104: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
<ipython-input-158-709cf5e28ea8>:108: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
<ipython-input-158-709cf5e28ea8>:109: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
<ipython-input-158-709cf5e28ea8>:114: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
<ipython-input-158-709cf5e28ea8>:115: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
<ipython-input-158-709cf5e28ea8>:116: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
<ipython-input-158-709cf5e28ea8>:117: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
<ipython-input-158-709cf5e28ea8>:118: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
<ipython-input-158-709cf5e28ea8>:119: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
<ipython-input-158-709cf5e28ea8>:120: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
<ipython-input-158-709cf5e28ea8>:122: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
<ipython-input-158-709cf5e28ea8>:125: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
<ipython-input-158-709cf5e28ea8>:128: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
<ipython-input-158-709cf5e28ea8>:130: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
<ipython-input-158-709cf5e28ea8>:131: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")

<ipython-input-158-709cf5e28ea8>:132: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
<ipython-input-158-709cf5e28ea8>:135: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

,Country Name,Year,Indicator,data_col,higher_is_better,Sub-Pillar,1960,1961,1962,1963,...,2014,2015,2016,2017,2018,2019,2020,Country Code,Indicator Name,Indicator Code
0,Australia,2019.0,Amount invested into startups yearly from priv...,487.310802,True,Startup Environment,10276477.0,10483000.0,10742000.0,10950000.0,...,23475686.0,23815995.0,24190907.0,24601860.0,24982688.0,25365745.0,25687041.0,AUS,"Population, total",SP.POP.TOTL
1,Austria,2019.0,Amount invested into startups yearly from priv...,90.416881,True,Startup Environment,7047539.0,7086299.0,7129864.0,7175811.0,...,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8917205.0,AUT,"Population, total",SP.POP.TOTL
2,Belgium,2019.0,Amount invested into startups yearly from priv...,395.828165,True,Startup Environment,9153489.0,9183948.0,9220578.0,9289770.0,...,11209057.0,11274196.0,11331422.0,11375158.0,11427054.0,11488980.0,11555997.0,BEL,"Population, total",SP.POP.TOTL
3,Canada,2019.0,Amount invested into startups yearly from priv...,3286.872933,True,Startup Environment,17909009.0,18271000.0,18614000.0,18964000.0,...,35437435.0,35702908.0,36109487.0,36545295.0,37065178.0,37593384.0,38005238.0,CAN,"Population, total",SP.POP.TOTL
4,Czechia,2019.0,Amount invested into startups yearly from priv...,27.204683,True,Startup Environment,9602006.0,9586651.0,9624660.0,9670685.0,...,10525347.0,10546059.0,10566332.0,10594438.0,10629928.0,10671870.0,10698896.0,CZE,"Population, total",SP.POP.TOTL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Samoa,NaN,NaN,NaN,NaN,NaN,108627.0,112112.0,115768.0,119552.0,...,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,198410.0,WSM,"Population, total",SP.POP.TOTL
262,Kosovo (UNSCR 1244),NaN,NaN,NaN,NaN,NaN,947000.0,966000.0,994000.0,1022000.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0,XKX,"Population, total",SP.POP.TOTL
263,Yemen,NaN,NaN,NaN,NaN,NaN,5315351.0,5393034.0,5473671.0,5556767.0,...,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,YEM,"Population, total",SP.POP.TOTL
264,Zambia,NaN,NaN,NaN,NaN,NaN,3070780.0,3164330.0,3260645.0,3360099.0,...,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,ZMB,"Population, total",SP.POP.TOTL
265,Zimbabwe,NaN,NaN,NaN,NaN,NaN,3776679.0,3905038.0,4039209.0,4178726.0,...,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,ZWE,"Population, total",SP.POP.TOTL

In [159]:

df['new_data_col'] = (df['data_col']*1000000)/(df['2019'])
df=df[df['Indicator'].notna()]
df['new_data_col'] = df['new_data_col'].astype(np.float64)
df=df[['Country Name','Year','Indicator','new_data_col','higher_is_better','Sub-Pillar']]
min_rank = df['new_data_col'].min()
max_rank = df['new_data_col'].max()

<ipython-input-159-19aa0e3619d9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new_data_col'] = df['new_data_col'].astype(np.float64)

In [160]:
# Convert the results into quintile
df['data_col'] = pd.qcut(df['new_data_col'], 5, labels=[1,2,3,4,5])

# convert 1-5 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=1,old_max=5))
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Australia,2019.0,Amount invested into startups yearly from priv...,3,3.50,True,Startup Environment
1,Austria,2019.0,Amount invested into startups yearly from priv...,2,2.25,True,Startup Environment
2,Belgium,2019.0,Amount invested into startups yearly from priv...,4,4.75,True,Startup Environment
3,Canada,2019.0,Amount invested into startups yearly from priv...,5,6.00,True,Startup Environment
4,Czechia,2019.0,Amount invested into startups yearly from priv...,1,1.00,True,Startup Environment
5,Denmark,2019.0,Amount invested into startups yearly from priv...,5,6.00,True,Startup Environment
6,Finland,2019.0,Amount invested into startups yearly from priv...,5,6.00,True,Startup Environment
7,France,2019.0,Amount invested into startups yearly from priv...,4,4.75,True,Startup Environment
8,Germany,2019.0,Amount invested into startups yearly from priv...,3,3.50,True,Startup Environment
9,Greece,2019.0,Amount invested into startups yearly from priv...,1,1.00,True,Startup Environment
10,Hungary,2019.0,Amount invested into startups yearly from priv...,3,3.50,True,Startup Environment
11,Ireland,2019.0,Amount invested into startups yearly from priv...,4,4.75,True,Startup Environment
12,Italy,2019.0,Amount invested into startups yearly from priv...,2,2.25,True,Startup Environment
13,Japan,2019.0,Amount invested into startups yearly from priv...,3,3.50,True,Startup Environment
14,Republic of Korea (the),2019.0,Amount invested into startups yearly from priv...,5,6.00,True,Startup Environment
15,Luxembourg,2019.0,Amount invested into startups yearly from priv...,3,3.50,True,Startup Environment
16,Netherlands (the),2019.0,Amount invested into startups yearly from priv...,4,4.75,True,Startup Environment
17,New Zealand,2019.0,Amount invested into startups yearly from priv...,3,3.50,True,Startup Environment
18,Norway,2019.0,Amount invested into startups yearly from priv...,4,4.75,True,Startup Environment
19,Poland,2019.0,Amount invested into startups yearly from priv...,1,1.00,True,Startup Environment
20,Portugal,2019.0,Amount invested into startups yearly from priv...,2,2.25,True,Startup Environment
21,Slovakia,2019.0,Amount invested into startups yearly from priv...,2,2.25,True,Startup Environment
22,Spain,2019.0,Amount invested into startups yearly from priv...,2,2.25,True,Startup Environment
23,Sweden,2019.0,Amount invested into startups yearly from priv...,4,4.75,True,Startup Environment
24,Switzerland,2019.0,Amount invested into startups yearly from priv...,5,6.00,True,Startup Environment
25,United Kingdom of Great Britain and Northern I...,2019.0,Amount invested into startups yearly from priv...,5,6.00,True,Startup Environment
26,United States of America (the),2019.0,Amount invested into startups yearly from priv...,5,6.00,True,Startup Environment
27,Estonia,2019.0,Amount invested into startups yearly from priv...,4,4.75,True,Startup Environment
28,Latvia,2019.0,Amount invested into startups yearly from priv...,2,2.25,True,Startup Environment
29,Lithuania,2019.0,Amount invested into startups yearly from priv...,1,1.00,True,Startup Environment
30,Romania,2019.0,Amount invested into startups yearly from priv...,1,1.00,True,Startup Environment
31,Russian Federation (the),2019.0,Amount invested into startups yearly from priv...,1,1.00,True,Startup Environment
32,South Africa,2019.0,Amount invested into startups yearly from priv...,2,2.25,True,Startup Environment
33,Bulgaria,2019.0,Amount invested into startups yearly from priv...,1,1.00,True,Startup Environment

In [161]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(bf), index=False)

In [162]:
### 17. Regulatory Quality

In [163]:
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))
df.head(16)

Regulatory Quality
global_innovation_dataset

,ISO2,Economy,IndCode,IndNum,IndName,Rank,Score,Value,MinDatCov,Outdated,OverallStreWeak,IncomeStreWeak,DataYear
0,ALB,Albania,Inputs,.1,Innovation Input Sub-index,71.0,39.940929,NaN,NaN,NaN,NaN,NaN,NaN
1,ALB,Albania,Outputs,.2,Innovation Output Sub-index,92.0,16.109792,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Albania,Index,0,Global Innovation Index,84.0,28.025361,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,P1,1,Institutions,60.0,64.919240,NaN,0.0,NaN,NaN,NaN,NaN
4,ALB,Albania,SP11,1.1.,Political environment,71.0,56.071183,NaN,0.0,NaN,NaN,NaN,NaN
5,ALB,Albania,PolStab,1.1.1,Political and operational stability*,60.0,69.642859,2.100000,NaN,0.0,NaN,NaN,2020.0
6,ALB,Albania,GovEff,1.1.2,Government effectiveness*,76.0,49.285344,-0.061331,NaN,0.0,NaN,NaN,2019.0
7,ALB,Albania,SP12,1.2.,Regulatory environment,82.0,58.941532,NaN,0.0,NaN,NaN,NaN,NaN
8,ALB,Albania,RegQua,1.2.1,Regulatory quality*,58.0,50.670701,0.274380,NaN,0.0,NaN,NaN,2019.0
9,ALB,Albania,RuleOL,1.2.2,Rule of law*,85.0,35.889077,-0.411179,NaN,0.0,NaN,NaN,2019.0
10,ALB,Albania,CostRedu,1.2.3,Cost of redudancy dismissal,90.0,74.603175,20.825397,NaN,0.0,NaN,NaN,2019.0
11,ALB,Albania,SP13,1.3.,Business environment,34.0,79.745005,NaN,0.0,NaN,S,S,NaN
12,ALB,Albania,EaseStartBus,1.3.1,Ease of starting a business*,47.0,91.759090,91.759090,NaN,0.0,NaN,NaN,2019.0
13,ALB,Albania,EaseInsol,1.3.2,Ease of resolving insolvency*,36.0,67.730920,67.730920,NaN,0.0,S,NaN,2019.0
14,ALB,Albania,P2,2,Human capital and research,90.0,22.673981,NaN,0.0,NaN,NaN,NaN,NaN
15,ALB,Albania,SP21,2.1.,Education,95.0,39.763678,NaN,0.0,NaN,NaN,NaN,NaN

In [164]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

In [165]:
df = df[(df.IndName == 'Regulatory quality*')]
df

,ISO2,Economy,IndCode,IndNum,IndName,Rank,Score,Value,MinDatCov,Outdated,OverallStreWeak,IncomeStreWeak,DataYear
8,ALB,Albania,RegQua,1.2.1,Regulatory quality*,58.0,50.670701,0.274380,NaN,0.0,NaN,NaN,2019.0
120,DZA,Algeria,RegQua,1.2.1,Regulatory quality*,129.0,9.425411,-1.303379,NaN,0.0,NaN,W,2019.0
232,AGO,Angola,RegQua,1.2.1,Regulatory quality*,124.0,20.130634,-0.893871,NaN,0.0,NaN,NaN,2019.0
344,ARG,Argentina,RegQua,1.2.1,Regulatory quality*,103.0,30.616559,-0.492753,NaN,0.0,NaN,W,2019.0
456,ARM,Armenia,RegQua,1.2.1,Regulatory quality*,59.0,50.020701,0.249515,NaN,0.0,NaN,NaN,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14232,UZB,Uzbekistan,RegQua,1.2.1,Regulatory quality*,126.0,17.531597,-0.993293,NaN,0.0,W,W,2019.0
14344,VNM,Viet Nam,RegQua,1.2.1,Regulatory quality*,93.0,36.639718,-0.262348,NaN,0.0,NaN,NaN,2019.0
14456,YEM,Yemen,RegQua,1.2.1,Regulatory quality*,132.0,0.000000,-1.663930,NaN,0.0,W,W,2019.0
14568,ZMB,Zambia,RegQua,1.2.1,Regulatory quality*,105.0,29.008412,-0.554269,NaN,0.0,NaN,NaN,2019.0
14680,ZWE,Zimbabwe,RegQua,1.2.1,Regulatory quality*,131.0,5.247431,-1.463199,NaN,0.0,W,W,2019.0

In [166]:
df['higher_is_better'] = True
df['Year'] = df['DataYear']
df['Indicator'] = indicator
df['data_col'] = df['Score']
df['Sub-Pillar'] = subpillar
df['Country Name'] = df['Economy']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [167]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
8,Albania,2019.0,Regulatory Quality,50.670701,3.533535,True,Startup Environment
120,Algeria,2019.0,Regulatory Quality,9.425411,1.471271,True,Startup Environment
232,Angola,2019.0,Regulatory Quality,20.130634,2.006532,True,Startup Environment
344,Argentina,2019.0,Regulatory Quality,30.616559,2.530828,True,Startup Environment
456,Armenia,2019.0,Regulatory Quality,50.020701,3.501035,True,Startup Environment
...,...,...,...,...,...,...,...
14232,Uzbekistan,2019.0,Regulatory Quality,17.531597,1.876580,True,Startup Environment
14344,Viet Nam,2019.0,Regulatory Quality,36.639718,2.831986,True,Startup Environment
14456,Yemen,2019.0,Regulatory Quality,0.000000,1.000000,True,Startup Environment
14568,Zambia,2019.0,Regulatory Quality,29.008412,2.450421,True,Startup Environment
14680,Zimbabwe,2019.0,Regulatory Quality,5.247431,1.262372,True,Startup Environment

In [168]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [169]:
### 18. Ease of Getting Credit

In [170]:
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))
df.head(16)

Ease of Getting Credit
global_innovation_dataset

,ISO2,Economy,IndCode,IndNum,IndName,Rank,Score,Value,MinDatCov,Outdated,OverallStreWeak,IncomeStreWeak,DataYear
0,ALB,Albania,Inputs,.1,Innovation Input Sub-index,71.0,39.940929,NaN,NaN,NaN,NaN,NaN,NaN
1,ALB,Albania,Outputs,.2,Innovation Output Sub-index,92.0,16.109792,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Albania,Index,0,Global Innovation Index,84.0,28.025361,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,P1,1,Institutions,60.0,64.919240,NaN,0.0,NaN,NaN,NaN,NaN
4,ALB,Albania,SP11,1.1.,Political environment,71.0,56.071183,NaN,0.0,NaN,NaN,NaN,NaN
5,ALB,Albania,PolStab,1.1.1,Political and operational stability*,60.0,69.642859,2.100000,NaN,0.0,NaN,NaN,2020.0
6,ALB,Albania,GovEff,1.1.2,Government effectiveness*,76.0,49.285344,-0.061331,NaN,0.0,NaN,NaN,2019.0
7,ALB,Albania,SP12,1.2.,Regulatory environment,82.0,58.941532,NaN,0.0,NaN,NaN,NaN,NaN
8,ALB,Albania,RegQua,1.2.1,Regulatory quality*,58.0,50.670701,0.274380,NaN,0.0,NaN,NaN,2019.0
9,ALB,Albania,RuleOL,1.2.2,Rule of law*,85.0,35.889077,-0.411179,NaN,0.0,NaN,NaN,2019.0
10,ALB,Albania,CostRedu,1.2.3,Cost of redudancy dismissal,90.0,74.603175,20.825397,NaN,0.0,NaN,NaN,2019.0
11,ALB,Albania,SP13,1.3.,Business environment,34.0,79.745005,NaN,0.0,NaN,S,S,NaN
12,ALB,Albania,EaseStartBus,1.3.1,Ease of starting a business*,47.0,91.759090,91.759090,NaN,0.0,NaN,NaN,2019.0
13,ALB,Albania,EaseInsol,1.3.2,Ease of resolving insolvency*,36.0,67.730920,67.730920,NaN,0.0,S,NaN,2019.0
14,ALB,Albania,P2,2,Human capital and research,90.0,22.673981,NaN,0.0,NaN,NaN,NaN,NaN
15,ALB,Albania,SP21,2.1.,Education,95.0,39.763678,NaN,0.0,NaN,NaN,NaN,NaN

In [171]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Startup Environment

In [172]:
df = df[(df.IndName == 'Ease of getting credit*')]
df

,ISO2,Economy,IndCode,IndNum,IndName,Rank,Score,Value,MinDatCov,Outdated,OverallStreWeak,IncomeStreWeak,DataYear
46,ALB,Albania,EaseCred,4.1.1,Ease of getting credit*,44.0,70.0,70.0,NaN,0.0,NaN,NaN,2019.0
158,DZA,Algeria,EaseCred,4.1.1,Ease of getting credit*,129.0,10.0,10.0,NaN,0.0,W,W,2019.0
270,AGO,Angola,EaseCred,4.1.1,Ease of getting credit*,131.0,5.0,5.0,NaN,0.0,W,W,2019.0
382,ARG,Argentina,EaseCred,4.1.1,Ease of getting credit*,94.0,50.0,50.0,NaN,0.0,NaN,W,2019.0
494,ARM,Armenia,EaseCred,4.1.1,Ease of getting credit*,44.0,70.0,70.0,NaN,0.0,NaN,NaN,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14270,UZB,Uzbekistan,EaseCred,4.1.1,Ease of getting credit*,61.0,65.0,65.0,NaN,0.0,NaN,NaN,2019.0
14382,VNM,Viet Nam,EaseCred,4.1.1,Ease of getting credit*,23.0,80.0,80.0,NaN,0.0,NaN,NaN,2019.0
14494,YEM,Yemen,EaseCred,4.1.1,Ease of getting credit*,132.0,0.0,0.0,NaN,0.0,W,W,2019.0
14606,ZMB,Zambia,EaseCred,4.1.1,Ease of getting credit*,4.0,95.0,95.0,NaN,0.0,S,S,2019.0
14718,ZWE,Zimbabwe,EaseCred,4.1.1,Ease of getting credit*,61.0,65.0,65.0,NaN,0.0,NaN,NaN,2019.0

In [173]:
df['higher_is_better'] = True
df['Year'] = df['DataYear']
df['Indicator'] = indicator
df['data_col'] = df['Score']
df['Sub-Pillar'] = subpillar
df['Country Name'] = df['Economy']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [174]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
46,Albania,2019.0,Ease of Getting Credit,70.0,4.50,True,Startup Environment
158,Algeria,2019.0,Ease of Getting Credit,10.0,1.50,True,Startup Environment
270,Angola,2019.0,Ease of Getting Credit,5.0,1.25,True,Startup Environment
382,Argentina,2019.0,Ease of Getting Credit,50.0,3.50,True,Startup Environment
494,Armenia,2019.0,Ease of Getting Credit,70.0,4.50,True,Startup Environment
...,...,...,...,...,...,...,...
14270,Uzbekistan,2019.0,Ease of Getting Credit,65.0,4.25,True,Startup Environment
14382,Viet Nam,2019.0,Ease of Getting Credit,80.0,5.00,True,Startup Environment
14494,Yemen,2019.0,Ease of Getting Credit,0.0,1.00,True,Startup Environment
14606,Zambia,2019.0,Ease of Getting Credit,95.0,5.75,True,Startup Environment
14718,Zimbabwe,2019.0,Ease of Getting Credit,65.0,4.25,True,Startup Environment

In [175]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

### Score Aggregating

In [176]:
import os

In [177]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('business')]

In [178]:
scores

['business_Cloud Services (Spend, IT Forecast Data)_scores.csv',
 'business_Doing Business Index_scores.csv',
 'business_Ease of finding skilled employees_scores.csv',
 'business_Ease of Getting Credit_scores.csv',
 'business_ICT task-intensive jobs as a percentage of total employment_scores.csv',
 'business_Networking Services (Spend, IT Forecast Data)_scores.csv',
 'business_Regulatory Quality_scores.csv',
 'business_Share of business with internet_scores.csv',
 'business_Share of businesses with broadband_scores.csv',
 'business_Share of businesses with online presence_scores.csv',
 'business_Size of digital economy (% of transactions)_scores.csv',
 'business_Size of gig economy (% of GDP)_scores.csv',
 'business_start_up_investment_scores.csv',
 'business_Strength of Legal Rights_scores.csv',
 'business_Time to Start a Business_scores.csv',
 'business_UNCTAD Business-to-Consumer (B2C) E-commerce Index_scores.csv',
 'business_Venture Capital Availability_scores.csv']

In [179]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [180]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Germany,2018.0,"Cloud Services (Spend, IT Forecast Data)",18.200000,1.910000,True,Technology Adoption
1,Japan,2018.0,"Cloud Services (Spend, IT Forecast Data)",20.300000,2.015000,True,Technology Adoption
2,United States,2018.0,"Cloud Services (Spend, IT Forecast Data)",18.000000,1.900000,True,Technology Adoption
3,United Kingdom,2018.0,"Cloud Services (Spend, IT Forecast Data)",19.800000,1.990000,True,Technology Adoption
4,Australia,2018.0,"Cloud Services (Spend, IT Forecast Data)",16.100000,1.805000,True,Technology Adoption
...,...,...,...,...,...,...,...
147,Vietnam,2019.0,Venture Capital Availability,3.267500,2.889583,True,Financing Incentives
148,"Yemen, Rep.",2019.0,Venture Capital Availability,2.163688,1.969740,True,Financing Incentives
149,South Africa,2019.0,Venture Capital Availability,3.051583,2.709653,True,Financing Incentives
150,Zambia,2019.0,Venture Capital Availability,1.803466,1.669555,True,Financing Incentives
151,Zimbabwe,2019.0,Venture Capital Availability,2.058023,1.881686,True,Financing Incentives

In [181]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      2129 non-null   object
 1   Year              2129 non-null   float64
 2   Indicator         2129 non-null   object
 3   data_col          2019 non-null   float64
 4   new_rank_score    2129 non-null   float64
 5   higher_is_better  2129 non-null   bool
 6   Sub-Pillar        2129 non-null   object
dtypes: bool(1), float64(3), object(3)
memory usage: 102.0+ KB

In [183]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2019.0,Doing Business Index,47.770000,3.388500,False,Startup Environment
1,Afghanistan,2020.0,UNCTAD Business-to-Consumer (B2C) E-commerce I...,17.100000,1.855000,True,Technology Adoption
2,Afghanistan,2019.0,Strength of legal rights index (0=weak to 12=s...,10.000000,5.166667,True,Startup Environment
3,Afghanistan,2019.0,Time required to start a business (days),2.000000,2.666667,True,Startup Environment
4,Africa Eastern and Southern,2019.0,Strength of legal rights index (0=weak to 12=s...,4.538462,2.891026,True,Startup Environment
...,...,...,...,...,...,...,...
2124,Zimbabwe,2019.0,Doing Business Index,50.440000,3.522000,False,Startup Environment
2125,Zimbabwe,2020.0,UNCTAD Business-to-Consumer (B2C) E-commerce I...,30.500000,2.525000,True,Technology Adoption
2126,Zimbabwe,2018.0,Share of businesses with online presence,38.700000,2.935000,True,Technology Adoption
2127,Zimbabwe,2019.0,Venture Capital Availability,2.058023,1.881686,True,Financing Incentives
2128,Zimbabwe,2020.0,"Networking Services (Spend, IT Forecast Data)",25.780000,2.289000,True,Technology Adoption

In [184]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2019.0,Doing Business Index,47.770000,3.388500,False,Startup Environment
1,Afghanistan,2020.0,UNCTAD Business-to-Consumer (B2C) E-commerce I...,17.100000,1.855000,True,Technology Adoption
2,Afghanistan,2019.0,Strength of legal rights index (0=weak to 12=s...,10.000000,5.166667,True,Startup Environment
3,Afghanistan,2019.0,Time required to start a business (days),2.000000,2.666667,True,Startup Environment
4,Africa Eastern and Southern,2019.0,Strength of legal rights index (0=weak to 12=s...,4.538462,2.891026,True,Startup Environment
5,Africa Eastern and Southern,2019.0,Time required to start a business (days),1.000000,1.000000,True,Startup Environment
6,Africa Western and Central,2019.0,Strength of legal rights index (0=weak to 12=s...,5.863636,3.443182,True,Startup Environment
7,Africa Western and Central,2019.0,Time required to start a business (days),1.000000,1.000000,True,Startup Environment
8,Albania,2019.0,Size of digital economy (% of transactions),6.690000,1.334500,True,Technology Adoption
9,Albania,2019.0,Regulatory Quality,50.670701,3.533535,True,Startup Environment
10,Albania,2019.0,Time required to start a business (days),3.000000,4.333333,True,Startup Environment
11,Albania,2020.0,UNCTAD Business-to-Consumer (B2C) E-commerce I...,49.500000,3.475000,True,Technology Adoption
12,Albania,2019.0,Doing Business Index,69.510000,4.475500,False,Startup Environment
13,Albania,2019.0,Strength of legal rights index (0=weak to 12=s...,8.000000,4.333333,True,Startup Environment
14,Albania,2019.0,Ease of Getting Credit,70.000000,4.500000,True,Startup Environment

In [185]:
df.describe()

              Year     data_col  new_rank_score
count  2129.000000  2019.000000     2129.000000
mean   2018.971818    32.774895        3.168046
std       1.016386    29.974639        1.477568
min    2010.000000     0.000000        0.000000
25%    2019.000000     4.000000        2.165000
50%    2019.000000    25.780000        3.296517
75%    2019.000000    59.287056        4.333333
max    2020.000000   100.000000        6.000000

In [186]:
df['Country Name'] = df['Country Name'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      2129 non-null   object
 1   Year              2129 non-null   float64
 2   Indicator         2129 non-null   object
 3   data_col          2019 non-null   float64
 4   new_rank_score    2129 non-null   float64
 5   higher_is_better  2129 non-null   bool
 6   Sub-Pillar        2129 non-null   object
dtypes: bool(1), float64(3), object(3)
memory usage: 102.0+ KB

In [187]:
# checking country names
sorted(df['Country Name'].unique().tolist())

['Afghanistan',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Albania',
 'Albania ',
 'Algeria',
 'Algeria ',
 'American Samoa',
 'Andorra',
 'Angola',
 'Angola ',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Argentina ',
 'Armenia',
 'Armenia ',
 'Aruba',
 'Australia',
 'Australia ',
 'Austria',
 'Austria ',
 'Azerbaijan',
 'Azerbaijan ',
 'B:',
 'Bahamas, The',
 'Bahrain',
 'Bahrain ',
 'Bangladesh',
 'Bangladesh ',
 'Bangladesh Chittagong',
 'Bangladesh Dhaka',
 'Barbados',
 'Belarus',
 'Belarus ',
 'Belgium',
 'Belgium ',
 'Belize',
 'Benin',
 'Benin ',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bolivia ',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina ',
 'Botswana',
 'Botswana ',
 'Brazil',
 'Brazil ',
 'Brazil Rio de Janeiro',
 'Brazil São Paulo',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Bulgaria ',
 'Burkina Faso',
 'Burkina Faso ',
 'Burundi',
 'Burundi ',
 'Cabo Verde',
 'Cabo Verde ',
 'Cambodia',
 'Cambodia ',
 'Cameroon',
 'Cameroon ',
 'Canada',
 'Canada ',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Chad ',
 'Channel Islands',
 'Chile',
 'Chile ',
 'China',
 'China ',
 'China Beijing',
 'China Shanghai',
 'China, Hong Kong SAR',
 'Colombia',
 'Colombia ',
 'Comoros',
 'Congo',
 'Congo, Dem. Rep.',
 'Congo, Dem. Rep. ',
 'Congo, Rep.',
 'Costa Rica',
 'Costa Rica ',
 "Cote d'Ivoire",
 'Cote dIvoire',
 'Croatia',
 'Croatia ',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Cyprus ',
 'Czech Republic',
 'Czech Republic ',
 'Czechia',
 "Côte d'Ivoire",
 "Côte d'Ivoire ",
 "Cōte d'Ivoire",
 'D:',
 'Data extracted on 10 Sep 2021 15:04 UTC (GMT) from OECD.Stat',
 'Dem. Rep. of the Congo',
 'Denmark',
 'Denmark ',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Dominican Republic ',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Ecuador ',
 'Egypt',
 'Egypt ',
 'Egypt, Arab Rep.',
 'El Salvador',
 'El Salvador ',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Estonia ',
 'Eswatini',
 'Eswatini ',
 'Ethiopia',
 'Ethiopia ',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Finland ',
 'Fragile and conflict affected situations',
 'France',
 'France ',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Gambia ',
 'Gambia, The',
 'Georgia',
 'Georgia ',
 'Germany',
 'Germany ',
 'Ghana',
 'Ghana ',
 'Gibraltar',
 'Greece',
 'Greece ',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guatemala ',
 'Guinea',
 'Guinea ',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Honduras ',
 'Hong Kong',
 'Hong Kong (China)',
 'Hong Kong (China) ',
 'Hong Kong SAR, China',
 'Hungary',
 'Hungary ',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iceland',
 'Iceland ',
 'India',
 'India ',
 'India Delhi',
 'India Mumbai',
 'Indonesia',
 'Indonesia ',
 'Indonesia Jakarta',
 'Indonesia Surabaya',
 'Iran (Islamic Republic of)',
 'Iran, Islamic Rep.',
 'Iran, Islamic Rep. ',
 'Iraq',
 'Ireland',
 'Ireland ',
 'Isle of Man',
 'Israel',
 'Israel ',
 'Italy',
 'Italy ',
 'Jamaica',
 'Jamaica ',
 'Japan',
 'Japan ',
 'Japan Osaka',
 'Japan Tokyo',
 'Jordan',
 'Jordan ',
 'Kazakhstan',
 'Kazakhstan ',
 'Kenya',
 'Kenya ',
 'Kiribati',
 'Korea',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Korea, Rep. ',
 'Korea, Republic of',
 'Kosovo',
 'Kuwait',
 'Kuwait ',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'Kyrgyzstan ',
 'Lao PDR',
 'Lao PDR ',
 "Lao People's Dem. Rep.",
 "Lao People's Democratic Republic",
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latvia',
 'Latvia ',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lebanon ',
 'Legend:',
 'Lesotho',
 'Lesotho ',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Lithuania ',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Luxembourg ',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Madagascar ',
 'Malawi',
 'Malawi ',
 'Malaysia',
 'Malaysia ',
 'Maldives',
 'Mali',
 'Mali ',
 'Malta',
 'Malta ',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mauritius ',
 'Mexico',
 'Mexico ',
 'Mexico Mexico City',
 'Mexico Monterrey',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Moldova ',
 'Monaco',
 'Mongolia',
 'Mongolia ',
 'Montenegro',
 'Montenegro ',
 'Morocco',
 'Morocco ',
 'Mozambique',
 'Mozambique ',
 'Myanmar',
 'Namibia',
 'Namibia ',
 'Nauru',
 'Nepal',
 'Nepal ',
 'Netherlands',
 'Netherlands ',
 'Netherlands (the)',
 'New Caledonia',
 'New Zealand',
 'New Zealand ',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Nigeria ',
 'Nigeria Kano',
 'Nigeria Lagos',
 'North America',
 'North Macedonia',
 'North Macedonia ',
 'Northern Mariana Islands',
 'Norway',
 'Norway ',
 'Not classified',
 'OECD members',
 'Oman',
 'Oman ',
 'Other small states',
 'Pacific island small states',
 'Pakistan',
 'Pakistan ',
 'Pakistan Karachi',
 'Pakistan Lahore',
 'Palau',
 'Panama',
 'Panama ',
 'Papua New Guinea',
 'Paraguay',
 'Paraguay ',
 'Peru',
 'Peru ',
 'Philippines',
 'Philippines ',
 'Poland',
 'Poland ',
 'Portugal',
 'Portugal ',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Puerto Rico (U.S.)',
 'Qatar',
 'Qatar ',
 'Republic of Korea',
 'Republic of Korea (the)',
 'Republic of Moldova',
 'Romania',
 'Romania ',
 'Russia',
 'Russian Federation',
 'Russian Federation ',
 'Russian Federation (the)',
 'Russian Federation Moscow',
 'Russian Federation Saint Petersburg',
 'Rwanda',
 'Rwanda ',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Saudi Arabia ',
 'Senegal',
 'Senegal ',
 'Serbia',
 'Serbia ',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Singapore ',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovakia',
 'Slovakia ',
 'Slovenia',
 'Slovenia ',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Africa ',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Sudan',
 'Spain',
 'Spain ',
 'Sri Lanka',
 'Sri Lanka ',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Sweden ',
 'Switzerland',
 'Switzerland ',
 'Syrian Arab Republic',
 'São Tomé and Príncipe',
 'Taiwan, China',
 'Tajikistan',
 'Tajikistan ',
 'Tanzania',
 'Tanzania ',
 'Thailand',
 'Thailand ',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Trinidad and Tobago ',
 'Tunisia',
 'Tunisia ',
 'Turkey',
 'Turkey ',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Uganda ',
 'Ukraine',
 'Ukraine ',
 'United Arab Emirates',
 'United Arab Emirates ',
 'United Kingdom',
 'United Kingdom ',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'United Republic of Tanzania',
 'United States',
 'United States ',
 'United States Los Angeles',
 'United States New York City',
 'United States of America',
 'United States of America (the)',
 'Upper middle income',
 'Uruguay',
 'Uruguay ',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Venezuela ',
 'Venezuela (Bolivarian Rep. of)',
 'Venezuela, RB',
 'Viet Nam',
 'Viet Nam ',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen',
 'Yemen ',
 'Yemen, Arab Republic',
 'Yemen, Rep.',
 'Zambia',
 'Zambia ',
 'Zimbabwe',
 'Zimbabwe ']

In [188]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')

In [189]:
# checking country names
sorted(df['Country Name'].unique().tolist())

['Afghanistan',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'B:',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Bangladesh Chittagong',
 'Bangladesh Dhaka',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brazil Rio de Janeiro',
 'Brazil São Paulo',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'China Beijing',
 'China Shanghai',
 'China, Hong Kong SAR',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Cote dIvoire',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Czechia',
 "Côte d'Ivoire",
 "Cōte d'Ivoire",
 'D:',
 'Data extracted on 10 Sep 2021 15:04 UTC (GMT) from OECD.Stat',
 'Dem. Rep. of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Fragile and conflict affected situations',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Hong Kong',
 'Hong Kong (China)',
 'Hong Kong SAR, China',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iceland',
 'India',
 'India Delhi',
 'India Mumbai',
 'Indonesia',
 'Indonesia Jakarta',
 'Indonesia Surabaya',
 'Iran (Islamic Republic of)',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Japan Osaka',
 'Japan Tokyo',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Korea, Republic of',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'Lao PDR',
 "Lao People's Dem. Rep.",
 "Lao People's Democratic Republic",
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latvia',
 'Least developed countries: UN classification',
 'Lebanon',
 'Legend:',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mexico Mexico City',
 'Mexico Monterrey',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands (the)',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Nigeria Kano',
 'Nigeria Lagos',
 'North America',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Not classified',
 'OECD members',
 'Oman',
 'Other small states',
 'Pacific island small states',
 'Pakistan',
 'Pakistan Karachi',
 'Pakistan Lahore',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Puerto Rico (U.S.)',
 'Qatar',
 'Republic of Korea',
 'Republic of Korea (the)',
 'Republic of Moldova',
 'Romania',
 'Russia',
 'Russian Federation',
 'Russian Federation (the)',
 'Russian Federation Moscow',
 'Russian Federation Saint Petersburg',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovakia',
 'Slovenia',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'São Tomé and Príncipe',
 'Taiwan, China',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'United Republic of Tanzania',
 'United States',
 'United States Los Angeles',
 'United States New York City',
 'United States of America',
 'United States of America (the)',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Venezuela (Bolivarian Rep. of)',
 'Venezuela, RB',
 'Viet Nam',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen',
 'Yemen, Arab Republic',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [190]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [191]:
agg_df.columns = ['agg_score', 'count_source' ]

In [192]:
max_number_sources = agg_df.describe()['count_source']['max']

In [193]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [194]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [195]:
agg_df.head(25)

,agg_score,count_source,agg_score_wt
Country Name,,,
United States of America (the),6.000000,1,0.352941
Republic of Korea (the),6.000000,1,0.352941
United Kingdom of Great Britain and Northern Ireland (the),6.000000,1,0.352941
"China, Hong Kong SAR",5.590000,1,0.328824
"Korea, Republic of",5.490000,1,0.322941
United States of America,5.411132,3,0.954906
Hong Kong,5.258690,2,0.618669
United States New York City,5.199500,1,0.305853
United States Los Angeles,5.044000,1,0.296706
"Hong Kong SAR, China",4.911595,4,1.155669
Russian Federation Moscow,4.879500,1,0.287029
Kosovo,4.874722,3,0.860245
Russian Federation Saint Petersburg,4.842500,1,0.284853
New Zealand,4.815493,14,3.965700
Japan Tokyo,4.785500,1,0.281500
Japan Osaka,4.777000,1,0.281000
Mexico Monterrey,4.771000,1,0.280647
Netherlands (the),4.750000,1,0.279412
North America,4.750000,2,0.558824
China Shanghai,4.684000,1,0.275529
China Beijing,4.679500,1,0.275265
"Taiwan, China",4.588563,3,0.809746
Mexico Mexico City,4.570500,1,0.268853
Denmark,4.553160,13,3.481828
Brunei Darussalam,4.536627,7,1.868023

In [196]:
agg_df.to_csv('../pillar_scores/business_scores_v0.csv')

In [197]:
### Score Aggregating by Subpillars

In [198]:
df.insert(0,'Pillar','Business')
df

# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')

In [199]:
sub_df = df.groupby(['Pillar','Sub-Pillar','Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [200]:
sub_df.columns = ['agg_score', 'count_source' ]

In [201]:
max_number_sources = sub_df.describe()['count_source']['max']

In [202]:
sub_df['agg_score_wt'] = sub_df['agg_score']*(sub_df['count_source']/max_number_sources)

In [203]:
sub_df.to_csv('../subpillar_score/business_scores_subpillar_v0.csv')

### Sources Generation

In [204]:
#Get all countries from Countries.xlsx
countries = pd.read_excel('../../data/Countries.xlsx')
col_names = ['Country or Area']
countries = countries[col_names]
countries.rename(columns = {'Country or Area': 'Country Name'}, inplace = True)

In [205]:
#Get all indicators from names dataframe retrieve at the begining of the script
bnames=bnames[['check','Sub-Pillar','Indicator','Data Source','Data Link']]
bnames.rename(columns = {'check': 'Pillar'}, inplace = True)
bnames = bnames.replace('\n','', regex=True)

In [206]:
#Do a nice cross join so that we have combination of all countries vs all indicators
sources = countries.merge(bnames, how='cross')
sources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link
0,Algeria,Business,Technology Adoption,UNCTAD Business-to-Consumer (B2C) E-commerce I...,UNCTAD: Business-to-Consumer (B2C) E-commerce...,https://unctad.org
1,Algeria,Business,Technology Adoption,"Networking Services (Spend, IT Forecast Data)",Portulans Institute: Network Readiness Index,https://networkreadinessindex.org
2,Algeria,Business,Technology Adoption,"Cloud Services (Spend, IT Forecast Data)",Statista,https://www.statista.com
3,Algeria,Business,Technology Adoption,ICT task-intensive jobs as a percentage of tot...,OECD: Going Digital Toolkit,http://goingdigital.oecd.org
4,Algeria,Business,Technology Adoption,Share of business with internet,OECD: ICT Access and Usage by Businesses,https://stats.oecd.org
...,...,...,...,...,...,...
4477,Wallis and Futuna Islands,Business,Startup Environment,Ease of Doing Business,World Bank: Doing Business rankings,https://datacatalog.worldbank.org
4478,Wallis and Futuna Islands,Business,Startup Environment,Ease of finding skilled employees,World Bank: GovData,https://datacatalog.worldbank.org
4479,Wallis and Futuna Islands,Business,Startup Environment,Amount invested into startups yearly from priv...,OECD: Venture capital investments,https://stats.oecd.org
4480,Wallis and Futuna Islands,Business,Startup Environment,Regulatory Quality,Global Innovation Index/World Bank: Regulatory...,https://www.globalinnovationindex.org/analysis...
4481,Wallis and Futuna Islands,Business,Startup Environment,Ease of Getting Credit,Global Innovation Index/World Bank: Ease of Ge...,https://www.globalinnovationindex.org/analysis...

In [207]:
#Make copy of a scores dataframe and add the column available, with value of 1 (string)
#denoting all the country/indicator combinations that have value
dfsources = df[['Country Name','Pillar','Sub-Pillar','Indicator']].copy()
dfsources['Available'] = '1'

In [208]:
#Merge (left join) sources (all country indicator combinations)
#with those in copied scores dataframe
#resulting in a sources dataframe with values of 1 in Available column where there is a value for country/indicator
#and there is a NaN where there's not. 
#subsequently replace NaN with 0 (string)
sources = sources.merge(dfsources, how='left', on=['Country Name','Pillar','Sub-Pillar','Indicator'])
sources['Available'] = sources['Available'].fillna('0')
sources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link,Available
0,Algeria,Business,Technology Adoption,UNCTAD Business-to-Consumer (B2C) E-commerce I...,UNCTAD: Business-to-Consumer (B2C) E-commerce...,https://unctad.org,1
1,Algeria,Business,Technology Adoption,"Networking Services (Spend, IT Forecast Data)",Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,1
2,Algeria,Business,Technology Adoption,"Cloud Services (Spend, IT Forecast Data)",Statista,https://www.statista.com,0
3,Algeria,Business,Technology Adoption,ICT task-intensive jobs as a percentage of tot...,OECD: Going Digital Toolkit,http://goingdigital.oecd.org,0
4,Algeria,Business,Technology Adoption,Share of business with internet,OECD: ICT Access and Usage by Businesses,https://stats.oecd.org,0
...,...,...,...,...,...,...,...
4477,Wallis and Futuna Islands,Business,Startup Environment,Ease of Doing Business,World Bank: Doing Business rankings,https://datacatalog.worldbank.org,0
4478,Wallis and Futuna Islands,Business,Startup Environment,Ease of finding skilled employees,World Bank: GovData,https://datacatalog.worldbank.org,0
4479,Wallis and Futuna Islands,Business,Startup Environment,Amount invested into startups yearly from priv...,OECD: Venture capital investments,https://stats.oecd.org,0
4480,Wallis and Futuna Islands,Business,Startup Environment,Regulatory Quality,Global Innovation Index/World Bank: Regulatory...,https://www.globalinnovationindex.org/analysis...,0
4481,Wallis and Futuna Islands,Business,Startup Environment,Ease of Getting Credit,Global Innovation Index/World Bank: Ease of Ge...,https://www.globalinnovationindex.org/analysis...,0

In [209]:
#If sources.csv exists, get the contents, remove everyhing from this pillar, append prepared sources, save csv.
#if sources.csv does not exist, create new file from sources.
from os.path import exists

if exists('../../dashboard/Sources.csv') :
    CurrentSources = pd.read_csv('../../dashboard/Sources.csv', dtype=str)
    CurrentSources = CurrentSources[['Country Name','Pillar','Sub-Pillar','Indicator','Data Source','Data Link','Available']]
    CurrentSources = CurrentSources.loc[CurrentSources['Pillar'] != 'Business']
    CurrentSources = CurrentSources.append(sources)
else :
    CurrentSources = sources
CurrentSources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link,Available
0,Algeria,Foundations,Digital Payments,Digital payments penetration,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,0
1,Algeria,Foundations,Digital Payments,% of population with digital finance account,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
2,Algeria,Foundations,Digital Payments,Made or received digital payments in the past ...,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
3,Algeria,Foundations,Digital Payments,Made or received digital payments in the past ...,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
4,Algeria,Foundations,Digital Payments,Used a mobile phone or the internet to check a...,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
...,...,...,...,...,...,...,...
4477,Wallis and Futuna Islands,Business,Startup Environment,Ease of Doing Business,World Bank: Doing Business rankings,https://datacatalog.worldbank.org,0
4478,Wallis and Futuna Islands,Business,Startup Environment,Ease of finding skilled employees,World Bank: GovData,https://datacatalog.worldbank.org,0
4479,Wallis and Futuna Islands,Business,Startup Environment,Amount invested into startups yearly from priv...,OECD: Venture capital investments,https://stats.oecd.org,0
4480,Wallis and Futuna Islands,Business,Startup Environment,Regulatory Quality,Global Innovation Index/World Bank: Regulatory...,https://www.globalinnovationindex.org/analysis...,0
4481,Wallis and Futuna Islands,Business,Startup Environment,Ease of Getting Credit,Global Innovation Index/World Bank: Ease of Ge...,https://www.globalinnovationindex.org/analysis...,0

In [210]:
CurrentSources.to_csv('../../dashboard/Sources.csv', index=False)