In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [3]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [4]:
names = names[col_names]

In [5]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [6]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [7]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            8         12
Government            10         15
Infrastructure        39         48
People                35         47
Regulation             6          7
Strategy               1          1

### Foundations

In [8]:
bnames = names[(names.check=='Foundations')&(~names.Filename.isna())]#&(names.Index==False)]

In [9]:
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
148,Digital payments penetration,Foundations,Portulans Institute,TRUE,digital_payments_penetration
149,% of population with digital finance account -...,Foundations,World Bank,False,population_digital_financial_services
150,% of population with digital finance account -...,Foundations,World Bank,False,population_digital_financial_services
154,% of population with ID,Foundations,World Bank,False,id4d_nid
155,% of services that can be accessed,Foundations,World Bank,False,id4d_services
156,can ID be used for transactions,Foundations,World Bank,False,id4d_services
157,Is personal data siloed,Foundations,World Bank,False,Egov_strategy
158,Open data index,Foundations,Open Knowledge Foundation,True,open_data_idx

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['digital_payments_penetration',
       'population_digital_financial_services', 'id4d_nid',
       'id4d_services', 'Egov_strategy', 'open_data_idx'], dtype=object)

In [13]:
# ls digital-readiness-assessment-main/processed/

In [14]:
##ict_goods and services not in process data

In [15]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

### 1. Digital payments penetration

In [16]:
indicators[0]

'Digital payments penetration'

In [17]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital payments penetration
digital_payments_penetration

In [18]:
df.head()

   RANK COUNTRY/ECONOMY  VALUE   SCORE
0   1.0          Norway   0.85  100.00
1   2.0         Denmark   0.83   97.24
2   3.0         Finland   0.80   93.95
3   4.0          Sweden   0.80   93.08
4   5.0     Netherlands   0.76   89.01

In [19]:
# score looks like the one to use
df.describe()

             RANK       VALUE       SCORE
count  122.000000  122.000000  122.000000
mean    61.500000    0.315738   36.076967
std     35.362409    0.209012   24.867406
min      1.000000    0.010000    0.000000
25%     31.250000    0.150000   16.235000
50%     61.500000    0.270000   30.870000
75%     91.750000    0.440000   51.110000
max    122.000000    0.850000  100.000000

In [20]:
# df.Indicator.unique()

In [21]:
# create standard columns
df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['SCORE'] 


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-100 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [22]:
df

,RANK,Country Name,VALUE,SCORE,higher_is_better,Indicator,data_col,new_rank_score
0,1.0,Norway,0.85,100.00,True,Digital payments penetration,100.00,6.0000
1,2.0,Denmark,0.83,97.24,True,Digital payments penetration,97.24,5.8620
2,3.0,Finland,0.80,93.95,True,Digital payments penetration,93.95,5.6975
3,4.0,Sweden,0.80,93.08,True,Digital payments penetration,93.08,5.6540
4,5.0,Netherlands,0.76,89.01,True,Digital payments penetration,89.01,5.4505
...,...,...,...,...,...,...,...,...
129,NaN,Jamaica,NaN,NaN,True,Digital payments penetration,NaN,NaN
130,NaN,Madagascar,NaN,NaN,True,Digital payments penetration,NaN,NaN
131,NaN,Oman,NaN,NaN,True,Digital payments penetration,NaN,NaN
132,NaN,Qatar,NaN,NaN,True,Digital payments penetration,NaN,NaN
133,NaN,Yemen,NaN,NaN,True,Digital payments penetration,NaN,NaN

In [23]:

# output scores to csv
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/foundations_{}_scores.csv'.format(bf), index=False)

In [24]:
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
0,Norway,Digital payments penetration,100.00,6.0000,True
1,Denmark,Digital payments penetration,97.24,5.8620,True
2,Finland,Digital payments penetration,93.95,5.6975,True
3,Sweden,Digital payments penetration,93.08,5.6540,True
4,Netherlands,Digital payments penetration,89.01,5.4505,True
5,New Zealand,Digital payments penetration,86.73,5.3365,True
6,United States,Digital payments penetration,84.40,5.2200,True
7,Estonia,Digital payments penetration,82.82,5.1410,True
8,"Korea, Rep.",Digital payments penetration,82.64,5.1320,True
9,Canada,Digital payments penetration,81.53,5.0765,True
10,Australia,Digital payments penetration,79.37,4.9685,True
11,Czech Republic,Digital payments penetration,75.65,4.7825,True
12,Belgium,Digital payments penetration,73.15,4.6575,True
13,Germany,Digital payments penetration,71.20,4.5600,True
14,Poland,Digital payments penetration,70.34,4.5170,True

## 2. % of population with digital finance account - registered

In [58]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with digital finance account - registered
population_digital_financial_services

In [59]:
df.head(15)

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,28%,34%,36%,15%,23%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,38%,43%,44%,29%,34%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,40%,42%,53%,27%,38%,...,2%,6%,1%,1%,4%,0%,4%,2%,NaN,NaN
8,2011,ARB,Arab world,NaN,NaN,22%,30%,33%,11%,14%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,ARB,Arab world,NaN,NaN,30%,38%,42%,18%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,ARB,Arab world,NaN,NaN,37%,48%,51%,24%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,ARE,United Arab Emirates,High income,High income,60%,69%,80%,24%,47%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,ARE,United Arab Emirates,High income,High income,84%,90%,91%,49%,68%,...,10%,10%,12%,7%,12%,7%,15%,16%,NaN,NaN
13,2017,ARE,United Arab Emirates,High income,High income,88%,93%,93%,57%,76%,...,18%,10%,22%,9%,22%,16%,25%,14%,NaN,NaN
14,2011,ARG,Argentina,Latin America & Caribbean (excluding high income),Upper middle income,33%,35%,37%,28%,32%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Account (% age 15+)'] = df['Account (% age 15+)'].str.replace('%','')
df['Account (% age 15+)'] = df['Account (% age 15+)'].astype(float)

In [61]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Account (% age 15+)'] 


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [64]:
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]
df

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
2,Afghanistan,% of population with digital finance account -...,15.0,1.329670,True
7,Albania,% of population with digital finance account -...,40.0,2.703297,True
10,Arab world,% of population with digital finance account -...,37.0,2.538462,True
13,United Arab Emirates,% of population with digital finance account -...,88.0,5.340659,True
16,Argentina,% of population with digital finance account -...,49.0,3.197802,True
...,...,...,...,...,...
479,World,% of population with digital finance account -...,69.0,4.296703,True
482,Kosovo,% of population with digital finance account -...,52.0,3.362637,True
487,South Africa,% of population with digital finance account -...,69.0,4.296703,True
490,Zambia,% of population with digital finance account -...,46.0,3.032967,True
493,Zimbabwe,% of population with digital finance account -...,55.0,3.527473,True

In [65]:
# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(bf), index=False)

## 3. % of population with digital finance account - active (90 days)

In [73]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with digital finance account - active (90 days)
population_digital_financial_services

In [74]:
df.head()

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Made or received digital payments in the past year (% age 15+)'] = df['Made or received digital payments in the past year (% age 15+)'].str.replace('%','')
df['Made or received digital payments in the past year (% age 15+)'] = df['Made or received digital payments in the past year (% age 15+)'].astype(float)

In [77]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Made or received digital payments in the past year (% age 15+)'] 


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [78]:
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]
df

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
2,Afghanistan,% of population with digital finance account -...,11.0,1.217391,True
7,Albania,% of population with digital finance account -...,29.0,2.195652,True
10,Arab world,% of population with digital finance account -...,26.0,2.032609,True
13,United Arab Emirates,% of population with digital finance account -...,84.0,5.184783,True
16,Argentina,% of population with digital finance account -...,40.0,2.793478,True
...,...,...,...,...,...
479,World,% of population with digital finance account -...,52.0,3.445652,True
482,Kosovo,% of population with digital finance account -...,39.0,2.739130,True
487,South Africa,% of population with digital finance account -...,60.0,3.880435,True
490,Zambia,% of population with digital finance account -...,39.0,2.739130,True
493,Zimbabwe,% of population with digital finance account -...,53.0,3.500000,True

In [104]:
# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(bf))

TypeError: to_csv() got an unexpected keyword argument 'skiprows'

## 4. % of population with ID

In [107]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf), header=None, skiprows = 7)
#Must skip rows because the csv file has some superfluous rows on top.

% of population with ID
id4d_nid

In [108]:
df.head(15)

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,1,Afghanistan,AFG,SAS,LIC,NaN,IDA,HIPC,NaN,INCLUDE,...,"7,296,096","36,373,176","18,191,591","9,336,665","8,854,905","18,181,585","9,398,623","8,782,976",NaN,NaN
1,2,Albania,ALB,ECS,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,"2,188,099","2,934,363","540,349","280,793","259,561","2,394,014","1,199,481","1,194,510",NaN,NaN
2,3,Algeria,DZA,MEA,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,NaN,"42,008,054","14,075,724","7,181,719","6,894,010","27,932,330","14,033,462","13,898,865",NaN,NaN
3,4,Andorra,AND,ECS,HIC,NaN,..,NaN,NaN,EXCLUDE,...,NaN,"80,209","13,580","6,971","6,609","66,629","34,060","32,569",NaN,NaN
4,5,Angola,AGO,SSF,LMC,NaN,IBRD,NaN,NaN,INCLUDE,...,NaN,"30,774,205","16,389,360","8,157,462","8,231,869","14,384,845","6,937,053","7,447,820",NaN,NaN
5,6,Antigua and Barbuda,ATG,LCN,HIC,NaN,IBRD,NaN,NaN,INCLUDE,...,NaN,"103,050","29,388","14,745","14,644","73,662","34,732","38,932",NaN,NaN
6,7,Argentina,ARG,LCN,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,NaN,"44,688,864","11,751,904","5,977,086","5,774,773","32,936,960","15,898,099","17,038,900",NaN,NaN
7,8,Armenia,ARM,ECS,LMC,NaN,IBRD,NaN,NaN,INCLUDE,...,NaN,"2,934,152","689,894","367,840","322,065","2,244,258","1,012,449","1,231,792",NaN,NaN
8,9,Australia,AUS,EAS,HIC,OECD,..,NaN,NaN,EXCLUDE,...,"8,269,334","24,772,247","5,624,607","2,884,647","2,739,917","19,147,640","9,456,278","9,691,403",NaN,NaN
9,10,Austria,AUT,ECS,HIC,OECD,..,EMU,NaN,EXCLUDE,...,"3,307,645","8,751,820","1,318,229","676,854","641,377","7,433,591","3,617,222","3,816,362",NaN,NaN
10,11,Azerbaijan,AZE,ECS,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,"2,613,303","9,923,914","2,695,225","1,440,683","1,254,544","7,228,689","3,504,218","3,724,469",NaN,NaN
11,12,"Bahamas, The",BHS,LCN,HIC,NaN,..,NaN,NaN,INCLUDE,...,NaN,"399,285","97,109","49,717","47,392","302,176","145,810","156,371",NaN,NaN
12,13,Bahrain,BHR,MEA,HIC,NaN,..,NaN,NaN,INCLUDE,...,"549,804","1,566,993",0,0,0,"1,566,993","993,102","573,892",NaN,NaN
13,14,Bangladesh,BGD,SAS,LMC,NaN,IDA,NaN,NaN,INCLUDE,...,NaN,"166,368,149","56,110,211","28,671,689","27,438,536","110,257,938","55,189,006","55,068,922",NaN,NaN
14,15,Barbados,BRB,LCN,HIC,NaN,..,NaN,NaN,INCLUDE,...,NaN,"286,388","65,411","33,408","32,004","220,977","103,644","117,324",NaN,NaN

In [124]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,11].sub(2)
df ['Year'] = 2018
df['Country Name'] = df.iloc[:,1]


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

<ipython-input-124-7b42fed5e890>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['higher_is_better'] = True
<ipython-input-124-7b42fed5e890>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Indicator'] = indicator

IndexError: single positional indexer is out-of-bounds

In [114]:
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]
df

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
0,Afghanistan,% of population with ID,33,3.142857,True
1,Albania,% of population with ID,0,1.000000,True
2,Algeria,% of population with ID,11,1.714286,True
3,Andorra,% of population with ID,53,4.441558,True
4,Angola,% of population with ID,56,4.636364,True
...,...,...,...,...,...
193,"Venezuela, RB",% of population with ID,13,1.844156,True
194,Vietnam,% of population with ID,4,1.259740,True
195,"Yemen, Rep.",% of population with ID,50,4.246753,True
196,Zambia,% of population with ID,56,4.636364,True
197,Zimbabwe,% of population with ID,42,3.727273,True

## 5. % of services that can be accessed

In [ ]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
# Move the top row to the position of header
df.columns = df.iloc[0] 
df = df[1:]
df.head(20)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
# dcol = 'Percentage of total merchandise trade'
# indicol = 'IctProductCategory Label'
# cname = 'Economy Label'

# # filter most recent year and exports
# df = df[(df.Year==2019)&(df['Flow Label']=='Imports')]

# # create standard columns
# df['higher_is_better'] = True
# df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
# df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
# df['data_col'] = df[dcol]


# # convert 1-100 %  into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
# df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# # output scores
# df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_imports'), index=False)

## 6. can ID be used for transactions

In [ ]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
# Move the top row to the position of header
df.columns = df.iloc[0] 
df = df[1:]
df.head(20)

In [ ]:
# min_rank = 1
# max_rank = df['Country Name'].nunique()

# # transform 1-24 rank into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# # need to invert score since higher rank is not better 
# # df['new_rank_score'] = (6-df['new_rank_score'])+1

In [ ]:
# # prepare output
# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
# df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# # output scores
# df.to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 7. Is personal data siloed

In [ ]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['DPL'] = df['DPL'].astype(float, errors = 'ignore')

In [ ]:
df.head(104)

In [ ]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,205]
df['Country Name'] = df['Economy']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(107)

## 8. Open data index

In [ ]:
bnames

In [ ]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['score'] 
df['Country Name'] = df['name']
df['Year'] = 2016

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

### Score Aggregating

In [ ]:
import os

In [ ]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('foundations')]

In [ ]:
scores

In [ ]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [ ]:
df

In [ ]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

In [ ]:
df.head(15)

In [ ]:
df.describe()

In [ ]:
# checking country names
sorted(df['Country Name'].unique().tolist())

In [ ]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()

In [ ]:
# checking country names
sorted(df['Country Name'].unique().tolist())

In [ ]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [ ]:
agg_df.columns = ['agg_score', 'count_source' ]

In [ ]:
max_number_sources = agg_df.describe()['count_source']['max']

In [ ]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [ ]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [ ]:
agg_df.head(25)

In [ ]:
agg_df.to_csv('../pillar_scores/foundation_scores_v0.csv')