In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            11         15
Infrastructure        45         48
People                38         46
Regulation             6          7
Strategy               1          1

In [9]:
### People

In [10]:
bnames = names[(names.check=='People')&(~names.Filename.isna())]#&(names.Index==False)]
bnames

,Indicator,check,Data Source,Index,Filename
99,Human Capital Index (HCI),People,DESA,True,e_government_index
100,% of population using internet (all),People,World Bank,False,population_using_internet
101,% of population using internet (female),People,ITU,False,gender_gap_internet_usage
102,% of population using internet (male),People,ITU,False,gender_gap_internet_usage
103,SDG 4.4 Digital literacy data,People,UNESCO,False,SDG_digital_literacy_data
104,UNDP Human Development Index (HDI),People,UNDP,True,undp_human_developmnt
105,Facebook Social Connectedness Index,People,Facebook,True,fb_social_connectedness
106,Share of individuals using the Internet to int...,People,OECD,False,population_interacting_public_officials
107,Level of satisfaction for online public servic...,People,Boston Consulting Group/SalesForce,False,digital_public_service_use
108,Number of mobile apps available in national la...,People,GSMA Mobile Connectivity Index,False,apps_in_national_language
109,Device Addiction (time of use on internet / on...,People,Statista/DataReportal; Hootsuite; We Are Social\n,False,time_spent_online
110,Gross National Wellbeing,People,Portulans Institute,TRUE,happiness_score
112,% of internet users who own cryptocurrency,People,Statista,False,cryptocurrency_adoption
115,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_returning
116,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_security
117,"E-waste generated, kilograms per inhabitant",People,UNU UNITAR,True,ewaste_per_inhabitant
118,Automation-led unemployment,People,McKinsey Global Institute,False,automation_led_unemployment
122,Cyberbullying,People,IPSOS,False,cyberbullying_rate
126,Global Wellbeing Initiative (World Happiness I...,People,World Happiness Report,TRUE,global_wellbeing_initiative
127,Financial Inclusiveness,People,World Bank,TRUE,financial_inclusiveness
128,E-commerce activity (% of individuals buying o...,People,Portulans Institute,False,individuals_buying_online_frequency
129,E-commerce activity (Types of goods and servic...,People,Statista/Salesforce Research\n\n,False,e-commerce_activity
130,Top Visited websites,People,Data Reportal,False,top_sites
131,Top YouTube Searches,People,Data Reportal,False,youtube_searches
132,Top Google searches,People,Data Reportal,False,google_trends
133,Internet Usage,People,World Bank,False,individual_internet_usage
134,Households with a computer and with Internet a...,People,World Bank,False,household_internet_access
135,% of population using Facebook,People,World Population Review,False,FB_users
136,Gender gap for social media use,People,GSMA Mobile Connectivity Index,False,gender_gaps
137,% of population using digital financial services,People,World Bank,False,population_digital_financial_services
138,Mobile Broadband Pricing (pre-paid),People,Alliance for Affordable Internet,False,mobile_broadband_pricing
139,Tax as % of total cost of mobile ownership,People,GSMA Mobile Connectivity Index,False,tax_percent_mobile_ownership
140,% of population with a SIM card,People,World Bank,False,percent_mobile_subscription
141,% of population with a smartphone,People,Statista/Newzoo,False,population_with_smartphones
142,Gender gap in internet usage,People,ITU,False,gender_gap_internet_usage
143,Gender gap in mobile usage,People,GSMA Mobile Connectivity Index,False,gender_gaps
144,Mobile Device Penetration,People,GSMA Mobile Connectivity Index,False,mobile_ownership
145,Mobile Device Penetration (female),People,GSMA Mobile Connectivity Index,False,gender_gaps

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['e_government_index', 'population_using_internet',
       'gender_gap_internet_usage', 'SDG_digital_literacy_data',
       'undp_human_developmnt', 'fb_social_connectedness',
       'population_interacting_public_officials',
       'digital_public_service_use', 'apps_in_national_language',
       'time_spent_online', 'happiness_score', 'cryptocurrency_adoption',
       'not_buying_online_concern_about_returning',
       'not_buying_online_concern_about_security',
       'ewaste_per_inhabitant', 'automation_led_unemployment',
       'cyberbullying_rate', 'global_wellbeing_initiative ',
       'financial_inclusiveness ', 'individuals_buying_online_frequency',
       'e-commerce_activity', 'top_sites', 'youtube_searches',
       'google_trends', 'individual_internet_usage',
       'household_internet_access', 'FB_users', 'gender_gaps',
       'population_digital_financial_services',
       'mobile_broadband_pricing', 'tax_percent_mobile_ownership',
       'percent_mobile_subscription', 'population_with_smartphones',
       'mobile_ownership'], dtype=object)

In [14]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
### 1. Human Capital Index (HCI)

In [16]:
indicators[0]

# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Human Capital Index (HCI)
e_government_index

In [17]:
df.head(10)

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
5,2020,Japan,14,0.8989,0.9881,0.9059,0.8684,0.9223
6,2020,Jordan,117,0.5309,0.3333,0.3588,0.6800,0.5540
7,2020,Kazakhstan,29,0.8375,0.8810,0.9235,0.8866,0.7024
8,2020,Kenya,116,0.5326,0.5952,0.6765,0.5812,0.3402
9,2020,Kiribati,145,0.4320,0.5595,0.4941,0.6778,0.1241

In [18]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Human Capital Index'] 
df['Year'] = df['Survey Year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [19]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Iraq,2020,Human Capital Index (HCI),0.4358,3.1790,True
1,Ireland,2020,Human Capital Index (HCI),0.9494,5.7470,True
2,Israel,2020,Human Capital Index (HCI),0.8924,5.4620,True
3,Italy,2020,Human Capital Index (HCI),0.8466,5.2330,True
4,Jamaica,2020,Human Capital Index (HCI),0.7142,4.5710,True
5,Japan,2020,Human Capital Index (HCI),0.8684,5.3420,True
6,Jordan,2020,Human Capital Index (HCI),0.6800,4.4000,True
7,Kazakhstan,2020,Human Capital Index (HCI),0.8866,5.4330,True
8,Kenya,2020,Human Capital Index (HCI),0.5812,3.9060,True
9,Kiribati,2020,Human Capital Index (HCI),0.6778,4.3890,True
10,Kuwait,2020,Human Capital Index (HCI),0.7470,4.7350,True
11,Kyrgyzstan,2020,Human Capital Index (HCI),0.7873,4.9365,True
12,Lao People's Democratic Republic,2020,Human Capital Index (HCI),0.5539,3.7695,True
13,Latvia,2020,Human Capital Index (HCI),0.9172,5.5860,True
14,Lebanon,2020,Human Capital Index (HCI),0.6567,4.2835,True

In [20]:
### 2. % of population using internet (all)

In [21]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (all)
population_using_internet

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/population_using_internet.csv'

In [ ]:
### 3. % of population using internet (female)

In [58]:
indicators[2]

# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (female)
gender_gap_internet_usage

In [59]:
df.head(10)

# Must convert the string in the dataset to float

,Economy name,Unnamed: 1,year,Individuals,Male,Female,Total,data_country,data_year
0,Albania,NaN,2020.0,72.2,...,...,...,NaN,NaN
1,Algeria,NaN,2018.0,49.0,41.9,25.9,34.1,NaN,NaN
2,Andorra,NaN,2017.0,91.6,...,...,...,NaN,NaN
3,Argentina,NaN,2017.0,74.3,...,...,...,NaN,NaN
4,Armenia,NaN,2019.0,66.5,59.2,60.7,59.9,NaN,NaN
5,Australia,NaN,2017.0,86.5,81.4,85.5,82.8,NaN,NaN
6,Austria,NaN,2020.0,87.5,...,...,...,NaN,NaN
7,Azerbaijan,NaN,2019.0,81.1,68.3,67.1,67.7,NaN,NaN
8,Bahrain,NaN,2020.0,99.5,...,...,...,NaN,NaN
9,Bangladesh,NaN,2019.0,12.9,...,...,...,NaN,NaN

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Female'].to_numeric
df['Country Name'] = df['Economy name']
df['Year'] = df['year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 4. % of population using internet (male)

In [ ]:
indicators[3]

# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(10)

# Must convert the string in the dataset to float

In [ ]:
### 5. SDG 4.4 Digital literacy data

In [52]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# The indicators are all jumbled, need to unclutter this

SDG 4.4 Digital literacy data
SDG_digital_literacy_data

In [54]:
df.head(15)

,SDG_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2014,2014,23.31007,NaN,NaN
1,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2016,2016,21.53173,NaN,NaN
2,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2017,2017,21.14880,NaN,NaN
3,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2018,2018,21.84886,NaN,NaN
4,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2014,2014,25.64427,NaN,NaN
5,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2016,2016,22.01463,NaN,NaN
6,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2017,2017,22.69577,NaN,NaN
7,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2018,2018,22.59234,NaN,NaN
8,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2014,2014,27.72807,NaN,NaN
9,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2015,2015,25.66142,NaN,NaN
10,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2016,2016,31.29833,NaN,NaN
11,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2017,2017,37.06352,NaN,NaN
12,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2019,2019,38.18440,NaN,NaN
13,ICTSKILLFORMULA_M,Proportion of youth and adults who have used b...,EGY,Egypt,2014,2014,1.69992,NaN,NaN
14,ICTSKILLFORMULA_M,Proportion of youth and adults who have used b...,EGY,Egypt,2015,2015,2.14629,NaN,NaN

In [57]:


# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['Year'] = df['Time']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'year'

In [ ]:
### 6. UNDP Human Development Index (HDI)

In [ ]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)
# Need to move the top row down
# Maybe something is wrong with the link although the one in data manifest works perfectly

In [ ]:
### 7. Facebook Social Connectedness Index

In [ ]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(25)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['scaled_sci'] 
df['Country Name'] = df['fr_loc']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(30)

# Need to find a way to convert ISO codes to full country names

In [ ]:
### 8. Share of individuals using the Internet to interact with officials

In [ ]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year
df = df[(df.Time==2019)]
df = df[(df.Indicator=='Individuals using the Internet for visiting or interacting with public authorities websites - last 12 m (%)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

# Need to find a way to convert ISO codes to full country names

In [ ]:
### 9. Level of satisfaction for online public service

In [ ]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Net Perception'] 
df['Year'] = 2020
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Need to replace the % mark

In [ ]:
### 10. Number of mobile apps available in national language

In [ ]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year and global value
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Number of apps in national language'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 11. Device Addiction (time of use on internet)

In [ ]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# Need to move the row further down

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 12. Gross National Wellbeing

In [28]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# happiness_score is missing looks like the problem is in a redundant space before it in the filename matching

Gross National Wellbeing
happiness_score

In [31]:
df.head(15)

    RANK COUNTRY/ECONOMY  VALUE   SCORE
0    1.0         Finland   7.78  100.00
1    2.0     Switzerland   7.69   98.31
2    3.0         Denmark   7.69   98.28
3    4.0         Iceland   7.53   95.13
4    5.0          Norway   7.44   93.35
5    6.0     Netherlands   7.43   93.02
6    7.0      Luxembourg   7.40   92.60
7    8.0          Sweden   7.40   92.49
8    9.0         Ireland   7.25   89.67
9   10.0       Australia   7.23   89.26
10  11.0     New Zealand   7.21   88.69
11  12.0         Austria   7.20   88.50
12  13.0  United Kingdom   7.16   87.75
13  14.0          Canada   7.11   86.80
14  15.0         Germany   7.04   85.36

In [33]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE'] 
df['Country Name'] = df['COUNTRY/ECONOMY']
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [34]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Finland,2019,Gross National Wellbeing,7.78,6.000000,True
1,Switzerland,2019,Gross National Wellbeing,7.69,5.911591,True
2,Denmark,2019,Gross National Wellbeing,7.69,5.911591,True
3,Iceland,2019,Gross National Wellbeing,7.53,5.754420,True
4,Norway,2019,Gross National Wellbeing,7.44,5.666012,True
5,Netherlands,2019,Gross National Wellbeing,7.43,5.656189,True
6,Luxembourg,2019,Gross National Wellbeing,7.40,5.626719,True
7,Sweden,2019,Gross National Wellbeing,7.40,5.626719,True
8,Ireland,2019,Gross National Wellbeing,7.25,5.479371,True
9,Australia,2019,Gross National Wellbeing,7.23,5.459725,True
10,New Zealand,2019,Gross National Wellbeing,7.21,5.440079,True
11,Austria,2019,Gross National Wellbeing,7.20,5.430255,True
12,United Kingdom,2019,Gross National Wellbeing,7.16,5.390963,True
13,Canada,2019,Gross National Wellbeing,7.11,5.341847,True
14,Germany,2019,Gross National Wellbeing,7.04,5.273084,True
15,Czech Republic,2019,Gross National Wellbeing,7.03,5.263261,True
16,Costa Rica,2019,Gross National Wellbeing,7.00,5.233792,True
17,United States,2019,Gross National Wellbeing,6.94,5.174853,True
18,Israel,2019,Gross National Wellbeing,6.93,5.165029,True
19,Oman,2019,Gross National Wellbeing,6.85,5.086444,True

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
### 13. % of internet users who own cryptocurrency

In [ ]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# Need to move the top row down

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Share of respondents who indicated they either owned or used cryptocurrencies in 55 countries worldwide in 2020'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 14. Percentage of individuals not buying online due to concerns about returning products

In [ ]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 15. Percentage of individuals not buying online due to payment security concerns

In [ ]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 16. E-waste generated, kilograms per inhabitant

In [ ]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
# Use special_waste_e_waste_tons_year times one thousand and divde by total population
df['data_col'] = df['special_waste_e_waste_tons_year']*1000/df['population_population_number_of_people'] 
df['Year'] = 2021
df['Country Name'] = df['country_name']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 17. Automation-led unemployment

In [ ]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Potential Rate of Automation (%)'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 18. Cyberbullying

In [35]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cyberbullying
cyberbullying_rate

In [36]:
df.head(15)

# Need to move the top row down further

   2011 2016  2018        Country
0    32   32    37          India
1    20   19    29         Brazil
2    15   34    26  United States
3    12   13    25        Belgium
4    10   25    26   South Africa
5    --   --    23       Malaysia
6    14   20    23         Sweden
7    18   17    20         Canada
8     5   14    20         Turkey
9    18   17    19   Saudi Arabia
10   13   20    19      Australia
11    8   20    18         Mexico
12   11   15    18  Great Britain
13   11   20    17          China
14   --   --    16         Serbia

In [37]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2018'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [38]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,India,2018,Cyberbullying,37,1.000000,True
1,Brazil,2018,Cyberbullying,29,2.111111,True
2,United States,2018,Cyberbullying,26,2.527778,True
3,Belgium,2018,Cyberbullying,25,2.666667,True
4,South Africa,2018,Cyberbullying,26,2.527778,True
5,Malaysia,2018,Cyberbullying,23,2.944444,True
6,Sweden,2018,Cyberbullying,23,2.944444,True
7,Canada,2018,Cyberbullying,20,3.361111,True
8,Turkey,2018,Cyberbullying,20,3.361111,True
9,Saudi Arabia,2018,Cyberbullying,19,3.500000,True
10,Australia,2018,Cyberbullying,19,3.500000,True
11,Mexico,2018,Cyberbullying,18,3.638889,True
12,Great Britain,2018,Cyberbullying,18,3.638889,True
13,China,2018,Cyberbullying,17,3.777778,True
14,Serbia,2018,Cyberbullying,16,3.916667,True
15,Germany,2018,Cyberbullying,14,4.194444,True
16,Argentina,2018,Cyberbullying,14,4.194444,True
17,Peru,2018,Cyberbullying,14,4.194444,True
18,South Korea,2018,Cyberbullying,13,4.333333,True
19,Italy,2018,Cyberbullying,12,4.472222,True

In [ ]:
### 19. Global Wellbeing Initiative

In [39]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

Global Wellbeing Initiative (World Happiness Index)
global_wellbeing_initiative

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/global_wellbeing_initiative .csv'

In [ ]:
### 20. Financial Inclusiveness

In [ ]:
indicators[19]

# load data
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)


df = pd.read_csv('../../processed/{}.csv'.format(bf))
# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

In [ ]:
### 21. E-commerce activity (% of individuals buying online and frequency)

In [25]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Added _ between spaces to see if this changes anything

E-commerce activity (% of individuals buying online and frequency)
individuals_buying_online_frequency

In [26]:
df.head(15)

# Move the top row down further

,People who used the Internet to buy something online in the past year (%) | 2017,Unnamed: 1
0,RANK,SCORE
1,1,100
2,2,97.11
3,3,96.99
4,4,95.86
5,5,92.94
6,6,91.9
7,7,90.33
8,8,88.63
9,9,87.95
10,10,86.81
11,11,85.73
12,12,77.92
13,13,76.29
14,14,73.44

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Potential Rate of Automation (%)'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
### 22. E-commerce activity (Types of goods and services purchased online)

In [ ]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Move the top row down further
# This is a list of categories, wonder if it will do

In [ ]:
df.head(15)

In [ ]:
### 23. Top Visited websites

In [ ]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 24. Top YouTube Searches

In [ ]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 25. Top Google searches

In [ ]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 26. Internet Usage

In [40]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Usage
individual_internet_usage

In [42]:
df.head(15)

,ShortName,2000_note,2000_source,2000_value,2001_note,2001_source,2001_value,2002_note,2002_source,2002_value,...,2018_source,2018_value,2019_note,2019_source,2019_value,2020_note,2020_source,2020_value,data_country,data_year
0,Afghanistan,NaN,NaN,NaN,NaN,ITU estimate.,0.00,NaN,Ministry of Communications.,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,Albanian Telecom Enterprise.,0.11,NaN,Albanian Telecom Enterprise.,0.33,NaN,Albanian Telecom Enterprise.,0.39,...,NaN,NaN,NaN,INSTAT (Institute of Statistics),68.55,NaN,NaN,NaN,NaN,NaN
2,Algeria,NaN,NaN,0.49,NaN,NaN,0.65,NaN,NaN,1.59,...,"Ministry of Post, Telecommunications, Technolo...",49.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,NaN,Servei de Telecomunicacions d'Andorra (STA).,10.54,NaN,NaN,NaN,NaN,Servei de Telecomunicacions d'Andorra (STA).,11.26,...,Servei d'studis - Ministeri de Finances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,0.11,NaN,NaN,0.14,NaN,NaN,0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Anguilla,NaN,NaN,22.41,NaN,NaN,25.88,NaN,NaN,24.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,NaN,Cable and Wireless (W.I.) Ltd. (C&W). A.P.U.A....,6.48,NaN,ITU estimate.,8.90,NaN,Cable and Wireless (W.I.) Ltd. (C&W). A.P.U.A....,12.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,NaN,SECOM.,7.04,NaN,SECOM.,9.78,NaN,SECOM.,10.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Armenia,NaN,NaN,1.30,NaN,NaN,1.63,NaN,NaN,1.96,...,The Statistical Committee of the Republic of A...,68.25,NaN,Statistical Committee of RA,66.54,NaN,NaN,NaN,NaN,NaN
9,Aruba,NaN,Servicio di Telecomunicacion di Aruba (SETAR).,15.44,NaN,ITU estimate.,17.10,NaN,ITU estimate.,18.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Ascension,NaN,Cable & Wireless plc. (C&W).,34.94,Data refer to 31st December.,Cable & Wireless plc. (C&W).,38.17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,NaN,ABS Household Use of Information Technology Su...,46.76,NaN,ITU estimate.,52.69,NaN,NaN,NaN,...,Australian Bureau of Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Austria,"Regular users of the Internet, Population age ...",Austria Internet Monitor.,33.73,"Regular users of the Internet, Population age ...",Austria Internet Monitor.,39.19,Population age 16-74 using Internet in the las...,Eurostat.,36.56,...,Statistik Austria,87.48,NaN,Statistik Austria,87.75,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,NaN,NaN,0.15,NaN,NaN,0.31,NaN,NaN,5.00,...,State Statistical Committee of the Republic of...,79.80,NaN,State Statistical Committee,81.10,NaN,NaN,NaN,NaN,NaN
14,Bahamas,Estimated based on 3 times the number of subsc...,ITU estimate.,8.00,Estimated based on 3 times the number of subsc...,ITU estimate.,11.80,Estimated based on 3 times the number of subsc...,ITU estimate.,18.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019_value'] 
df['Year'] = 2019
df['Country Name'] = df['ShortName']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [45]:
df[['Country Name','Year','data_col','new_rank_score','higher_is_better']].head(15)

           Country Name  Year  data_col  new_rank_score  higher_is_better
0           Afghanistan  2019       NaN             NaN              True
1               Albania  2019     68.55        4.205645              True
2               Algeria  2019       NaN             NaN              True
3               Andorra  2019       NaN             NaN              True
4                Angola  2019       NaN             NaN              True
5              Anguilla  2019       NaN             NaN              True
6   Antigua and Barbuda  2019       NaN             NaN              True
7             Argentina  2019       NaN             NaN              True
8               Armenia  2019     66.54        4.089862              True
9                 Aruba  2019       NaN             NaN              True
10            Ascension  2019       NaN             NaN              True
11            Australia  2019       NaN             NaN              True
12              Austria  2019     87.75        5.311636              True
13           Azerbaijan  2019     81.10        4.928571              True
14              Bahamas  2019       NaN             NaN              True

In [ ]:
### 27. Households with a computer and with Internet Access

In [49]:
indicators[26]

# load data
indicator = indicators[26]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Households with a computer and with Internet access
household_internet_access

In [50]:
df.head(15)

# have to replace 'No data' with blank

     2014     2015     2016     Country  Unnamed: 4
0   45.37     42.4       48      Brazil         NaN
1    20.5     24.5    26.64     Albania         NaN
2   19.36     23.8    25.94     Algeria         NaN
3    7.17      7.9  No data      Angola         NaN
4    47.5     53.9       52   Argentina         NaN
5    25.4     35.6     46.6     Armenia         NaN
6   81.37       83    86.89   Australia         NaN
7      79    80.86    80.99     Austria         NaN
8    46.8     51.5    54.62  Azerbaijan         NaN
9      79       82       81     Bahrain         NaN
10    3.2      4.6      6.5  Bangladesh         NaN
11  62.86     66.7  No data    Barbados         NaN
12     78    80.05     82.8     Belgium         NaN
13   2.36  No data     3.51       Benin         NaN
14   11.6     15.5     26.3      Bhutan         NaN

In [48]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2016'] 
df['Year'] = 2016
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 28. % of population using Facebook

In [ ]:
indicators[27]

# load data
indicator = indicators[27]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Percentage of Facebook Users'] 
df['Year'] = 2021
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 29. Gender gap for social media use

In [22]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap for social media use
gender_gaps

In [ ]:
df.head(15)

In [ ]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in social media use'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 30. % of population using digital financial services

In [ ]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# May have to convert the data to csv file as the original file is missing many important columns

In [ ]:
### 31. Mobile Broadband Pricing (pre-paid)

In [ ]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# File not found despite its presence in the personal repo and the data manifest

In [ ]:
### 32. Tax as % of total cost of mobile ownership

In [ ]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Tax as a % of TCMO'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 33. % of population with a SIM card

In [60]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# File not found despite its presence in the personal repo and the data manifest

% of population with a SIM card
percent_mobile_subscription

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/percent_mobile_subscription.csv'

In [61]:
### 34. % of population with a smartphone

In [63]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with a smartphone
population_with_smartphones

In [65]:
df.head(15)

,Unnamed: 0,Country,Total Population,Smartphone Penetration,Smartphone Users
0,1,China,1.44B,63.80%,918.45M
1,2,India,1.38B,31.80%,439.42M
2,3,United States,331M,81.60%,270M
3,4,Indonesia,273.52M,58.60%,160.23M
4,5,Brazil,212.56M,51.40%,109.34M
5,6,Russia,145.93M,68.50%,99.93M
6,7,Japan,126.48M,63.20%,80M
7,8,Mexico,128.93M,54.40%,70.14M
8,9,Germany,83.78M,77.90%,65.24M
9,10,Vietnam,97.34M,63.10%,61.37M
10,11,United Kingdom,67.89M,78.90%,53.58M
11,12,Bangladesh,164.69M,32.40%,53.3M
12,13,Iran,83.99M,62.90%,52.81M
13,14,Turkey,84.34M,61.70%,52.06M
14,15,France,65.27M,77.60%,50.66M

In [68]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Smartphone Penetration'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Must delete the % mark in the fourth column

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [69]:
### 35. Gender gap in internet usage

In [71]:
indicators[34]

# load data
indicator = indicators[34]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in internet usage
gender_gap_internet_usage

In [73]:
df.head(15)

# The problem with the data base is that it has ... in the Male and Female columns, making it string columns, not numerical
# This will present problems when trying to calculate ranking

,Economy name,Unnamed: 1,year,Individuals,Male,Female,Total,data_country,data_year
0,Albania,NaN,2020.0,72.2,...,...,...,NaN,NaN
1,Algeria,NaN,2018.0,49.0,41.9,25.9,34.1,NaN,NaN
2,Andorra,NaN,2017.0,91.6,...,...,...,NaN,NaN
3,Argentina,NaN,2017.0,74.3,...,...,...,NaN,NaN
4,Armenia,NaN,2019.0,66.5,59.2,60.7,59.9,NaN,NaN
5,Australia,NaN,2017.0,86.5,81.4,85.5,82.8,NaN,NaN
6,Austria,NaN,2020.0,87.5,...,...,...,NaN,NaN
7,Azerbaijan,NaN,2019.0,81.1,68.3,67.1,67.7,NaN,NaN
8,Bahrain,NaN,2020.0,99.5,...,...,...,NaN,NaN
9,Bangladesh,NaN,2019.0,12.9,...,...,...,NaN,NaN
10,Belarus,NaN,2020.0,85.1,...,...,...,NaN,NaN
11,Belgium,NaN,2020.0,91.5,...,...,...,NaN,NaN
12,Bolivia (Plurinational State of),NaN,2020.0,55.1,...,...,...,NaN,NaN
13,Bosnia and Herzegovina,NaN,2020.0,73.2,...,...,...,NaN,NaN
14,Brazil,NaN,2019.0,73.9,75.0,65.3,69.7,NaN,NaN

In [74]:
### 36. Gender gap in mobile usage

In [76]:
indicators[35]

# load data
indicator = indicators[35]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in mobile usage
gender_gaps

In [78]:
df.head(15)

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
0,AFG,Afghanistan,South Asia,2014,11.109999,0.000000,0.000000
1,AFG,Afghanistan,South Asia,2015,14.087173,0.000000,0.000000
2,AFG,Afghanistan,South Asia,2016,17.064350,0.000000,0.000000
3,AFG,Afghanistan,South Asia,2017,20.041523,0.000000,0.000000
4,AFG,Afghanistan,South Asia,2018,20.041523,0.000000,0.000000
5,AFG,Afghanistan,South Asia,2019,20.041523,0.000000,0.000000
6,AGO,Angola,Sub-Saharan Africa,2014,55.237572,46.428570,51.645042
7,AGO,Angola,Sub-Saharan Africa,2015,55.237572,46.428570,57.001461
8,AGO,Angola,Sub-Saharan Africa,2016,55.237572,46.428570,63.725491
9,AGO,Angola,Sub-Saharan Africa,2017,55.237572,38.646553,53.966476
10,AGO,Angola,Sub-Saharan Africa,2018,55.237572,38.646553,63.339275
11,AGO,Angola,Sub-Saharan Africa,2019,55.237572,49.552494,57.712311
12,ALB,Albania,Europe & Central Asia,2014,75.398972,36.507938,68.421051
13,ALB,Albania,Europe & Central Asia,2015,79.937897,36.507938,68.421051
14,ALB,Albania,Europe & Central Asia,2016,84.476822,36.507938,67.391304

In [81]:
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [83]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Gender gap in mobile usage,0.000000,1.000000,True
11,Angola,2019,Gender gap in mobile usage,57.712311,3.885616,True
17,Albania,2019,Gender gap in mobile usage,67.741936,4.387097,True
23,United Arab Emirates,2019,Gender gap in mobile usage,100.000000,6.000000,True
29,Argentina,2019,Gender gap in mobile usage,99.650528,5.982526,True
35,Armenia,2019,Gender gap in mobile usage,100.000000,6.000000,True
41,Australia,2019,Gender gap in mobile usage,92.831543,5.641577,True
47,Austria,2019,Gender gap in mobile usage,100.000000,6.000000,True
53,Azerbaijan,2019,Gender gap in mobile usage,79.166672,4.958334,True
59,Burundi,2019,Gender gap in mobile usage,10.569101,1.528455,True
65,Belgium,2019,Gender gap in mobile usage,93.265991,5.663300,True
71,Benin,2019,Gender gap in mobile usage,33.333332,2.666667,True
77,Burkina Faso,2019,Gender gap in mobile usage,38.271606,2.913580,True
83,Bangladesh,2019,Gender gap in mobile usage,2.323335,1.116167,True
89,Bulgaria,2019,Gender gap in mobile usage,100.000000,6.000000,True

In [84]:
### 37. Mobile Device Penetration

In [85]:
indicators[36]

# load data
indicator = indicators[36]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Device Penetration
mobile_ownership

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/mobile_ownership.csv'