In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [3]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [4]:
names = names[col_names]

In [5]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [6]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [7]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            7         12
Government            10         15
Infrastructure        39         48
People                35         47
Regulation             6          7
Strategy               1          1

### Business

In [8]:
bnames = names[(names.check=='Business')&(~names.Filename.isna())]#&(names.Index==False)]

In [9]:
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
75,UNCTAD Business-to-Consumer (B2C) E-commerce I...,Business,UNCTAD/World Bank,True,b2c_ecommerse_idx
76,"Networking Services (Spend, IT Forecast Data)",Business,Portulans Institute,TRUE,network_readiness_index
77,ICT goods exports,Business,UNCTAD,False,ict_goods
78,ICT goods imports,Business,UNCTAD,False,ict_goods
79,ICT service exports,Business,UNCTAD,False,ict_services
80,ICT service imports,Business,UNCTAD,False,ict_services
81,"Cloud Services (Spend, IT Forecast Data)",Business,Statista/Business Software Alliance,TRUE,cloud_services
82,ICT task-intensive jobs as a percentage of tot...,Business,OECD,False,ICT_proportion
85,Share of business with internet,Business,OECD,False,business_internet
86,Share of businesses with broadband,Business,World Bank,False,business_broadband
87,Share of businesses with online presence,Business,Portulans Institute,False,share_of_businesses_online_presence
88,Size of gig economy (% of GDP),Business,Portulans Institute,False,prevalance_gig_economy
89,Size of digital economy (% of transactions),Business,Portulans Institute,False,size_digital_economy
90,Venture Capital Availability,Business,World Bank,TRUE,venture_cap_avail
92,Strength of Legal Rights,Business,World Bank,TRUE,legal_rights_strength
93,Time to Start a Business,Business,World Bank,False,time_start_bus
94,Ease of Doing Business,Business,World Bank,TRUE,ease_doing_bus
97,Ease of finding skilled employees,Business,World Bank,TRUE,ease_of_finding_skilled_employees
98,Amount invested into startups yearly from priv...,Business,OECD,False,start_up_investment
111,Doing Business Index,Business,World Bank,True,doing_bus_idx

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['b2c_ecommerse_idx', 'network_readiness_index', 'ict_goods',
       'ict_services', 'cloud_services', 'ICT_proportion',
       'business_internet', 'business_broadband',
       'share_of_businesses_online_presence', 'prevalance_gig_economy',
       'size_digital_economy', 'venture_cap_avail',
       'legal_rights_strength', 'time_start_bus', 'ease_doing_bus',
       'ease_of_finding_skilled_employees', 'start_up_investment',
       'doing_bus_idx'], dtype=object)

In [13]:
# ls digital-readiness-assessment-main/processed/

In [14]:
##ict_goods and services not in process data

In [15]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

### 1. 'UNCTAD Business-to-Consumer (B2C) E-commerce Index'

In [16]:
indicators[0]

'UNCTAD Business-to-Consumer (B2C) E-commerce Index'

In [17]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

UNCTAD Business-to-Consumer (B2C) E-commerce Index
b2c_ecommerse_idx

In [18]:
df.Indicator.unique()

array(['Country rank and value in the UNCTAD B2C E-commerce Index'],
      dtype=object)

In [19]:
df.head()

,2015,2016,2017,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type
0,14.1,17.0,NaN,AFG,Afghanistan,24717,Country rank and value in the UNCTAD B2C E-com...,Value
1,NaN,130.0,132.0,AFG,Afghanistan,24718,Country rank and value in the UNCTAD B2C E-com...,Rank
2,21.1,29.0,NaN,AGO,Angola,24717,Country rank and value in the UNCTAD B2C E-com...,Value
3,NaN,113.0,113.0,AGO,Angola,24718,Country rank and value in the UNCTAD B2C E-com...,Rank
4,51.0,62.0,NaN,ALB,Albania,24717,Country rank and value in the UNCTAD B2C E-com...,Value

In [20]:
# two sub indicators per country
df['Subindicator Type'].unique()

array(['Value', 'Rank'], dtype=object)

In [21]:
# list of columns with data
value_cols = ['2015','2016','2017']

In [22]:
# value doesn't have data for 2017
df[df['Subindicator Type']=='Value'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 292
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   2015               137 non-null    float64
 1   2016               136 non-null    float64
 2   2017               0 non-null      float64
 3   Country ISO3       147 non-null    object
 4   Country Name       147 non-null    object
 5   Indicator Id       147 non-null    int64
 6   Indicator          147 non-null    object
 7   Subindicator Type  147 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 10.3+ KB

In [23]:
df[df['Subindicator Type']=='Value'].describe()

             2015        2016  2017  Indicator Id
count  137.000000  136.000000   0.0         147.0
mean    47.151095   53.713382   NaN       24717.0
std     22.978008   26.604495   NaN           0.0
min      6.500000    3.000000   NaN       24717.0
25%     28.700000   32.000000   NaN       24717.0
50%     47.200000   53.000000   NaN       24717.0
75%     65.200000   78.250000   NaN       24717.0
max     89.700000   96.500000   NaN       24717.0

In [24]:
# Rank does have 2017 data
df[df['Subindicator Type']=='Rank'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 1 to 293
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   2015               0 non-null      float64
 1   2016               137 non-null    float64
 2   2017               136 non-null    float64
 3   Country ISO3       147 non-null    object
 4   Country Name       147 non-null    object
 5   Indicator Id       147 non-null    int64
 6   Indicator          147 non-null    object
 7   Subindicator Type  147 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 10.3+ KB

In [25]:
df[df['Subindicator Type']=='Rank'].describe()

       2015        2016        2017  Indicator Id
count   0.0  137.000000  136.000000         147.0
mean    NaN   69.000000   73.066176       24718.0
std     NaN   39.692569   41.872682           0.0
min     NaN    1.000000    1.000000       24718.0
25%     NaN   35.000000   36.750000       24718.0
50%     NaN   69.000000   72.500000       24718.0
75%     NaN  103.000000  110.250000       24718.0
max     NaN  137.000000  144.000000       24718.0

Going to use the rank column for now since it has more recent data

In [26]:
df_rank = df[df['Subindicator Type']=='Rank'].copy()

In [27]:
# convert rank into 1-6 - in order to get most recent data 
df_rank['data_col'] = df_rank['2017'] 

min_rank = df_rank['data_col'].min()
max_rank = df_rank['data_col'].max()

# transform 1-147 rank into 1-6
df_rank['new_rank_score'] = df_rank['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
df_rank['new_rank_score'] = (6-df_rank['new_rank_score'])+1

In [28]:
# prep output

df_rank.rename(columns={'Country ISO3':'Country Code'}, inplace=True)

df_rank['higher_is_better'] = True


# output scores to csv
df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [29]:
df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Code,Country Name,Indicator,data_col,new_rank_score,higher_is_better
1,AFG,Afghanistan,Country rank and value in the UNCTAD B2C E-com...,132.0,1.419580,True
3,AGO,Angola,Country rank and value in the UNCTAD B2C E-com...,113.0,2.083916,True
5,ALB,Albania,Country rank and value in the UNCTAD B2C E-com...,59.0,3.972028,True
7,ARE,United Arab Emirates,Country rank and value in the UNCTAD B2C E-com...,23.0,5.230769,True
9,ARG,Argentina,Country rank and value in the UNCTAD B2C E-com...,81.0,3.202797,True
11,ARM,Armenia,Country rank and value in the UNCTAD B2C E-com...,78.0,3.307692,True
13,AUS,Australia,Country rank and value in the UNCTAD B2C E-com...,14.0,5.545455,True
15,AUT,Austria,Country rank and value in the UNCTAD B2C E-com...,17.0,5.440559,True
17,AZE,Azerbaijan,Country rank and value in the UNCTAD B2C E-com...,68.0,3.657343,True
19,BDI,Burundi,Country rank and value in the UNCTAD B2C E-com...,140.0,1.139860,True
21,BEL,Belgium,Country rank and value in the UNCTAD B2C E-com...,22.0,5.265734,True
23,BEN,Benin,Country rank and value in the UNCTAD B2C E-com...,138.0,1.209790,True
25,BFA,Burkina Faso,Country rank and value in the UNCTAD B2C E-com...,128.0,1.559441,True
27,BGD,Bangladesh,Country rank and value in the UNCTAD B2C E-com...,103.0,2.433566,True
29,BGR,Bulgaria,Country rank and value in the UNCTAD B2C E-com...,50.0,4.286713,True

## 2. Networking Services (Spend, IT Forecast Data)

In [30]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Networking Services (Spend, IT Forecast Data)
network_readiness_index

In [31]:
# no DATE associated wiht the data

In [32]:
df.head(16)

    Rank          Country  Score  Income Group           Region
0      1          Sweden   82.75  High-income           Europe
1      2         Denmark   82.19  High-income           Europe
2      3       Singapore   81.39  High-income   Asia & Pacific
3      4     Netherlands   81.37  High-income           Europe
4      5     Switzerland   80.41  High-income           Europe
5      6         Finland   80.16  High-income           Europe
6      7          Norway   79.39  High-income           Europe
7      8   United States   78.91  High-income     The Americas
8      9         Germany   77.48  High-income           Europe
9     10  United Kingdom   76.27  High-income            Europe
10    11      Luxembourg   75.27  High-income           Europe
11    12       Australia   75.09  High-income   Asia & Pacific
12    13          Canada   74.92  High-income     The Americas
13    14     Korea, Rep.   74.60  High-income   Asia & Pacific
14    15           Japan   73.54  High-income   Asia & Pacific
15    16     New Zealand   73.27  High-income   Asia & Pacific

In [33]:
# going to use the  score column since this is already an Index

In [34]:
# convert rank into 1-6 - in order to get most recent data 
df['data_col'] = df['Score'] 

# going to assume index is between 1-100 but not 100% sure
min_rank = 1 #df['data_col'].min()
max_rank = 100 #df['data_col'].max()

# transform 1-100 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

In [35]:
# prepare output
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Indicator'] = indicator
df['higher_is_better'] = True

df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# output scores to csv
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/business {}_scores.csv'.format(indicator), index=False)

## 3. ICT Services Imports

In [36]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT goods exports
ict_goods

The *ICT goods* file is actually *ICT services* data. Label is incorrect.

In [37]:
df.head()

,Year,Economy,Economy Label,Partner,Partner Label,Flow,Flow Label,IctProductCategory,IctProductCategory Label,Percentage of total merchandise trade,Percentage of total merchandise trade Footnote
0,2000,0,World,0,World,1,Imports,ICT00,Total ICT goods,16.05745,NaN
1,2000,0,World,0,World,2,Exports,ICT00,Total ICT goods,16.02220,NaN
2,2000,0,World,0,World,3,Re-exports,ICT00,Total ICT goods,29.61627,NaN
3,2000,0,World,0,World,24,Re-imports,ICT00,Total ICT goods,31.78913,NaN
4,2000,8,Albania,0,World,1,Imports,ICT00,Total ICT goods,3.33276,NaN

In [38]:
dcol = 'Percentage of total merchandise trade'
indicol = 'IctProductCategory Label'
cname = 'Economy Label'

# filter most recent year and imports
df = df[(df.Year==2019)&(df['Flow Label']=='Imports')]

# create the standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [39]:
df.head(15)

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
21134,World,Total ICT goods Imports,13.36253,1.668127,True
21138,Antigua and Barbuda,Total ICT goods Imports,3.57755,1.178878,True
21141,Azerbaijan,Total ICT goods Imports,3.94651,1.197326,True
21143,Argentina,Total ICT goods Imports,8.09647,1.404824,True
21146,Australia,Total ICT goods Imports,10.35458,1.517729,True
21149,Austria,Total ICT goods Imports,5.23378,1.261689,True
21151,Armenia,Total ICT goods Imports,5.21115,1.260557,True
21155,Barbados,Total ICT goods Imports,3.08026,1.154013,True
21157,Belgium,Total ICT goods Imports,3.36165,1.168083,True
21159,Bermuda,Total ICT goods Imports,2.02207,1.101104,True
21161,Bosnia and Herzegovina,Total ICT goods Imports,2.82787,1.141393,True
21163,Botswana,Total ICT goods Imports,2.92941,1.146470,True
21166,Brazil,Total ICT goods Imports,9.02468,1.451234,True
21169,Belize,Total ICT goods Imports,3.13291,1.156645,True
21172,Brunei Darussalam,Total ICT goods Imports,2.09483,1.104742,True

## 4. ICT Goods Exports

In [40]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT goods imports
ict_goods

In [41]:
df.head(15)

,Year,Economy,Economy Label,Partner,Partner Label,Flow,Flow Label,IctProductCategory,IctProductCategory Label,Percentage of total merchandise trade,Percentage of total merchandise trade Footnote
0,2000,0,World,0,World,1,Imports,ICT00,Total ICT goods,16.05745,NaN
1,2000,0,World,0,World,2,Exports,ICT00,Total ICT goods,16.02220,NaN
2,2000,0,World,0,World,3,Re-exports,ICT00,Total ICT goods,29.61627,NaN
3,2000,0,World,0,World,24,Re-imports,ICT00,Total ICT goods,31.78913,NaN
4,2000,8,Albania,0,World,1,Imports,ICT00,Total ICT goods,3.33276,NaN
5,2000,8,Albania,0,World,2,Exports,ICT00,Total ICT goods,0.39067,NaN
6,2000,12,Algeria,0,World,1,Imports,ICT00,Total ICT goods,4.29957,NaN
7,2000,12,Algeria,0,World,2,Exports,ICT00,Total ICT goods,0.00649,NaN
8,2000,20,Andorra,0,World,1,Imports,ICT00,Total ICT goods,8.81431,NaN
9,2000,20,Andorra,0,World,2,Exports,ICT00,Total ICT goods,8.06810,NaN
10,2000,28,Antigua and Barbuda,0,World,1,Imports,ICT00,Total ICT goods,9.53298,NaN
11,2000,28,Antigua and Barbuda,0,World,2,Exports,ICT00,Total ICT goods,39.06442,NaN
12,2000,28,Antigua and Barbuda,0,World,3,Re-exports,ICT00,Total ICT goods,45.11872,NaN
13,2000,31,Azerbaijan,0,World,1,Imports,ICT00,Total ICT goods,8.16045,NaN
14,2000,31,Azerbaijan,0,World,2,Exports,ICT00,Total ICT goods,0.13639,NaN

The *ICT goods* file is actually *ICT services* data. Label is incorrect.

In [42]:
dcol = 'Percentage of total merchandise trade'
indicol = 'IctProductCategory Label'
cname = 'Economy Label'

# filter most recent year
df = df[(df.Year==2019)&(df['Flow Label']=='Exports')]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [43]:
df.head(15)

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
21135,World,Total ICT goods Exports,12.48824,1.624412,True
21139,Antigua and Barbuda,Total ICT goods Exports,0.69518,1.034759,True
21142,Azerbaijan,Total ICT goods Exports,0.02084,1.001042,True
21144,Argentina,Total ICT goods Exports,0.07246,1.003623,True
21147,Australia,Total ICT goods Exports,1.10187,1.055093,True
21150,Austria,Total ICT goods Exports,3.12856,1.156428,True
21152,Armenia,Total ICT goods Exports,0.28329,1.014164,True
21156,Barbados,Total ICT goods Exports,0.28104,1.014052,True
21158,Belgium,Total ICT goods Exports,2.03564,1.101782,True
21160,Bermuda,Total ICT goods Exports,3.86205,1.193102,True
21162,Bosnia and Herzegovina,Total ICT goods Exports,0.19875,1.009937,True
21164,Botswana,Total ICT goods Exports,0.16818,1.008409,True
21167,Brazil,Total ICT goods Exports,0.34592,1.017296,True
21170,Belize,Total ICT goods Exports,0.42933,1.021467,True
21173,Brunei Darussalam,Total ICT goods Exports,0.06940,1.003470,True

## 5. ICT Services Exports

In [44]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT service exports
ict_services

In [45]:
df.head(15)

,Year,Economy,Economy Label,Partner,Partner Label,Flow,Flow Label,Category,Category Label,US dollars at current prices in millions,US dollars at current prices in millions Footnote,Growth rate (over previous period),Growth rate (over previous period) Footnote,Percentage of total world,Percentage of total world Footnote,Percentage of total trade in services,Percentage of total trade in services Footnote
0,2005,0,World,0,World,2,Exports,SICT,ICT services,173413.539,Estimated,NaN,NaN,100.000000,Estimated,6.47676,Estimated
1,2005,8,Albania,0,World,1,Imports,SICT,ICT services,16.953,NaN,NaN,NaN,NaN,NaN,1.22595,NaN
2,2005,8,Albania,0,World,2,Exports,SICT,ICT services,73.406,NaN,NaN,NaN,0.042330,Estimated,5.79526,NaN
3,2005,12,Algeria,0,World,1,Imports,SICT,ICT services,154.000,NaN,NaN,NaN,NaN,NaN,3.19303,NaN
4,2005,12,Algeria,0,World,2,Exports,SICT,ICT services,94.000,NaN,NaN,NaN,0.054206,Estimated,3.74950,NaN
5,2005,24,Angola,0,World,1,Imports,SICT,ICT services,41.132,NaN,NaN,NaN,NaN,NaN,0.60568,NaN
6,2005,24,Angola,0,World,2,Exports,SICT,ICT services,14.039,NaN,NaN,NaN,0.008096,Estimated,7.93949,NaN
7,2005,32,Argentina,0,World,1,Imports,SICT,ICT services,429.330,NaN,NaN,NaN,NaN,NaN,5.72677,NaN
8,2005,32,Argentina,0,World,2,Exports,SICT,ICT services,405.160,NaN,NaN,NaN,0.233638,Estimated,6.27371,NaN
9,2005,36,Australia,0,World,1,Imports,SICT,ICT services,1199.000,NaN,NaN,NaN,NaN,NaN,3.62709,NaN
10,2005,36,Australia,0,World,2,Exports,SICT,ICT services,1245.500,NaN,NaN,NaN,0.718225,Estimated,3.86481,NaN
11,2005,44,Bahamas,0,World,1,Imports,SICT,ICT services,1.000,Estimated,NaN,NaN,NaN,NaN,0.07774,Estimated
12,2005,50,Bangladesh,0,World,1,Imports,SICT,ICT services,22.186,NaN,NaN,NaN,NaN,NaN,0.93829,NaN
13,2005,50,Bangladesh,0,World,2,Exports,SICT,ICT services,37.794,NaN,NaN,NaN,0.021794,Estimated,2.52477,NaN
14,2005,51,Armenia,0,World,1,Imports,SICT,ICT services,14.452,NaN,NaN,NaN,NaN,NaN,2.50009,NaN

In [46]:
dcol = 'Percentage of total trade in services'
indicol = 'Category Label'
cname = 'Economy Label'

# filter most recent year and exports
df = df[(df.Year==2019)&(df['Flow Label']=='Exports')]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Year','Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [47]:
df.head()

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
6662,World,2019,ICT services Exports,10.34718,1.517359,True
6664,Afghanistan,2019,ICT services Exports,7.49154,1.374577,True
6666,Albania,2019,ICT services Exports,2.78304,1.139152,True
6668,Angola,2019,ICT services Exports,4.28800,1.214400,True
6670,Azerbaijan,2019,ICT services Exports,1.05807,1.052903,True

## 6. ICT Services Imports

In [48]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT service imports
ict_services

In [49]:
df.head()

,Year,Economy,Economy Label,Partner,Partner Label,Flow,Flow Label,Category,Category Label,US dollars at current prices in millions,US dollars at current prices in millions Footnote,Growth rate (over previous period),Growth rate (over previous period) Footnote,Percentage of total world,Percentage of total world Footnote,Percentage of total trade in services,Percentage of total trade in services Footnote
0,2005,0,World,0,World,2,Exports,SICT,ICT services,173413.539,Estimated,NaN,NaN,100.000000,Estimated,6.47676,Estimated
1,2005,8,Albania,0,World,1,Imports,SICT,ICT services,16.953,NaN,NaN,NaN,NaN,NaN,1.22595,NaN
2,2005,8,Albania,0,World,2,Exports,SICT,ICT services,73.406,NaN,NaN,NaN,0.042330,Estimated,5.79526,NaN
3,2005,12,Algeria,0,World,1,Imports,SICT,ICT services,154.000,NaN,NaN,NaN,NaN,NaN,3.19303,NaN
4,2005,12,Algeria,0,World,2,Exports,SICT,ICT services,94.000,NaN,NaN,NaN,0.054206,Estimated,3.74950,NaN

In [50]:
dcol = 'Percentage of total trade in services'
indicol = 'Category Label'
cname = 'Economy Label'

# filter most recent year and exports
df = df[(df.Year==2019)&(df['Flow Label']=='Imports')]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Year', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [51]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
6663,Afghanistan,2019,ICT services Imports,2.02267,1.101133,True
6665,Albania,2019,ICT services Imports,3.38082,1.169041,True
6667,Angola,2019,ICT services Imports,1.80954,1.090477,True
6669,Azerbaijan,2019,ICT services Imports,0.99593,1.049797,True
6671,Argentina,2019,ICT services Imports,6.40331,1.320166,True
6673,Australia,2019,ICT services Imports,4.53975,1.226987,True
6675,Austria,2019,ICT services Imports,9.36370,1.468185,True
6677,Bangladesh,2019,ICT services Imports,0.96116,1.048058,True
6679,Armenia,2019,ICT services Imports,1.45146,1.072573,True
6681,Belgium,2019,ICT services Imports,7.88662,1.394331,True
6683,Bolivia (Plurinational State of),2019,ICT services Imports,2.42999,1.121500,True
6685,Bosnia and Herzegovina,2019,ICT services Imports,6.23054,1.311527,True
6687,Brazil,2019,ICT services Imports,7.67516,1.383758,True
6689,Belize,2019,ICT services Imports,6.53528,1.326764,True
6692,Bulgaria,2019,ICT services Imports,6.35222,1.317611,True

Question: do we want to use imports or exports?

## 7. Cloud Services (Spend, IT Forecast Data)

In [52]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cloud Services (Spend, IT Forecast Data)
cloud_services

In [53]:
# remove nulls
df = df.dropna()

In [54]:
# prepare standard columns
df['data_col'] = df['Unnamed: 1'].astype(float)
df['Country Name'] = df.iloc[:,0]
df['Indicator'] = indicator
df['higher_is_better'] = True
df['Year'] = 2018

In [55]:
min_rank = 1
max_rank = df['Country Name'].nunique()

In [56]:
# transform 1-24 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

In [57]:
# prepare output
df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Year','Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [58]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
2,Germany,2018,"Cloud Services (Spend, IT Forecast Data)",18.2,4.739130,True
3,Japan,2018,"Cloud Services (Spend, IT Forecast Data)",20.3,5.195652,True
4,United States,2018,"Cloud Services (Spend, IT Forecast Data)",18.0,4.695652,True
5,United Kingdom,2018,"Cloud Services (Spend, IT Forecast Data)",19.8,5.086957,True
6,Australia,2018,"Cloud Services (Spend, IT Forecast Data)",16.1,4.282609,True
7,Singapore,2018,"Cloud Services (Spend, IT Forecast Data)",20.7,5.282609,True
8,Canada,2018,"Cloud Services (Spend, IT Forecast Data)",17.0,4.478261,True
9,France,2018,"Cloud Services (Spend, IT Forecast Data)",17.3,4.543478,True
10,Italy,2018,"Cloud Services (Spend, IT Forecast Data)",15.0,4.043478,True
11,Spain,2018,"Cloud Services (Spend, IT Forecast Data)",16.6,4.391304,True
12,Poland,2018,"Cloud Services (Spend, IT Forecast Data)",14.7,3.978261,True
13,Korea,2018,"Cloud Services (Spend, IT Forecast Data)",19.9,5.108696,True
14,Mexico,2018,"Cloud Services (Spend, IT Forecast Data)",9.1,2.760870,True
15,Malaysia,2018,"Cloud Services (Spend, IT Forecast Data)",13.5,3.717391,True
16,South Africa,2018,"Cloud Services (Spend, IT Forecast Data)",10.3,3.021739,True

## 8. ICT task-intensive jobs as a percentage of total employment

In [59]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT task-intensive jobs as a percentage of total employment
ICT_proportion

In [60]:
df.head()

,Indicator,Country,Industry,Information and communication technologies,Sex,Measure,Time,Value,Flags
0,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2011,3.176400,NaN
1,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2012,3.225967,NaN
2,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2013,3.346251,NaN
3,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2014,3.319100,NaN
4,ICT specialists within and outside information...,Austria,Total economy,Specialist (ISCO-08: 133+215+251+252+351+352+742),Total,Share of jobs,2015,3.729340,NaN

In [61]:
df[(df['Time']==2018)&(df['Information and communication technologies']=='ICT-intensive')].sort_values(by='Value', ascending=False)

Empty DataFrame
Columns: [Indicator, Country, Industry, Information and communication technologies, Sex, Measure, Time, Value, Flags]
Index: []

In [62]:
# bnames

In [63]:
df['Information and communication technologies'].unique()

array(['Specialist (ISCO-08: 133+215+251+252+351+352+742)',
       'Other ICT-intensive (ISCO-08: 121+122,134+,211+,216+,231+,241+,242+243)',
       'Non-ICT (rest of ISCO-08 occupations)', 'ICT-intensive', 'Total'],
      dtype=object)

In [64]:
df.Sex.unique()

array(['Total'], dtype=object)

In [65]:
# convert to correct types
df['Value'] = df['Value'].astype(float)

In [66]:
df['Value'].describe()

count    985.000000
mean      42.353406
std       42.614469
min        0.890157
25%        5.526795
50%       12.887070
75%       91.318100
max      100.000000
Name: Value, dtype: float64

In [67]:
# filter on relevant years
df = df[(df['Time']==2017)&(df['Information and communication technologies']=='ICT-intensive')]

# convert rank into 1-6 - in order to get most recent data 
df['data_col'] = df['Value'] 

# going to assume index is between 1-100 but not 100% sure
min_rank = 0 #df['data_col'].min()
max_rank = 100 #df['data_col'].max()

# transform 1-147 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

# df_rank[['Country ISO3', 'Country Name','Indicator','data_col','new_rank_score']].head()

df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Indicator'] = indicator
df['higher_is_better'] = True
df['Year'] = df['Time']

df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# output scores to csv
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

In [68]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
27,Austria,2017,ICT task-intensive jobs as a percentage of tot...,10.884160,1.544208,True
62,Belgium,2017,ICT task-intensive jobs as a percentage of tot...,14.448260,1.722413,True
97,Czech Republic,2017,ICT task-intensive jobs as a percentage of tot...,9.219953,1.460998,True
157,Estonia,2017,ICT task-intensive jobs as a percentage of tot...,15.761420,1.788071,True
217,Finland,2017,ICT task-intensive jobs as a percentage of tot...,15.220480,1.761024,True
252,France,2017,ICT task-intensive jobs as a percentage of tot...,12.008350,1.600418,True
287,Germany,2017,ICT task-intensive jobs as a percentage of tot...,10.441900,1.522095,True
322,Greece,2017,ICT task-intensive jobs as a percentage of tot...,6.675247,1.333762,True
357,Hungary,2017,ICT task-intensive jobs as a percentage of tot...,8.369766,1.418488,True
392,Iceland,2017,ICT task-intensive jobs as a percentage of tot...,14.276870,1.713843,True
452,Italy,2017,ICT task-intensive jobs as a percentage of tot...,7.254931,1.362747,True
507,Latvia,2017,ICT task-intensive jobs as a percentage of tot...,12.482960,1.624148,True
542,Lithuania,2017,ICT task-intensive jobs as a percentage of tot...,16.276940,1.813847,True
577,Luxembourg,2017,ICT task-intensive jobs as a percentage of tot...,21.685190,2.084259,True
612,Netherlands,2017,ICT task-intensive jobs as a percentage of tot...,15.733610,1.786681,True

## 9. Share of business with internet

In [69]:
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Share of business with internet
business_internet

In [70]:
df.head(15)

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Country
0,52.47,54.8,60.17,61.52,67.16,67.81,69.33,76.25,75.58,75.77,76.73,75.62,77.37,79.38,80.37,..,Australia
1,72.22,78.81,80.06,79.84,79.85,80.19,82.87,82.01,85.7,86.35,87.46,88.11,85.55,87.92,89.45,90.42,Austria
2,..,..,..,..,77.37,78.47,76.6,76.01,78.26,79.15,81.04,81,82.6,84.03,86.72,86.62,Belgium
3,64.8,67.5,69.7,..,..,..,..,79.8,77.5,..,..,..,78.5,..,81.8,..,Canada
4,..,..,..,47.87,51.74,54.03,59.41,63.27,66.55,67,66.47,67.43,67.17,67.81,..,..,Colombia
5,..,70.08,71.12,73.99,72.66,73.63,77.44,79.67,79.86,82.63,82.57,82.15,82.9,82.79,83.31,83.32,Czech Republic
6,..,..,..,..,87.61,87.83,88.68,89.3,91.78,91.4,91.95,93.34,95.09,95.58,93.92,92.77,Denmark
7,52.65,57.86,61.87,65.73,67.53,70.04,72.63,74.97,75.74,77.56,79.73,77.93,78.09,78.36,81.18,79.79,Estonia
8,..,..,..,..,84.62,87.32,92.56,91.3,93.64,95.1,95.2,95.33,96.28,95.64,..,95.92,Finland
9,..,..,..,..,54.05,57.71,60.05,64.48,65.3,63.59,66.82,68.5,66.53,69.41,71.54,70.35,France
10,71.25,73.87,76.88,75.39,78.94,81.43,81.26,82.03,84.41,85.77,87.12,88.93,87.32,87.39,88.21,88.35,Germany
11,55.3,50.39,57.26,55.44,61.91,57.92,63.95,63.51,60.59,61.85,60.95,65.89,64.77,64.8,59.3,60.1,Greece
12,..,..,45.25,47.47,50.76,56.56,59.79,61.77,61.23,61.26,64.46,67.77,68.68,65.72,62.47,63.23,Hungary
13,..,..,..,..,..,77.17,..,84.48,82.73,84.7,..,..,81.53,82.57,..,..,Iceland
14,..,..,..,..,62.16,68.05,70.12,73.52,74.71,73.2,75.25,76.07,74.19,78.85,78.68,75.27,Ireland

## 10. Share of businesses with broadband

In [71]:
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Share of businesses with broadband
business_broadband

In [72]:
df.head(15)

     2008   2009   2010          Country
0   76.94  76.01  82.06          Austria
1   79.33  77.31  86.52   Czech Republic
2   87.53  86.08  88.08          Estonia
3     NaN  91.68  93.31           France
4   83.46  87.90  89.34          Germany
5   70.37  74.19  79.61          Hungary
6     NaN    NaN  95.43          Iceland
7     NaN  76.11  86.84          Ireland
8     NaN  82.92  84.12            Italy
9     NaN  88.03  87.91       Luxembourg
10    NaN  86.38  90.93      Netherlands
11  84.36  88.28  86.92           Norway
12  59.12  58.47  69.34           Poland
13    NaN  81.70  84.75         Portugal
14  73.72  78.37  78.32  Slovak Republic

In [73]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2010']
df['Country Name'] = df['Country']
df['Year'] = 2010

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [74]:
df = df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Austria,2010,Share of businesses with broadband,82.06,3.436782,True
1,Czech Republic,2010,Share of businesses with broadband,86.52,4.291188,True
2,Estonia,2010,Share of businesses with broadband,88.08,4.590038,True
3,France,2010,Share of businesses with broadband,93.31,5.591954,True
4,Germany,2010,Share of businesses with broadband,89.34,4.831418,True
5,Hungary,2010,Share of businesses with broadband,79.61,2.967433,True
6,Iceland,2010,Share of businesses with broadband,95.43,5.998084,True
7,Ireland,2010,Share of businesses with broadband,86.84,4.352490,True
8,Italy,2010,Share of businesses with broadband,84.12,3.831418,True
9,Luxembourg,2010,Share of businesses with broadband,87.91,4.557471,True
10,Netherlands,2010,Share of businesses with broadband,90.93,5.136015,True
11,Norway,2010,Share of businesses with broadband,86.92,4.367816,True
12,Poland,2010,Share of businesses with broadband,69.34,1.000000,True
13,Portugal,2010,Share of businesses with broadband,84.75,3.952107,True
14,Slovak Republic,2010,Share of businesses with broadband,78.32,2.720307,True

In [75]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

No data found

## 11. Share of businesses with online presence

In [76]:
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))
df.head(15)

Share of businesses with online presence
share_of_businesses_online_presence

    RANK COUNTRY/ECONOMY  VALUE   SCORE  Year
0    1.0         Finland  95.64  100.00  2018
1    2.0         Denmark  93.92   98.01  2018
2    3.0           Japan  92.40   96.24  2018
3    4.0     Netherlands  91.89   95.65  2018
4    5.0     Switzerland  91.74   95.48  2018
5    6.0          Sweden  89.65   93.05  2018
6    7.0         Austria  89.45   92.82  2018
7    8.0         Germany  88.21   91.38  2018
8    9.0         Belgium  86.72   89.65  2018
9   10.0  United Kingdom  83.88   86.35  2018
10  11.0      Luxembourg  83.67   86.11  2018
11  12.0  Czech Republic  83.31   85.69  2018
12  13.0           Malta  83.30   85.68  2018
13  14.0        Slovenia  82.76   85.05  2018
14  15.0         Iceland  82.57   84.83  2018

In [77]:
# create standard columns
df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE']


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [78]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Finland,2018,Share of businesses with online presence,95.64,6.000000,True
1,Denmark,2018,Share of businesses with online presence,93.92,5.900163,True
2,Japan,2018,Share of businesses with online presence,92.40,5.811934,True
3,Netherlands,2018,Share of businesses with online presence,91.89,5.782331,True
4,Switzerland,2018,Share of businesses with online presence,91.74,5.773624,True
5,Sweden,2018,Share of businesses with online presence,89.65,5.652310,True
6,Austria,2018,Share of businesses with online presence,89.45,5.640701,True
7,Germany,2018,Share of businesses with online presence,88.21,5.568725,True
8,Belgium,2018,Share of businesses with online presence,86.72,5.482238,True
9,United Kingdom,2018,Share of businesses with online presence,83.88,5.317390,True
10,Luxembourg,2018,Share of businesses with online presence,83.67,5.305201,True
11,Czech Republic,2018,Share of businesses with online presence,83.31,5.284305,True
12,Malta,2018,Share of businesses with online presence,83.30,5.283724,True
13,Slovenia,2018,Share of businesses with online presence,82.76,5.252380,True
14,Iceland,2018,Share of businesses with online presence,82.57,5.241351,True

In [79]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 12. Size of gig economy (% of GDP)

In [80]:
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Size of gig economy (% of GDP)
prevalance_gig_economy

In [81]:
df.head(15)

    RANK       COUNTRY/ECONOMY  VALUE   SCORE
0    1.0         United States   5.40  100.00
1    2.0           Netherlands   5.22   94.63
2    3.0        United Kingdom   5.19   93.80
3    4.0          Saudi Arabia   5.08   90.33
4    5.0              Malaysia   5.07   90.19
5    6.0                 Egypt   5.05   89.46
6    7.0                Israel   5.02   88.42
7    8.0                Canada   4.94   86.07
8    9.0             Singapore   4.92   85.52
9   10.0  United Arab Emirates   4.87   83.82
10  11.0             Australia   4.81   82.16
11  12.0               Germany   4.81   82.07
12  13.0                 Qatar   4.57   74.83
13  14.0           New Zealand   4.54   73.86
14  15.0            Azerbaijan   4.53   73.58

In [82]:
# create standard columns
df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE']
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [83]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United States,2019,Size of gig economy (% of GDP),5.40,6.000000,True
1,Netherlands,2019,Size of gig economy (% of GDP),5.22,5.725610,True
2,United Kingdom,2019,Size of gig economy (% of GDP),5.19,5.679878,True
3,Saudi Arabia,2019,Size of gig economy (% of GDP),5.08,5.512195,True
4,Malaysia,2019,Size of gig economy (% of GDP),5.07,5.496951,True
5,Egypt,2019,Size of gig economy (% of GDP),5.05,5.466463,True
6,Israel,2019,Size of gig economy (% of GDP),5.02,5.420732,True
7,Canada,2019,Size of gig economy (% of GDP),4.94,5.298780,True
8,Singapore,2019,Size of gig economy (% of GDP),4.92,5.268293,True
9,United Arab Emirates,2019,Size of gig economy (% of GDP),4.87,5.192073,True
10,Australia,2019,Size of gig economy (% of GDP),4.81,5.100610,True
11,Germany,2019,Size of gig economy (% of GDP),4.81,5.100610,True
12,Qatar,2019,Size of gig economy (% of GDP),4.57,4.734756,True
13,New Zealand,2019,Size of gig economy (% of GDP),4.54,4.689024,True
14,Azerbaijan,2019,Size of gig economy (% of GDP),4.53,4.673780,True

In [84]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 13. Size of digital economy (% of transactions)

In [85]:
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Size of digital economy (% of transactions)
size_digital_economy

In [86]:
df

     Order        Country Name  Value   Score
0      1.0           Singapore  78.13  100.00
1      2.0         Switzerland  64.57   82.59
2      3.0         Korea, Rep.  63.66   81.42
3      4.0             Germany  61.45   78.58
4      5.0             Hungary  59.72   76.36
..     ...                 ...    ...     ...
129    NaN    Congo, Dem. Rep.    NaN     NaN
130    NaN  Dominican Republic    NaN     NaN
131    NaN              Guinea    NaN     NaN
132    NaN             Lesotho    NaN     NaN
133    NaN                Mali    NaN     NaN

[134 rows x 4 columns]

In [87]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [88]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Singapore,2019,Size of digital economy (% of transactions),78.13,6.000000,True
1,Switzerland,2019,Size of digital economy (% of transactions),64.57,5.129318,True
2,"Korea, Rep.",2019,Size of digital economy (% of transactions),63.66,5.070887,True
3,Germany,2019,Size of digital economy (% of transactions),61.45,4.928984,True
4,Hungary,2019,Size of digital economy (% of transactions),59.72,4.817902,True
5,Japan,2019,Size of digital economy (% of transactions),56.21,4.592526,True
6,Ireland,2019,Size of digital economy (% of transactions),54.35,4.473096,True
7,Denmark,2019,Size of digital economy (% of transactions),54.22,4.464749,True
8,Qatar,2019,Size of digital economy (% of transactions),54.17,4.461538,True
9,Sweden,2019,Size of digital economy (% of transactions),53.01,4.387055,True
10,Czech Republic,2019,Size of digital economy (% of transactions),52.40,4.347888,True
11,Slovakia,2019,Size of digital economy (% of transactions),51.38,4.282394,True
12,France,2019,Size of digital economy (% of transactions),50.08,4.198921,True
13,Belgium,2019,Size of digital economy (% of transactions),49.51,4.162322,True
14,Netherlands,2019,Size of digital economy (% of transactions),48.86,4.120586,True

In [89]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

No Country Data

## 14. Venture Capital Availability

In [90]:
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Venture Capital Availability
venture_cap_avail

In [91]:
df.head(15)

,2017,2018,2019,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018
0,NaN,NaN,NaN,AGO,Angola,495,GDP (PPP) as % of world total,Value,NaN,NaN,NaN,0.153000,0.145000,NaN,0.154000,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,AGO,Angola,496,GDP (PPP) as % of world total,Rank,NaN,NaN,NaN,62.000000,63.000000,NaN,63.000000,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,AGO,Angola,509,"Domestic market size index, 1-7 (best)",Value,NaN,NaN,NaN,3.428947,3.582865,NaN,3.490087,3.502455,NaN,NaN,NaN
3,NaN,NaN,NaN,AGO,Angola,510,"Domestic market size index, 1-7 (best)",Rank,NaN,NaN,NaN,72.000000,64.000000,NaN,67.000000,69.000000,NaN,NaN,NaN
4,NaN,NaN,NaN,AGO,Angola,511,"Foreign market size index, 1-7 (best)",Value,NaN,NaN,NaN,4.743048,4.589237,NaN,4.871807,4.839048,NaN,NaN,NaN
5,NaN,NaN,NaN,AGO,Angola,512,"Foreign market size index, 1-7 (best)",Rank,NaN,NaN,NaN,51.000000,61.000000,NaN,55.000000,56.000000,NaN,NaN,NaN
6,NaN,NaN,NaN,AGO,Angola,515,Exports as a percentage of GDP,Value,NaN,NaN,NaN,65.600000,54.896223,NaN,65.050770,62.317539,NaN,NaN,NaN
7,NaN,NaN,NaN,AGO,Angola,516,Exports as a percentage of GDP,Rank,NaN,NaN,NaN,24.000000,33.000000,NaN,30.000000,32.000000,NaN,NaN,NaN
8,NaN,NaN,NaN,AGO,Angola,521,"Availability of financial services, 1-7 (best)",Value,NaN,NaN,NaN,3.266015,2.803951,NaN,2.382353,2.349348,NaN,NaN,NaN
9,NaN,NaN,NaN,AGO,Angola,522,"Availability of financial services, 1-7 (best)",Rank,NaN,NaN,NaN,129.000000,138.000000,NaN,148.000000,143.000000,NaN,NaN,NaN
10,NaN,NaN,NaN,AGO,Angola,523,"Affordability of financial services, 1-7 (best)",Value,NaN,NaN,NaN,2.867995,2.771301,NaN,3.058824,3.236488,NaN,NaN,NaN
11,NaN,NaN,NaN,AGO,Angola,524,"Affordability of financial services, 1-7 (best)",Rank,NaN,NaN,NaN,132.000000,137.000000,NaN,137.000000,128.000000,NaN,NaN,NaN
12,NaN,NaN,NaN,AGO,Angola,525,"Financing through local equity market, 1-7 (best)",Value,NaN,NaN,NaN,1.518660,1.237449,NaN,1.433333,1.424694,NaN,NaN,NaN
13,NaN,NaN,NaN,AGO,Angola,526,"Financing through local equity market, 1-7 (best)",Rank,NaN,NaN,NaN,139.000000,141.000000,NaN,148.000000,144.000000,NaN,NaN,NaN
14,NaN,NaN,NaN,AGO,Angola,527,"Ease of access to loans, 1-7 (best)",Value,NaN,NaN,NaN,2.223371,1.944853,NaN,1.727273,2.155040,NaN,NaN,NaN

#### What fields should we use?

In [92]:
df.Indicator.unique()  
# relavent indicator is:        'Venture capital availability, 1-7 (best)', id 529

array(['GDP (PPP) as % of world total',
       'Domestic market size index, 1-7 (best)',
       'Foreign market size index, 1-7 (best)',
       'Exports as a percentage of GDP',
       'Availability of financial services, 1-7 (best)',
       'Affordability of financial services, 1-7 (best)',
       'Financing through local equity market, 1-7 (best)',
       'Ease of access to loans, 1-7 (best)',
       'Venture capital availability, 1-7 (best)',
       'Soundness of banks, 1-7 (best)',
       'Women in labor force, ratio to men',
       'Value chain breadth, 1-7 (best)',
       'Production process sophistication, 1-7 (best)',
       'Reliance on professional management, 1-7 (best)',
       'Country capacity to retain talent, 1-7 (best)',
       'Country capacity to attract talent, 1-7 (best)',
       'State of cluster development, 1-7 (best)',
       'Malaria cases/100,000 pop.', 'Tuberculosis cases/100,000 pop.',
       'Degree of customer orientation, 1-7 (best)',
       'Buyer sophistication, 1-7 (best)',
       'Effect of taxation on incentives to work, 1-7 (best)',
       'Cooperation in labor-employer relations, 1-7 (best)',
       'Flexibility of wage determination, 1-7 (best)',
       'Hiring and firing practices, 1-7 (best)',
       'Redundancy costs, weeks of salary',
       'Pay and productivity, 1-7 (best)',
       'Favoritism in decisions of government officials, 1-7 (best)',
       'Burden of government regulation, 1-7 (best)',
       'Regulation of securities exchanges, 1-7 (best)',
       'Legal rights index, 0-10 (best)',
       'Extent of marketing, 1-7 (best)',
       'Willingness to delegate authority, 1-7 (best)',
       'Local supplier quantity, 1-7 (best)',
       'Local supplier quality, 1-7 (best)',
       'Nature of competitive advantage, 1-7 (best)',
       'Control of international distribution, 1-7 (best)',
       'Goods Market Efficiency', 'Labor Market Efficiency',
       'Financial Market Development', 'Business Sophistication',
       'Market size', 'GCI 4.0: Organized crime',
       'GCI 4.0: Homicide rate', 'GCI 4.0: Terrorism incidence',
       'GCI 4.0: Reliability of police services',
       'GCI 4.0: Social capital', 'GCI 4.0: Budget transparency',
       'GCI 4.0: Judicial independence',
       'GCI 4.0: Efficiency of legal framework in challenging regulations',
       'GCI 4.0: Freedom of the press',
       'GCI 4.0: Efficiency of legal framework in settling disputes',
       'GCI 4.0: Future orientation of government',
       'GCI 4.0: Government ensuring policy stability',
       "GCI 4.0: Government's responsiveness to change",
       "GCI 4.0: Legal framework's adaptability to digital business models",
       'GCI 4.0: Government long term vision',
       'GCI 4.0: Incidence of corruption', 'GCI 4.0: Property rights',
       'GCI 4.0: Intellectual property protection',
       'GCI 4.0: Quality of land administration',
       'GCI 4.0: Strength of auditing and reporting standards',
       'GCI 4.0: Conflict of interest regulation',
       'GCI 4.0: Shareholder governance',
       'GCI 4.0: Road connectivity index', 'GCI 4.0: Quality of roads',
       'GCI 4.0: Efficiency of train services',
       'GCI 4.0: Airport connectivity',
       'GCI 4.0: Efficiency of air transport services',
       'GCI 4.0: Liner Shipping Connectivity Index',
       'GCI 4.0: Efficiency of seaport services',
       'GCI 4.0: Electrification rate',
       'GCI 4.0: Electric power transmission and distribution losses',
       'GCI 4.0: Exposure to unsafe drinking water',
       'GCI 4.0: Reliability of water supply',
       'GCI 4.0: Mobile-cellular telephone subscriptions',
       'GCI 4.0: Mobile-broadband subscriptions',
       'GCI 4.0: Fixed-broadband Internet subscriptions',
       'GCI 4.0: Fibre Internet subscriptions', 'GCI 4.0: Internet users',
       'GCI 4.0: Inflation', 'GCI 4.0: Debt dynamics',
       'GCI 4.0: Healthy life expectancy',
       'GCI 4.0: Mean years of schooling',
       'GCI 4.0: Extent of staff training',
       'GCI 4.0: Quality of vocational training',
       'GCI 4.0: Skillset of graduates',
       'GCI 4.0: Skillset of secondary-education graduates',
       'GCI 4.0: Skillset of university graduates',
       'GCI 4.0: Digital skills among population',
       'GCI 4.0: Ease of finding skilled employees',
       'GCI 4.0: School life expectancy',
       'GCI 4.0: Critical thinking in teaching',
       'GCI 4.0: Pupil-to-teacher ratio in primary education',
       'GCI 4.0: Distortive effect of taxes and subsidies on competition',
       'GCI 4.0: Extent of market dominance',
       'GCI 4.0: Competition in services',
       'GCI 4.0: Competition in professional services',
       'GCI 4.0: Competition in retail services',
       'GCI 4.0: Competition in network services',
       'GCI 4.0: Prevalence of non-tariff barriers',
       'GCI 4.0: Trade tariffs', 'GCI 4.0: Complexity of tariffs',
       'GCI 4.0: Efficiency of the clearance process',
       'GCI 4.0: Active Labour policies', "GCI 4.0: Workers' rights",
       'GCI 4.0: Ease of hiring foreign labour',
       'GCI 4.0: Internal Labour mobility',
       'GCI 4.0: Female participation in Labour force',
       'GCI 4.0: Labour tax rate',
       'GCI 4.0: Domestic credit to private sector',
       'GCI 4.0: Financing of SMEs', 'GCI 4.0: Market capitalization',
       'GCI 4.0: Insurance premium',
       'GCI 4.0: Non-life insurance premiums',
       'GCI 4.0: Life insurance premiums',
       'GCI 4.0: Non-performing loans', 'GCI 4.0: Credit gap',
       "GCI 4.0: Banks' regulatory capital ratio",
       'GCI 4.0: Gross domestic product (PPP,$) per capita',
       'GCI 4.0: Imports', 'GCI 4.0: Cost of starting a business',
       'GCI 4.0: Time to start a business',
       'GCI 4.0: Insolvency recovery rate',
       'GCI 4.0: Insolvency regulatory framework',
       'GCI 4.0: Attitudes toward entrepreneurial risk',
       'GCI 4.0: Growth of innovative companies',
       'GCI 4.0: Companies embracing disruptive ideas',
       'GCI 4.0: Diversity of workforce',
       'GCI 4.0: International co-inventions',
       'GCI 4.0: Multi-stakeholder colLabouration',
       'GCI 4.0: University-industry colLabouration in R&D',
       'GCI 4.0: Scientific publications', 'GCI 4.0: Patent applications',
       'GCI 4.0: R&D expenditures',
       'GCI 4.0: Quality of research institutions',
       'GCI 4.0: Trademark applications',
       'GCI 4.0: Global Competitiveness Index 4.0',
       'GCI 4.0: Enabling environment component',
       'GCI 4.0: Pillar 1: Institutions', 'GCI 4.0: 1.F Property rights',
       'GCI 4.0: 1.A Security',
       'GCI 4.0: 1.E Undue influence and corruption',
       'GCI 4.0: 1.C Checks and balances',
       'GCI 4.0: 1.D Public-sector performance',
       'GCI 4.0: 1.B Social capital', 'GCI 4.0: 1.G Corporate governance',
       'GCI 4.0: Pillar 2: Infrastructure',
       'GCI 4.0: 2.A Transport infrastructure', 'GCI 4.0: Roads',
       'GCI 4.0: Air transport', 'GCI 4.0: Water transport',
       'GCI 4.0: 2.B Utility infrastructure',
       'GCI 4.0: Electricity infrastructure',
       'GCI 4.0: Water infrastructure', 'GCI 4.0: Pillar 3: ICT adoption',
       'GCI 4.0: Pillar 4: Macroeconomic stability',
       'GCI 4.0: Human capital component', 'GCI 4.0: Pillar 5: Health',
       'GCI 4.0: Pillar 6: Skills', 'GCI 4.0: 6.A Current workforce',
       'GCI 4.0: Skills of current workforce',
       'GCI 4.0: 6.B Future workforce',
       'GCI 4.0: Skills of future workforce',
       'GCI 4.0: Markets component', 'GCI 4.0: Pillar 7: Product market',
       'GCI 4.0: 7.A Domestic competition',
       'GCI 4.0: 7.B Foreign competition',
       'GCI 4.0: Pillar 8: Labour market', 'GCI 4.0: 8.A Flexibility',
       'GCI 4.0: 8.B Skills matching',
       'GCI 4.0: Pillar 9: Financial system', 'GCI 4.0: 9.A Depth',
       'GCI 4.0: 9.B Stability', 'GCI 4.0: Pillar 10: Market size',
       'GCI 4.0: Innovation ecosystem component',
       'GCI 4.0: Pillar 11: Business dynamism',
       'GCI 4.0: 11.A Regulation', 'GCI 4.0: 11.B Entrepreneurship',
       'GCI 4.0: Pillar 12: Innovation capability',
       'GCI 4.0: Interaction and diversity', 'GCI 4.0: Research',
       'GCI 4.0: Commercialization', 'GCI 4.0: Services trade openness',
       'GCI 4.0: Redundancy costs', 'GCI 4.0: 1.E Transparency',
       'GCI 4.0: Sea', 'GCI 4.0: 7.B Trade openness',
       'GCI 4.0: Border clearance efficiency',
       'GCI 4.0: Collaboration between companies',
       'GCI 4.0: Collaboration inside company',
       'GCI 4.0: 11.A Administrative requirements',
       'GCI 4.0: 8.B Meritocracy and incentivization',
       'GCI 4.0: Government adaptability',
       'GCI 4.0: Commitment to sustainability',
       'GCI 4.0: Energy efficiency regulation',
       'GCI 4.0: Renewable energy regulation',
       'GCI 4.0: Environment-related treaties in force',
       'GCI 4.0: Government debt to GDP',
       'GCI 4.0: Change in government debt',
       'GCI 4.0: Country bond ratings',
       'Efficiency of government spending, 1-7 (best)',
       'Financial services meeting business needs, 1-7 (best)',
       'GCI 4.0: Railroad density', 'GCI 4.0: Railroads'], dtype=object)

In [93]:
df[df.Indicator=='Venture capital availability, 1-7 (best)']

# there are two indicator subtypes: Index and Rank
df[df.Indicator=='Venture capital availability, 1-7 (best)']['Subindicator Type'].unique()

array(['Index 1-7 (best)', 'Rank'], dtype=object)

In [94]:
df['data_col'] = df['2019']#.apply(lambda row: convert_rank(row))

In [95]:
# create two data frames for each subtype
df_rank = df[(df.Indicator=='Venture capital availability, 1-7 (best)')&(df['Subindicator Type']=='Rank')]
df_index = df[(df.Indicator=='Venture capital availability, 1-7 (best)')&(df['Subindicator Type']=='Index 1-7 (best)')]

In [96]:
df_index.head()

,2017,2018,2019,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,data_col
16,NaN,NaN,NaN,AGO,Angola,529,"Venture capital availability, 1-7 (best)",Index 1-7 (best),NaN,NaN,NaN,1.802891,1.494084,NaN,2.117647,2.348170,NaN,NaN,NaN,NaN
510,NaN,NaN,NaN,ALB,Albania,529,"Venture capital availability, 1-7 (best)",Index 1-7 (best),2.665708,2.524466,2.321898,2.145235,1.956589,1.844924,1.859132,1.948528,1.898624,2.115480,2.482504,NaN
1011,NaN,NaN,NaN,ARE,United Arab Emirates,529,"Venture capital availability, 1-7 (best)",Index 1-7 (best),4.544287,4.296279,3.881013,3.716301,3.973436,4.143612,4.123291,4.352251,4.352251,4.476050,4.574773,NaN
1509,NaN,NaN,NaN,ARG,Argentina,529,"Venture capital availability, 1-7 (best)",Index 1-7 (best),2.839896,2.425063,2.131687,1.897883,1.909561,1.822370,1.745999,1.779793,2.009052,2.151421,2.243158,NaN
2014,NaN,NaN,NaN,ARM,Armenia,529,"Venture capital availability, 1-7 (best)",Index 1-7 (best),2.123574,1.999757,1.921578,1.789272,2.136096,2.369044,2.425793,2.355755,2.537145,2.796361,2.780550,NaN

In [97]:
df_rank.head()

,2017,2018,2019,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,data_col
17,NaN,140.0,141.0,AGO,Angola,530,"Venture capital availability, 1-7 (best)",Rank,NaN,NaN,NaN,129.0,140.0,NaN,119.0,98.0,NaN,NaN,NaN,141.0
511,102.0,88.0,81.0,ALB,Albania,530,"Venture capital availability, 1-7 (best)",Rank,95.0,101.0,101.0,107.0,124.0,132.0,136.0,128.0,133.0,124.0,103.0,81.0
1012,17.0,9.0,4.0,ARE,United Arab Emirates,530,"Venture capital availability, 1-7 (best)",Rank,16.0,17.0,13.0,16.0,13.0,8.0,10.0,4.0,7.0,7.0,7.0,4.0
1510,116.0,104.0,118.0,ARG,Argentina,530,"Venture capital availability, 1-7 (best)",Rank,83.0,108.0,117.0,124.0,129.0,135.0,142.0,138.0,126.0,120.0,120.0,118.0
2015,74.0,72.0,56.0,ARM,Armenia,530,"Venture capital availability, 1-7 (best)",Rank,124.0,130.0,129.0,131.0,109.0,89.0,93.0,96.0,90.0,73.0,76.0,56.0

In [98]:
# 152 countries in data
df_rank['Country Name'].nunique()

152

In [99]:
# list of columns with data
value_cols = ['2007-2008', '2008-2009', '2009-2010',
       '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015',
       '2015-2016', '2016-2017', '2017-2018', '2017', '2018', '2019']

In [100]:
# quick snapshot of dataframes
df_rank[value_cols].describe()

,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2017,2018,2019
count,127.000000,131.000000,131.000000,138.000000,141.000000,143.000000,147.000000,143.000000,139.000000,137.000000,136.000000,130.000000,134.000000,137.000000
mean,65.259843,67.038168,67.053435,70.427536,71.900709,72.944056,74.945578,72.902098,70.920863,69.912409,69.375000,67.638462,69.500000,70.262774
std,37.627500,38.337450,38.215646,40.098763,41.003537,41.516970,42.669289,41.578928,40.397314,39.832272,39.594975,39.205087,40.282601,40.255849
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,33.500000,34.500000,34.500000,36.250000,37.000000,37.500000,38.500000,37.500000,36.500000,36.000000,35.750000,34.250000,35.250000,36.000000
50%,65.000000,67.000000,67.000000,70.500000,72.000000,73.000000,75.000000,73.000000,71.000000,70.000000,69.500000,66.500000,68.500000,70.000000
75%,97.500000,99.500000,99.500000,104.750000,107.000000,108.500000,111.500000,108.500000,105.500000,104.000000,103.250000,101.750000,102.750000,104.000000
max,130.000000,134.000000,133.000000,139.000000,142.000000,144.000000,148.000000,144.000000,140.000000,138.000000,137.000000,135.000000,140.000000,141.000000

In [101]:
# index values have no 2019 data
df_index[value_cols].describe()

,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2017,2018,2019
count,127.000000,131.000000,131.000000,138.000000,141.000000,143.000000,147.000000,143.000000,139.000000,137.000000,136.000000,0.0,0.0,0.0
mean,3.288489,3.164625,2.869158,2.659362,2.687949,2.692248,2.705923,2.754663,2.839938,2.939999,3.002545,NaN,NaN,NaN
std,0.899434,0.826370,0.674535,0.680454,0.745284,0.713336,0.693771,0.712325,0.710434,0.740065,0.785252,NaN,NaN,NaN
min,1.869061,1.500274,1.487119,1.488852,1.420704,1.494243,1.466607,1.474669,1.545050,1.643615,1.621595,NaN,NaN,NaN
25%,2.631797,2.529897,2.361602,2.156080,2.147166,2.193814,2.183490,2.215631,2.328283,2.352083,2.480248,NaN,NaN,NaN
50%,3.110070,3.003566,2.733178,2.498967,2.573486,2.513357,2.576551,2.679087,2.715083,2.833833,2.847194,NaN,NaN,NaN
75%,3.918566,3.792939,3.361040,3.080125,3.015231,3.038222,3.153995,3.172582,3.243787,3.290093,3.435095,NaN,NaN,NaN
max,5.278317,5.127621,4.610427,4.441749,5.389427,4.684038,4.572578,4.775331,5.079046,4.940222,5.244993,NaN,NaN,NaN

Two datasets, 1 rank (1-140ish per year), 1 index (1-7).  
Index is normally prefered but doesn't have data for 2019.  
Will use rank for this reason. Transformation should be the approx the same.

In [102]:
df_rank.data_col.describe()

count    137.000000
mean      70.262774
std       40.255849
min        1.000000
25%       36.000000
50%       70.000000
75%      104.000000
max      141.000000
Name: data_col, dtype: float64

In [103]:
# transform 1-141 rank into 1-6
min_rank = df_rank.data_col.min()
max_rank = df_rank.data_col.max()
df_rank['new_rank_score'] = df_rank['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

<ipython-input-103-551690d914d3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rank['new_rank_score'] = df_rank['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [104]:
# need to invert score since higher rank is not better 
df_rank['new_rank_score'] = (6-df_rank['new_rank_score'])+1

<ipython-input-104-3b36b02a6a5e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rank['new_rank_score'] = (6-df_rank['new_rank_score'])+1

###### Going to test how rank and index conversions compare.

Unlike index scores, Rank scores don't necessarily have equal weightings as you go up. E.g. the difference betwee ranks 15-16 is not the same as ranks 17-18. But for our conversion we will have to treat them as equal, so I am keen to see how this affects results compared to the index scores.  
To do this I construct a simple test example of an older data column 2007-2008

In [105]:
df_rank['2007-2008'].describe()

count    127.000000
mean      65.259843
std       37.627500
min        1.000000
25%       33.500000
50%       65.000000
75%       97.500000
max      130.000000
Name: 2007-2008, dtype: float64

In [106]:
# convert rank into 1-6
df_rank['test0'] = df_rank['2007-2008'].apply(lambda row: convert_rank(row, 1, 130))
df_rank['test0'] = (6-df_rank['test0'])+1

<ipython-input-106-bdb0f1313397>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rank['test0'] = df_rank['2007-2008'].apply(lambda row: convert_rank(row, 1, 130))
<ipython-input-106-bdb0f1313397>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rank['test0'] = (6-df_rank['test0'])+1

In [107]:
df_index['test0'] = df_index['2007-2008'].apply(lambda row: convert_rank(row, 1, 7))

<ipython-input-107-9ac127eef1f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_index['test0'] = df_index['2007-2008'].apply(lambda row: convert_rank(row, 1, 7))

In [108]:
new_df = df_index[['test0','Country Name']].merge(df_rank[['test0','Country Name']], suffixes=['index','rank'],on='Country Name')

In [109]:
new_df.corr()

            test0index  test0rank
test0index    1.000000   0.978224
test0rank     0.978224   1.000000

The two are correlated enough to not dramatically impact results. But could be worth revising in the future when there is more recent index data.

#### Prepare Output

In [110]:
df_rank[['Country ISO3', 'Country Name','Indicator','data_col','new_rank_score']].head()

df_rank.rename(columns={'Country ISO3':'Country Code'}, inplace=True)

df_rank['higher_is_better'] = True

df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

D:\Apps\Anaconda\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-110-552a0f4fa6ec>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rank['higher_is_better'] = True

,Country Code,Country Name,Indicator,data_col,new_rank_score,higher_is_better
17,AGO,Angola,"Venture capital availability, 1-7 (best)",141.0,1.000000,True
511,ALB,Albania,"Venture capital availability, 1-7 (best)",81.0,3.142857,True
1012,ARE,United Arab Emirates,"Venture capital availability, 1-7 (best)",4.0,5.892857,True
1510,ARG,Argentina,"Venture capital availability, 1-7 (best)",118.0,1.821429,True
2015,ARM,Armenia,"Venture capital availability, 1-7 (best)",56.0,4.035714,True
2507,AUS,Australia,"Venture capital availability, 1-7 (best)",46.0,4.392857,True
3012,AUT,Austria,"Venture capital availability, 1-7 (best)",38.0,4.678571,True
3510,AZE,Azerbaijan,"Venture capital availability, 1-7 (best)",24.0,5.178571,True
4004,BDI,Burundi,"Venture capital availability, 1-7 (best)",78.0,3.250000,True
4494,BEL,Belgium,"Venture capital availability, 1-7 (best)",31.0,4.928571,True
4999,BEN,Benin,"Venture capital availability, 1-7 (best)",126.0,1.535714,True
5498,BFA,Burkina Faso,"Venture capital availability, 1-7 (best)",140.0,1.035714,True
5986,BGD,Bangladesh,"Venture capital availability, 1-7 (best)",112.0,2.035714,True
6491,BGR,Bulgaria,"Venture capital availability, 1-7 (best)",54.0,4.107143,True
6996,BHR,Bahrain,"Venture capital availability, 1-7 (best)",20.0,5.321429,True

In [111]:

# output scores to csv
df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

### 15. Legal Rights Strength

In [112]:
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Strength of Legal Rights
legal_rights_strength

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    268 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  266 non-null    object
 5   2000 [YR2000]  266 non-null    object
 6   2011 [YR2011]  266 non-null    object
 7   2012 [YR2012]  266 non-null    object
 8   2013 [YR2013]  266 non-null    object
 9   2014 [YR2014]  266 non-null    object
 10  2015 [YR2015]  266 non-null    object
 11  2016 [YR2016]  266 non-null    object
 12  2017 [YR2017]  266 non-null    object
 13  2018 [YR2018]  266 non-null    object
 14  2019 [YR2019]  266 non-null    object
 15  2020 [YR2020]  266 non-null    object
dtypes: object(16)
memory usage: 34.0+ KB

#### Find Relevant Columns

In [114]:
df['Series Name'].unique()

array(['Strength of legal rights index (0=weak to 12=strong)', nan,
       'Data from database: World Development Indicators',
       'Last Updated: 06/30/2021'], dtype=object)

In [115]:
# remove unwanted rows
df = df[~df['Series Code'].isna()]
df = df.replace('..', np.nan)

In [116]:
df.loc[0][0]

'Strength of legal rights index (0=weak to 12=strong)'

In [117]:
df.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Afghanistan,AFG,NaN,NaN,NaN,NaN,9,9,9,9,9,10,10,NaN
1,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Albania,ALB,NaN,NaN,NaN,NaN,7,6,6,6,8,8,8,NaN
2,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Algeria,DZA,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,NaN
3,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]'],
      dtype='object')

In [119]:
# clean data
df = df.replace('..', np.nan)

df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']] = df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']].astype(float)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  0 non-null      float64
 5   2000 [YR2000]  0 non-null      float64
 6   2011 [YR2011]  0 non-null      float64
 7   2012 [YR2012]  0 non-null      float64
 8   2013 [YR2013]  236 non-null    float64
 9   2014 [YR2014]  236 non-null    float64
 10  2015 [YR2015]  237 non-null    float64
 11  2016 [YR2016]  237 non-null    float64
 12  2017 [YR2017]  237 non-null    float64
 13  2018 [YR2018]  238 non-null    float64
 14  2019 [YR2019]  238 non-null    float64
 15  2020 [YR2020]  0 non-null      float64
dtypes: float64(12), object(4)
memory usage: 43.4+ KB

In [121]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

df['higher_is_better'] = True
df['Indicator'] = df['Series Name']
df['data_col'] = df['2019 [YR2019]']

#### Convert Scales

In [122]:
# convert 0-12 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=12))

In [123]:
df.head(16)

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col,new_rank_score
0,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Afghanistan,AFG,10.0,True,Strength of legal rights index (0=weak to 12=s...,10.0,5.166667
1,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Albania,ALB,8.0,True,Strength of legal rights index (0=weak to 12=s...,8.0,4.333333
2,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Algeria,DZA,2.0,True,Strength of legal rights index (0=weak to 12=s...,2.0,1.833333
3,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,American Samoa,ASM,NaN,True,Strength of legal rights index (0=weak to 12=s...,NaN,NaN
4,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Andorra,AND,NaN,True,Strength of legal rights index (0=weak to 12=s...,NaN,NaN
5,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Angola,AGO,1.0,True,Strength of legal rights index (0=weak to 12=s...,1.0,1.416667
6,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Antigua and Barbuda,ATG,5.0,True,Strength of legal rights index (0=weak to 12=s...,5.0,3.083333
7,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Argentina,ARG,2.0,True,Strength of legal rights index (0=weak to 12=s...,2.0,1.833333
8,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Armenia,ARM,6.0,True,Strength of legal rights index (0=weak to 12=s...,6.0,3.500000
9,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Aruba,ABW,NaN,True,Strength of legal rights index (0=weak to 12=s...,NaN,NaN
10,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Australia,AUS,11.0,True,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333
11,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Austria,AUT,4.0,True,Strength of legal rights index (0=weak to 12=s...,4.0,2.666667
12,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Azerbaijan,AZE,12.0,True,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000
13,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,"Bahamas, The",BHS,6.0,True,Strength of legal rights index (0=weak to 12=s...,6.0,3.500000
14,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Bahrain,BHR,3.0,True,Strength of legal rights index (0=weak to 12=s...,3.0,2.250000
15,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,Bangladesh,BGD,5.0,True,Strength of legal rights index (0=weak to 12=s...,5.0,3.083333

In [124]:
df.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '2019 [YR2019]', 'higher_is_better', 'Indicator', 'data_col',
       'new_rank_score'],
      dtype='object')

#### Prepare Output

In [125]:
df = df[['Country Name', 'Country Code','Indicator', 'data_col', 'new_rank_score','higher_is_better']]
df.sort_values(by='new_rank_score', ascending=False).head(16)

,Country Name,Country Code,Indicator,data_col,new_rank_score,higher_is_better
12,Azerbaijan,AZE,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True
132,Montenegro,MNE,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True
141,New Zealand,NZL,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True
158,Puerto Rico,PRI,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True
28,Brunei Darussalam,BRN,Strength of legal rights index (0=weak to 12=s...,12.0,6.000000,True
119,Malawi,MWI,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
105,Kosovo,XKX,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
101,Kenya,KEN,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
162,Rwanda,RWA,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
42,Colombia,COL,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
190,Tajikistan,TJK,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
10,Australia,AUS,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
99,Jordan,JOR,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
206,United States,USA,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
209,Vanuatu,VUT,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True
215,Zambia,ZMB,Strength of legal rights index (0=weak to 12=s...,11.0,5.583333,True

In [126]:
# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

### 16. Time to start business

#### Load Data

In [127]:
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Time to Start a Business
time_start_bus

In [128]:
# remove unwanted rows
df = df[~df['Series Code'].isna()]
df = df.replace('..', np.nan)

In [129]:
df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']] = df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']].astype(float)

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  0 non-null      float64
 5   2000 [YR2000]  0 non-null      float64
 6   2011 [YR2011]  221 non-null    float64
 7   2012 [YR2012]  225 non-null    float64
 8   2013 [YR2013]  236 non-null    float64
 9   2014 [YR2014]  236 non-null    float64
 10  2015 [YR2015]  237 non-null    float64
 11  2016 [YR2016]  237 non-null    float64
 12  2017 [YR2017]  237 non-null    float64
 13  2018 [YR2018]  238 non-null    float64
 14  2019 [YR2019]  238 non-null    float64
 15  2020 [YR2020]  0 non-null      float64
dtypes: float64(12), object(4)
memory usage: 35.3+ KB

In [131]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

df['higher_is_better'] = True
df['Indicator'] = df['Series Name']
df['data_col'] = df['2019 [YR2019]']

In [132]:
df.head()

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col
0,Time required to start a business (days),IC.REG.DURS,Afghanistan,AFG,8.5,True,Time required to start a business (days),8.5
1,Time required to start a business (days),IC.REG.DURS,Albania,ALB,4.5,True,Time required to start a business (days),4.5
2,Time required to start a business (days),IC.REG.DURS,Algeria,DZA,18.0,True,Time required to start a business (days),18.0
3,Time required to start a business (days),IC.REG.DURS,American Samoa,ASM,NaN,True,Time required to start a business (days),NaN
4,Time required to start a business (days),IC.REG.DURS,Andorra,AND,NaN,True,Time required to start a business (days),NaN

In [133]:
def map_days_to_scores(number):
    if number<=2:
        return 4
    if number <6 and number>2:
        return 3
    elif number >=6 and number <11:
        return 2
    elif number >=11:
        return 1

In [134]:
# map days to scores 
df['data_col'] = df['data_col'].apply(map_days_to_scores)

In [135]:
# convert 1-3 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=1,old_max=4))

In [136]:
df.head()

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col,new_rank_score
0,Time required to start a business (days),IC.REG.DURS,Afghanistan,AFG,8.5,True,Time required to start a business (days),2.0,2.666667
1,Time required to start a business (days),IC.REG.DURS,Albania,ALB,4.5,True,Time required to start a business (days),3.0,4.333333
2,Time required to start a business (days),IC.REG.DURS,Algeria,DZA,18.0,True,Time required to start a business (days),1.0,1.000000
3,Time required to start a business (days),IC.REG.DURS,American Samoa,ASM,NaN,True,Time required to start a business (days),NaN,NaN
4,Time required to start a business (days),IC.REG.DURS,Andorra,AND,NaN,True,Time required to start a business (days),NaN,NaN

In [137]:
df[df['2019 [YR2019]']<3]

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],higher_is_better,Indicator,data_col,new_rank_score
10,Time required to start a business (days),IC.REG.DURS,Australia,AUS,2.00,True,Time required to start a business (days),4.0,6.000000
35,Time required to start a business (days),IC.REG.DURS,Canada,CAN,1.50,True,Time required to start a business (days),4.0,6.000000
72,Time required to start a business (days),IC.REG.DURS,Georgia,GEO,1.00,True,Time required to start a business (days),4.0,6.000000
86,Time required to start a business (days),IC.REG.DURS,"Hong Kong SAR, China",HKG,1.50,True,Time required to start a business (days),4.0,6.000000
141,Time required to start a business (days),IC.REG.DURS,New Zealand,NZL,0.50,True,Time required to start a business (days),4.0,6.000000
171,Time required to start a business (days),IC.REG.DURS,Singapore,SGP,1.50,True,Time required to start a business (days),4.0,6.000000
194,Time required to start a business (days),IC.REG.DURS,Togo,TGO,2.50,True,Time required to start a business (days),3.0,4.333333
251,Time required to start a business (days),IC.REG.DURS,North America,NAC,2.85,True,Time required to start a business (days),3.0,4.333333

In [138]:
df['2019 [YR2019]'].describe()

count    238.000000
mean      19.771819
std       23.169794
min        0.500000
25%        8.075000
50%       14.000000
75%       22.991844
max      230.000000
Name: 2019 [YR2019], dtype: float64

In [139]:
df = df[['Country Name', 'Country Code','Indicator', 'data_col', 'new_rank_score','higher_is_better']]
df.sort_values(by='new_rank_score', ascending=False).head(16)

,Country Name,Country Code,Indicator,data_col,new_rank_score,higher_is_better
171,Singapore,SGP,Time required to start a business (days),4.0,6.000000,True
141,New Zealand,NZL,Time required to start a business (days),4.0,6.000000,True
10,Australia,AUS,Time required to start a business (days),4.0,6.000000,True
86,"Hong Kong SAR, China",HKG,Time required to start a business (days),4.0,6.000000,True
35,Canada,CAN,Time required to start a business (days),4.0,6.000000,True
72,Georgia,GEO,Time required to start a business (days),4.0,6.000000,True
1,Albania,ALB,Time required to start a business (days),3.0,4.333333,True
205,United Kingdom,GBR,Time required to start a business (days),3.0,4.333333,True
31,Burundi,BDI,Time required to start a business (days),3.0,4.333333,True
62,Estonia,EST,Time required to start a business (days),3.0,4.333333,True
139,Netherlands,NLD,Time required to start a business (days),3.0,4.333333,True
109,Latvia,LVA,Time required to start a business (days),3.0,4.333333,True
251,North America,NAC,Time required to start a business (days),3.0,4.333333,True
40,Chile,CHL,Time required to start a business (days),3.0,4.333333,True
204,United Arab Emirates,ARE,Time required to start a business (days),3.0,4.333333,True
129,Moldova,MDA,Time required to start a business (days),3.0,4.333333,True

#### Prepare Output

In [140]:
bf

'time_start_bus'

In [141]:
# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

### 17. Ease doing business

#### Load Data

In [142]:
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Ease of Doing Business
ease_doing_bus

In [143]:
# remove unwanted rows
df = df.replace('..', np.nan)
df = df[~df['Series Code'].isna()]

In [144]:
df['Series Name'].unique()

array(['Ease of doing business index (1=most business-friendly regulations)'],
      dtype=object)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  0 non-null      float64
 5   2000 [YR2000]  0 non-null      float64
 6   2011 [YR2011]  0 non-null      float64
 7   2012 [YR2012]  0 non-null      float64
 8   2013 [YR2013]  0 non-null      float64
 9   2014 [YR2014]  0 non-null      float64
 10  2015 [YR2015]  0 non-null      float64
 11  2016 [YR2016]  0 non-null      float64
 12  2017 [YR2017]  0 non-null      float64
 13  2018 [YR2018]  0 non-null      float64
 14  2019 [YR2019]  189 non-null    object
 15  2020 [YR2020]  0 non-null      float64
dtypes: float64(11), object(5)
memory usage: 35.3+ KB

In [146]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

# df['higher_is_better'] = False
df['Indicator'] = df['Series Name']
df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df['2019 [YR2019]']
# df['data_norm'] = df['data_norm'] = (df.data_col - df.data_col.mean())/df.data_col.std()

In [147]:
rank_min = df.data_col.min()
rank_max = df.data_col.max()

In [148]:
rank_min, rank_max

(1.0, 190.0)

In [149]:
# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=rank_min,old_max=rank_max))

In [150]:
# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [151]:
df.sort_values(by='new_rank_score', ascending=False).head(16)

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],Indicator,data_col,new_rank_score
141,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,New Zealand,NZL,1.0,Ease of doing business index (1=most business-...,1.0,6.000000
171,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Singapore,SGP,2.0,Ease of doing business index (1=most business-...,2.0,5.973545
86,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,"Hong Kong SAR, China",HKG,3.0,Ease of doing business index (1=most business-...,3.0,5.947090
53,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Denmark,DNK,4.0,Ease of doing business index (1=most business-...,4.0,5.920635
104,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,"Korea, Rep.",KOR,5.0,Ease of doing business index (1=most business-...,5.0,5.894180
206,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,United States,USA,6.0,Ease of doing business index (1=most business-...,6.0,5.867725
72,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Georgia,GEO,7.0,Ease of doing business index (1=most business-...,7.0,5.841270
205,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,United Kingdom,GBR,8.0,Ease of doing business index (1=most business-...,8.0,5.814815
147,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Norway,NOR,9.0,Ease of doing business index (1=most business-...,9.0,5.788360
187,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Sweden,SWE,10.0,Ease of doing business index (1=most business-...,10.0,5.761905
115,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Lithuania,LTU,11.0,Ease of doing business index (1=most business-...,11.0,5.735450
120,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Malaysia,MYS,12.0,Ease of doing business index (1=most business-...,12.0,5.708995
126,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Mauritius,MUS,13.0,Ease of doing business index (1=most business-...,13.0,5.682540
10,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Australia,AUS,14.0,Ease of doing business index (1=most business-...,14.0,5.656085
204,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,United Arab Emirates,ARE,16.0,Ease of doing business index (1=most business-...,16.0,5.603175
145,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,North Macedonia,MKD,17.0,Ease of doing business index (1=most business-...,17.0,5.576720

In [152]:
df['higher_is_better'] = True
df.head(15)

,Series Name,Series Code,Country Name,Country Code,2019 [YR2019],Indicator,data_col,new_rank_score,higher_is_better
0,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Afghanistan,AFG,173.0,Ease of doing business index (1=most business-...,173.0,1.449735,True
1,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Albania,ALB,82.0,Ease of doing business index (1=most business-...,82.0,3.857143,True
2,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Algeria,DZA,157.0,Ease of doing business index (1=most business-...,157.0,1.873016,True
3,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,American Samoa,ASM,NaN,Ease of doing business index (1=most business-...,NaN,NaN,True
4,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Andorra,AND,NaN,Ease of doing business index (1=most business-...,NaN,NaN,True
5,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Angola,AGO,177.0,Ease of doing business index (1=most business-...,177.0,1.343915,True
6,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Antigua and Barbuda,ATG,113.0,Ease of doing business index (1=most business-...,113.0,3.037037,True
7,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Argentina,ARG,126.0,Ease of doing business index (1=most business-...,126.0,2.693122,True
8,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Armenia,ARM,47.0,Ease of doing business index (1=most business-...,47.0,4.783069,True
9,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Aruba,ABW,NaN,Ease of doing business index (1=most business-...,NaN,NaN,True
10,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Australia,AUS,14.0,Ease of doing business index (1=most business-...,14.0,5.656085,True
11,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Austria,AUT,27.0,Ease of doing business index (1=most business-...,27.0,5.312169,True
12,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Azerbaijan,AZE,34.0,Ease of doing business index (1=most business-...,34.0,5.126984,True
13,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,"Bahamas, The",BHS,119.0,Ease of doing business index (1=most business-...,119.0,2.878307,True
14,Ease of doing business index (1=most business-...,IC.BUS.EASE.XQ,Bahrain,BHR,43.0,Ease of doing business index (1=most business-...,43.0,4.888889,True

#### Prepare Output

In [153]:
df = df[['Country Name', 'Country Code','Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 18. Ease of finding skilled employees

In [154]:
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Ease of finding skilled employees
ease_of_finding_skilled_employees

In [155]:
df.head()

      2017  2018  2019    Country  Unnamed: 4
0     3.88  4.03  3.89    Albania         NaN
1     3.98  3.84  4.12    Algeria         NaN
2  No data  2.08  2.76     Angola         NaN
3     4.35   4.1  4.19  Argentina         NaN
4     3.82  3.87  4.03    Armenia         NaN

In [156]:
values = ['2017','2018','2019']

In [157]:
df = df.replace('No data', np.nan)

In [158]:
df[values] = df[values].astype(float)

In [159]:
df.head()

   2017  2018  2019    Country  Unnamed: 4
0  3.88  4.03  3.89    Albania         NaN
1  3.98  3.84  4.12    Algeria         NaN
2   NaN  2.08  2.76     Angola         NaN
3  4.35  4.10  4.19  Argentina         NaN
4  3.82  3.87  4.03    Armenia         NaN

In [160]:
df[values].describe()

             2017        2018        2019
count  132.000000  136.000000  137.000000
mean     4.183258    4.136176    4.196058
std      0.664458    0.659186    0.589124
min      2.720000    2.080000    2.760000
25%      3.685000    3.637500    3.840000
50%      4.065000    4.095000    4.170000
75%      4.692500    4.655000    4.630000
max      5.670000    5.750000    5.320000

In [161]:
# create standard columns
df['data_col'] = df['2019']
df['new_rank_score'] = df['data_col']
df['higher_is_better'] = True
df['Indicator'] = indicator


df.rename(columns={'Country':'Country Name'}, inplace=True)


df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# output scores to csv
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

## 19. Amount invested into startups yearly from private, public, blended sources (respectively)

In [162]:
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Amount invested into startups yearly from private, public, blended sources (respectively)
start_up_investment

In [163]:
df.head(15)

,LOCATION,Country,SUBJECT,Subject,STAGES,Development stages,MEASURE,Measure,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2006,2006,USD,US Dollar,6,Millions,NaN,NaN,456.334579,NaN,NaN
1,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2007,2007,USD,US Dollar,6,Millions,NaN,NaN,680.293170,NaN,NaN
2,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2008,2008,USD,US Dollar,6,Millions,NaN,NaN,755.759626,NaN,NaN
3,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2009,2009,USD,US Dollar,6,Millions,NaN,NaN,532.682779,NaN,NaN
4,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2010,2010,USD,US Dollar,6,Millions,NaN,NaN,367.836251,NaN,NaN
5,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2011,2011,USD,US Dollar,6,Millions,NaN,NaN,246.528233,NaN,NaN
6,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2012,2012,USD,US Dollar,6,Millions,NaN,NaN,331.331196,NaN,NaN
7,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2013,2013,USD,US Dollar,6,Millions,NaN,NaN,252.934084,NaN,NaN
8,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2014,2014,USD,US Dollar,6,Millions,NaN,NaN,265.918369,NaN,NaN
9,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2015,2015,USD,US Dollar,6,Millions,NaN,NaN,288.485377,NaN,NaN
10,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2016,2016,USD,US Dollar,6,Millions,NaN,NaN,165.772881,NaN,NaN
11,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2017,2017,USD,US Dollar,6,Millions,NaN,NaN,354.855077,NaN,NaN
12,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2018,2018,USD,US Dollar,6,Millions,NaN,NaN,428.866448,NaN,NaN
13,AUS,Australia,VC_INV,Venture capital investments,VC_T,Total,USD_V,"USD, current prices",2019,2019,USD,US Dollar,6,Millions,NaN,NaN,487.310802,NaN,NaN
14,AUS,Australia,VC_INV,Venture capital investments,SEED,Seed,USD_V,"USD, current prices",2006,2006,USD,US Dollar,6,Millions,NaN,NaN,36.898341,NaN,NaN

In [164]:
df = df[(df['Development stages']=='Total') & (df.Year == 2019) & (df.MEASURE == 'USD_V')]
df = df[['Country','Year','Value']]
df.head(15)

             Country  Year        Value
13         Australia  2019   487.310802
120          Austria  2019    90.416881
232          Belgium  2019   395.828165
343           Canada  2019  3286.872933
448   Czech Republic  2019    27.204683
538          Denmark  2019   352.437466
650          Finland  2019   321.566548
762           France  2019  2164.944440
874          Germany  2019  2379.672789
985           Greece  2019    27.057841
1080         Hungary  2019   154.868417
1188         Ireland  2019   184.933805
1298           Italy  2019   261.115322
1408           Japan  2019  2502.530372
1473           Korea  2019  2708.439256

In [165]:
# create standard columns
df['Country Name'] = df['Country']
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df = df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

df = df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']],head(15)
df.reindex()

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['Country Name', 'Year', 'Indicator', 'data_col', 'higher_is_better'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [ ]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(bf), index=False)

## 20. Doing Business Index

In [ ]:
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df

In [ ]:
df = df[(df['DB Year'] == 2019)]
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,5]
df['Year'] = df.iloc[:,4]
df['Country Name'] = df.iloc[:,1]

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']]
df.head(15)

In [ ]:
df.to_csv('../indicator_scores/business_{}_scores.csv'.format(indicator), index=False)

### Score Aggregating

In [ ]:
import os

In [ ]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('business')]

In [ ]:
scores

In [ ]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [ ]:
df

In [ ]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.head(15)

In [ ]:
df.describe()

In [ ]:
df['Country Name'] = df['Country Name'].astype(str)
df.info()

In [ ]:
# checking country names
sorted(df['Country Name'].unique().tolist())

In [ ]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()

In [ ]:
# checking country names
sorted(df['Country Name'].unique().tolist())

In [ ]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [ ]:
agg_df.columns = ['agg_score', 'count_source' ]

In [ ]:
max_number_sources = agg_df.describe()['count_source']['max']

In [ ]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [ ]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [ ]:
agg_df.head(25)

In [ ]:
agg_df.to_csv('../pillar_scores/business_scores_v0.csv')